Repository akkadotnet/akka.net, pull requests merged in 2018-02, with the labels that each got.

#3322 Fixing premature pruning of Topics
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSubMediator.cs
Labels: needs review

#3324 FunctionRef
  src/common.props
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams.Tests/Dsl/StageActorRefSpec.cs
  src/core/Akka.Streams/Implementation/ActorRefBackpressureSinkStage.cs
  src/core/Akka.Streams/Implementation/IO/TcpStages.cs
  src/core/Akka.Streams/Stage/GraphStage.cs
  src/core/Akka.Tests/Actor/FunctionRefSpec.cs
  src/core/Akka.Tests/Akka.Tests.csproj
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Actor/ActorCell.FaultHandling.cs
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/IAutoReceivedMessage.cs
  src/core/Akka/Actor/RepointableActorRef.cs
  src/core/Akka/Util/Base64Encoding.cs
Labels: akka-actor, akka-streams, needs review

#3333 fixed API call inside TransportAdapters exentsion to support third-party RemoteActorRefProviders
  src/core/Akka.Remote/Transport/TransportAdapters.cs
Labels: akka-remote

#3321 StreamRefs
  build.fsx
  docs/articles/streams/streamrefs.md
  docs/examples/DocsExamples/Streams/StreamRefsDocTests.cs
  docs/images/sink-ref-animation.gif
  docs/images/source-ref-animation.gif
  src/Akka.sln
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams.TestKit/TestSink.cs
  src/core/Akka.Streams.Tests/Akka.Streams.Tests.csproj
  src/core/Akka.Streams.Tests/Dsl/StreamRefsSpec.cs
  src/core/Akka.Streams/ActorMaterializer.cs
  src/core/Akka.Streams/Akka.Streams.csproj
  src/core/Akka.Streams/Attributes.cs
  src/core/Akka.Streams/Dsl/StreamRefs.cs
  src/core/Akka.Streams/Implementation/Buffers.cs
  src/core/Akka.Streams/Serialization/Proto/StreamRefMessages.g.cs
  src/core/Akka.Streams/Serialization/StreamRefSerializer.cs
  src/core/Akka.Streams/StreamRefs.cs
  src/core/Akka.Streams/reference.conf
  src/protobuf/StreamRefMessages.proto
Labels: needs review
