Repository akkadotnet/akka.net, pull requests merged in 2018-04, with the labels that each got.

#3382 Fix GroupedWithin allocation of new buffer after emit.
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams, perf, reviewed positively

#3375 Port 4 "streams contrib" stages
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams.Tests/Dsl/AccumulateWhileUnchangedSpec.cs
  src/core/Akka.Streams.Tests/Dsl/LastElementSpec.cs
  src/core/Akka.Streams.Tests/Dsl/PartitionWithSpec.cs
  src/core/Akka.Streams.Tests/Dsl/SampleSpec.cs
  src/core/Akka.Streams/Dsl/AccumulateWhileUnchanged.cs
  src/core/Akka.Streams/Dsl/LastElement.cs
  src/core/Akka.Streams/Dsl/PartitionWith.cs
  src/core/Akka.Streams/Dsl/Sample.cs
Labels: akka-streams, reviewed positively

#3380 Clarifying companion object documentation.
  docs/articles/actors/receive-actor-api.md
Labels: docs, enhancement, reviewed positively

#3313 Discard timers from a previous (FSM) incarnation after restart
  src/core/Akka.Persistence/Fsm/PersistentFSMBase.cs
  src/core/Akka/Actor/FSM.cs
Labels: akka-actor, reviewed positively

#3388 added serve-docs.cmd and pages with default HOCON configurations for website
  docs/articles/configuration/akka.cluster.md
  docs/articles/configuration/akka.md
  docs/articles/configuration/akka.persistence.md
  docs/articles/configuration/akka.remote.md
  docs/articles/configuration/akka.streams.md
  docs/articles/configuration/akka.testkit.md
  docs/articles/configuration/toc.yml
  docs/articles/toc.yml
  serve-docs.cmd
  serve-docs.ps1
  src/common.props
Labels: docs

#3373 Add an Ask 'overload' that allows message generation with `IActorRef` inside
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests/Actor/AskSpec.cs
  src/core/Akka/Actor/Futures.cs
Labels: akka-actor, reviewed positively
