Repository akkadotnet/akka.net, pull requests merged in 2018-07, with the labels that each got.

#3535 Ignore CodeRush, GhostDoc, NDepend, VS Code files
  .gitignore
Labels: build system

#3549 Optimized recovery
  src/core/Akka.Persistence.Tests/OptimizedRecoverySpec.cs
  src/core/Akka.Persistence/Journal/AsyncWriteJournal.cs
  src/core/Akka.Persistence/PersistentActor.cs
  src/core/Akka.Persistence/Snapshot/SnapshotStore.cs
Labels: akka-persistence

#3555 Fixed ReceiveTimeout not triggered in some case when combined with NotInfluenceReceiveTimeout messages
  src/core/Akka.Tests/Actor/ReceiveTimeoutSpec.cs
  src/core/Akka/Actor/ActorCell.ReceiveTimeout.cs
Labels: akka-actor

#3494 Create a new linked CancellationToken for each database operation(#3471)
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/SqlJournal.cs
Labels: needs review
