Repository akkadotnet/akka.net, pull requests merged in 2018-10, with the labels that each got.

#3609 Sample Cleanup: Modernize Akka.Remote Chat Sample
  src/examples/Chat/ChatClient/Program.cs
  src/examples/Chat/ChatMessages/Messages.cs
  src/examples/Chat/ChatServer/Program.cs
Labels: akka-remote, examples

#3631 Fix too many open files issue (#3630)
  src/core/Akka/IO/TcpConnection.cs
Labels: ready

#3619 Check if Dependency Resolver is configured to avoid a `NullReferenceException`
  src/contrib/dependencyinjection/Akka.DI.Core/DIActorContextAdapter.cs
  src/contrib/dependencyinjection/Akka.DI.Core/DIActorSystemAdapter.cs
Labels: akka-actor
