Repository akkadotnet/akka.net, pull requests merged in 2020-03, with the labels that each got.

#4287 Update "what's new in 1.4" page
  docs/community/whats-new/akkadotnet-v1.4.md
  docs/community/whats-new/toc.yml
Labels: docs

#4294 explicitly support CI for the v1.3 branch
  build-system/pr-validation.yaml
Labels: akka.net v1.3

#4297 Revert "explicitly support CI for the v1.3 branch"
  build-system/pr-validation.yaml
Labels: akka.net v1.3, build system

#4296 update build YAML for v1.3
  build-system/azure-pipeline.mntr-template.yaml
  build-system/linux-pr-validation.yaml
  build-system/pr-validation.yaml
  build.fsx
Labels: akka.net v1.3, build system

#4293 adding NBench 2.0 to 1.3 Akka.NET
  build.fsx
  src/common.props
  src/core/Akka.Cluster.Tests.Performance/Akka.Cluster.Tests.Performance.csproj
  src/core/Akka.Cluster.Tests.Performance/App.config
  src/core/Akka.Cluster.Tests.Performance/Program.cs
  src/core/Akka.Cluster.Tests.Performance/Startup/ClusterStartupSpec.cs
  src/core/Akka.Remote.Tests.Performance/Akka.Remote.Tests.Performance.csproj
  src/core/Akka.Remote.Tests.Performance/App.config
  src/core/Akka.Remote.Tests.Performance/Program.cs
  src/core/Akka.Streams.Tests.Performance/Akka.Streams.Tests.Performance.csproj
  src/core/Akka.Streams.Tests.Performance/App.config
  src/core/Akka.Streams.Tests.Performance/Program.cs
  src/core/Akka.Tests.Performance/Akka.Tests.Performance.csproj
  src/core/Akka.Tests.Performance/App.config
  src/core/Akka.Tests.Performance/Program.cs
Labels: perf

#4298 Nbench 2.0 Integration (Akka.NET v1.4)
  build.fsx
  src/common.props
  src/core/Akka.Cluster.Tests.Performance/Akka.Cluster.Tests.Performance.csproj
  src/core/Akka.Cluster.Tests.Performance/App.config
  src/core/Akka.Cluster.Tests.Performance/Program.cs
  src/core/Akka.Cluster.Tests.Performance/Startup/ClusterStartupSpec.cs
  src/core/Akka.Remote.Tests.Performance/Akka.Remote.Tests.Performance.csproj
  src/core/Akka.Remote.Tests.Performance/App.config
  src/core/Akka.Remote.Tests.Performance/Program.cs
  src/core/Akka.Streams.Tests.Performance/Akka.Streams.Tests.Performance.csproj
  src/core/Akka.Streams.Tests.Performance/App.config
  src/core/Akka.Streams.Tests.Performance/Program.cs
  src/core/Akka.Tests.Performance/Akka.Tests.Performance.csproj
  src/core/Akka.Tests.Performance/App.config
  src/core/Akka.Tests.Performance/Program.cs
Labels: build system, perf

#4310 V1.3.18 backport
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Endpoint.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransport.cs
  src/core/Akka.Remote/Transport/DotNetty/TcpTransport.cs
Labels: akka.net v1.3

#4311 added v1.3.18 release notes
  RELEASE_NOTES.md
  src/common.props
Labels: akka.net v1.3

#4312 fixed some racy Akka.Streams specs
  src/core/Akka.Streams.Tests/Actor/ActorSubscriberSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowConflateSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowScanAsyncSpec.cs
  src/core/Akka.Streams.Tests/IO/OutputStreamSourceSpec.cs
Labels: akka-streams, tests

#4315 harden RemoteActorsLeakSpec
  src/core/Akka.Remote.Tests/ActorsLeakSpec.cs
Labels: akka-remote, tests

#4318 added missing API checks
  src/core/Akka.API.Tests/Akka.API.Tests.csproj
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterMetrics.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterSharding.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveDistributedData.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistenceSqlCommon.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistenceSqlCommonQuery.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.cs
Labels: tests

#4319 Revert common sealing
  src/contrib/persistence/Akka.Persistence.Sql.Common/Settings.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistenceSqlCommon.approved.txt
Labels: akka-persistence, regression

#4321 Update to "What's new in Akka.NET v1.4?" page
  docs/community/whats-new/akkadotnet-v1.4.md
Labels: docs

#4322 Gracefully handle exception throw in SnapshotOffer
  src/core/Akka.Persistence.Tests/SnapshotDecodeFailureSpec.cs
  src/core/Akka.Persistence/Eventsourced.Recovery.cs
Labels: akka-persistence

#4349 Remove typo in introduction doc.
  docs/articles/intro/tutorial-3.md
Labels: docs

#4351 Optimize some memory allocations from ActorPath.
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Actor/ActorPath.cs
Labels: akka-actor, perf

#3778 Timers for self scheduled messages added, FSM timers fixes
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Persistence.Tests/TimerPersistentActorSpec.cs
  src/core/Akka.Persistence/Fsm/PersistentFSMBase.cs
  src/core/Akka.TestKit/Internal/InternalTestActorRef.cs
  src/core/Akka.Tests/Actor/TimerSpec.cs
  src/core/Akka/Actor/ActorBase.Lifecycle.cs
  src/core/Akka/Actor/ActorBase.cs
  src/core/Akka/Actor/ActorCell.DefaultMessages.cs
  src/core/Akka/Actor/ActorCell.cs
  src/core/Akka/Actor/FSM.cs
  src/core/Akka/Actor/Scheduler/ITimerScheduler.cs
  src/core/Akka/Actor/Scheduler/IWithTimers.cs
  src/core/Akka/Actor/Scheduler/TimerScheduler.cs
Labels: akka-actor

#4358 #4353 Config.WithFallback is acting inconsistently
  src/core/Akka.Cluster.Tests.MultiNode/Bugfix4353Specs.cs
  src/core/Akka/Actor/Deploy.cs
  src/core/Akka/Actor/Settings.cs
  src/core/Akka/Configuration/Config.cs
  src/core/Akka/Configuration/Hocon/HoconObject.cs
Labels: akka-cluster, configuration

#4354 Sharding update
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGracefulShutdownSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRegistrationCoordinatedShutdownSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterShardingGuardian.cs
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardingMessages.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterSharding.approved.txt
Labels: akka-cluster-sharding
