Repository akkadotnet/akka.net, pull requests merged in 2020-09, with the labels that each got.

#4559 Remove NetFrameworkLibVersion support
  build.fsx
  src/common.props
  src/contrib/cluster/Akka.Cluster.Metrics/Akka.Cluster.Metrics.csproj
  src/contrib/cluster/Akka.Cluster.Sharding/Akka.Cluster.Sharding.csproj
  src/contrib/cluster/Akka.Cluster.Tools/Akka.Cluster.Tools.csproj
  src/contrib/cluster/Akka.DistributedData.LightningDB/Akka.DistributedData.LightningDB.csproj
  src/contrib/cluster/Akka.DistributedData/Akka.DistributedData.csproj
  src/contrib/dependencyinjection/Akka.DI.Core/Akka.DI.Core.csproj
  src/contrib/persistence/Akka.Persistence.Query.Sql/Akka.Persistence.Query.Sql.csproj
  src/contrib/persistence/Akka.Persistence.Sql.Common/Akka.Persistence.Sql.Common.csproj
  src/contrib/persistence/Akka.Persistence.Sql.TestKit/Akka.Persistence.Sql.TestKit.csproj
  src/contrib/serializers/Akka.Serialization.Hyperion/Akka.Serialization.Hyperion.csproj
  src/contrib/testkits/Akka.TestKit.Xunit/Akka.TestKit.Xunit.csproj
  src/contrib/testkits/Akka.TestKit.Xunit2/Akka.TestKit.Xunit2.csproj
  src/core/Akka.Cluster.TestKit/Akka.Cluster.TestKit.csproj
  src/core/Akka.Cluster/Akka.Cluster.csproj
  src/core/Akka.Coordination/Akka.Coordination.csproj
  src/core/Akka.Persistence.Query/Akka.Persistence.Query.csproj
  src/core/Akka.Persistence/Akka.Persistence.csproj
  src/core/Akka.Remote.TestKit/Akka.Remote.TestKit.csproj
  src/core/Akka.Remote.Tests/Transport/DotNettySslSupportSpec.cs
  src/core/Akka.Remote/Akka.Remote.csproj
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransportSettings.cs
  src/core/Akka.Streams.TestKit/Akka.Streams.TestKit.csproj
  src/core/Akka.Streams/Akka.Streams.csproj
  src/core/Akka.TestKit/Akka.TestKit.csproj
  src/core/Akka.Tests.Shared.Internals/Akka.Tests.Shared.Internals.csproj
  src/core/Akka/Akka.csproj
Labels: akka-actor

#4562 Print TypeName in ShardRegion logs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
Labels: akka-cluster-sharding, logging

#4565 PersistenceIdsSpeck TCK Updates - make deallocate_AllPersistenceIds test opt-out
  src/core/Akka.Persistence.TCK/Query/PersistenceIdsSpec.cs
Labels: akka-persistence, akka-persistence-query, tests
