Repository akkadotnet/akka.net, pull requests merged in 2020-12, with the labels that each got.

#4649 akka.PublishSubscribe - new setting and small fixes
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/PublishSubscribe/DistributedPubSubMediatorSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/PublishSubscribe/DistributedPubSubMessageSerializerSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSubMediator.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSubSettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Internal/TopicMessages.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Internal/Topics.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/PerGroupingBuffer.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Serialization/DistributedPubSubMessageSerializer.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/reference.conf
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterTools.approved.txt
  src/core/Akka.Remote.TestKit/MultiNodeSpec.cs
Labels: akka-cluster-tools

#4656 Added backwards-compatibilty to DistributedPubSubSettings constructor
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSubSettings.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterTools.approved.txt
Labels: akka-cluster-tools, api-change

#4662 Fix KeyNotFound exception thrown by DData DataEnvelope.Equals
  src/contrib/cluster/Akka.DistributedData/Internal/Internal.cs
Labels: akka-ddata

#4666 Provide sensible default values for Akka.Persistence circuit breaker configuration values
  src/core/Akka.Persistence/Snapshot/SnapshotStore.cs
Labels: akka-persistence, configuration

#4618 if not specified in HOCON, set AppVersion to executing assembly version
  src/core/Akka.Cluster.Tests/ClusterConfigSpec.cs
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
  src/core/Akka/Util/AppVersion.cs
Labels: akka-cluster, configuration

#4678 Move DotNetty batching scheduling off of DotNetty STEE and onto HashedWheelTimer
  src/core/Akka.Remote.Tests/Transport/DotNettyBatchWriterSpecs.cs
  src/core/Akka.Remote/Transport/DotNetty/BatchWriter.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransport.cs
Labels: akka-remote, dotnetty, perf

#4675 API - added overload for IScheduler that accepts IRunnable
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.TestKit/TestScheduler.cs
  src/core/Akka.Tests/Actor/Scheduler/SchedulerShutdownSpec.cs
  src/core/Akka/Actor/Scheduler/HashedWheelTimerScheduler.cs
  src/core/Akka/Actor/Scheduler/IActionScheduler.cs
  src/core/Akka/Actor/Scheduler/SchedulerBase.cs
Labels: akka-actor, api-change, perf

#4680 Added Timestamp to EventEnvelope
  src/Akka.sln
  src/contrib/persistence/Akka.Persistence.Query.Sql/AllEventsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByPersistenceIdPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByTagPublisher.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/BatchingSqlJournal.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/QueryExecutor.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/SqlJournal.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistence.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistenceQuery.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistenceSqlCommon.approved.txt
  src/core/Akka.Persistence.Query/EventEnvelope.cs
  src/core/Akka.Persistence.TCK/Akka.Persistence.TCK.csproj
  src/core/Akka.Persistence.TCK/Journal/JournalSpec.cs
  src/core/Akka.Persistence.TCK/Query/CurrentEventsByPersistenceIdSpec.cs
  src/core/Akka.Persistence.TCK/Query/CurrentEventsByTagSpec.cs
  src/core/Akka.Persistence.TCK/Query/EventsByPersistenceIdSpec.cs
  src/core/Akka.Persistence/Persistent.cs
  src/core/Akka.Persistence/Serialization/PersistenceMessageSerializer.cs
  src/core/Akka.Persistence/Serialization/Proto/Persistence.g.cs
  src/protobuf/Persistence.proto
Labels: akka-persistence-query

#4690 upgraded to Incrementalist v0.4.0
  build.ps1
  build.sh
Labels: build system

#4684 fixed bug with IPersistentRepresentation.Update and timestamp propagation
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/BatchingSqlJournal.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/QueryExecutor.cs
Labels: akka-persistence, api-change

#4685 Auto-tuning DotNetty batching + removing scheduler from batching system
  src/common.props
  src/core/Akka.Remote.Tests/RemoteConfigSpec.cs
  src/core/Akka.Remote.Tests/Transport/DotNettyBatchWriterSpecs.cs
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Transport/DotNetty/BatchWriter.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransport.cs
  src/core/Akka.Remote/Transport/DotNetty/TcpTransport.cs
Labels: akka-remote, dotnetty

#4686 fix NRE inside RemotingTerminator
  src/core/Akka.Remote/RemoteActorRefProvider.cs
  src/core/Akka/Actor/FSM.cs
  src/core/Akka/Event/Logging.cs
Labels: akka-actor, logging

#4568 Create ReadWriteEventAdapter and set if event is bound to separate re…
  src/core/Akka.Persistence.Tests/Journal/MemoryEventAdaptersSpec.cs
  src/core/Akka.Persistence/Journal/EventAdapters.cs
Labels: akka-persistence

#4703 Update Akka.Remote performance guidance for Akka.NET v1.4.14
  docs/articles/remoting/performance.md
Labels: akka-remote, docs, perf
