Repository akkadotnet/akka.net, pull requests merged in 2020-11, with the labels that each got.

#4598 akka.cluster - disseminate downing decisions faster
  src/core/Akka.Cluster.Tests.MultiNode/TransitionSpec.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
Labels: akka-cluster

#4600 akka.cluster.sharding - batch update
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGracefulShutdownSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingLeavingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingMinMembersSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRegistrationCoordinatedShutdownSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRememberEntitiesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/MultiNodeClusterShardingConfig.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/MultiNodeClusterShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/RollingUpdateShardAllocationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingInternalsSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/DeprecatedLeastShardAllocationStrategySpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/LeastShardAllocationStrategyRandomizedSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/LeastShardAllocationStrategySpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterShardingGuardian.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterShardingSettings.cs
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Internal/AbstractLeastShardAllocationStrategy.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Internal/LeastShardAllocationStrategy.cs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Shard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardAllocationStrategy.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardedDaemonProcess.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardingMessages.cs
  src/contrib/cluster/Akka.Cluster.Sharding/reference.conf
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterSharding.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveRemote.approved.txt
  src/core/Akka.Cluster.Tests/ActorRefIgnoreSerializationSpec.cs
  src/core/Akka.Cluster/ClusterEvent.cs
  src/core/Akka.Remote/RemoteActorRefProvider.cs
  src/core/Akka.Tests/Actor/ActorRefIgnoreSpec.cs
  src/core/Akka/Actor/ActorPath.cs
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/ActorRefProvider.cs
  src/core/Akka/Actor/ActorSystem.cs
  src/core/Akka/Actor/Internal/ActorSystemImpl.cs
  src/core/Akka/Util/AppVersion.cs
Labels: akka-cluster-sharding

#4617 removed InternalApi attribute from ActorSystemSetup
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Actor/Setup/ActorSystemSetup.cs
Labels: akka-actor, api-change

#4630 Make DistinctRetainingFanOutPublisher a "public servant".
  src/core/Akka.API.Tests/Akka.API.Tests.csproj
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams/Dsl/Sink.cs
Labels: akka-streams

#4633 fixed documentation errors with Akka.Docts.Tests ReceiveTimeoutSpecs
  src/core/Akka.Docs.Tests/Actors/ReceiveTimeoutSpecs.cs
Labels: docs

#4632 Akka.Discovery Release Cleanup
  docs/articles/discovery/index.md
  docs/articles/discovery/toc.yml
  docs/articles/toc.yml
  src/core/Akka.Discovery/Akka.Discovery.csproj
Labels: akka-discovery

#4638 added .YML and .YAML mime types to IIS
  docs/web.config
Labels: docs

#4616 Docs: Programmatic Akka.NET Configuration
  docs/articles/concepts/configuration.md
  docs/articles/networking/serialization.md
  src/core/Akka.Docs.Tests/Configuration/SerializationSetupDocSpec.cs
Labels: docs
