Repository akkadotnet/akka.net, pull requests merged in 2020-10, with the labels that each got.

#4571 Bring ShardedDaemonProcess up to date
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ShardedDaemonProcessSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardedDaemonProcessSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardedDaemonProcess.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardedDaemonProcessSettings.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterSharding.approved.txt
Labels: akka-cluster-sharding

#4511 Port scala akka PR #26816 to Akka.NET
  docs/articles/actors/dispatchers.md
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Sharding/reference.conf
  src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClientReceptionist.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/reference.conf
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSub.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/reference.conf
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonManager.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonProxy.cs
  src/contrib/cluster/Akka.DistributedData/ReplicatorSettings.cs
  src/contrib/cluster/Akka.DistributedData/reference.conf
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Cluster.Tests/ClusterConfigSpec.cs
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
  src/core/Akka.MultiNodeTestRunner.Shared/Akka.MultiNodeTestRunner.Shared.csproj
  src/core/Akka.Streams.Tests/Dsl/UnfoldResourceAsyncSourceSpec.cs
  src/core/Akka.Streams.Tests/Dsl/UnfoldResourceSourceSpec.cs
  src/core/Akka.Streams.Tests/IO/FileSinkSpec.cs
  src/core/Akka.Streams.Tests/IO/FileSourceSpec.cs
  src/core/Akka.Streams.Tests/IO/InputStreamSinkSpec.cs
  src/core/Akka.Streams.Tests/IO/OutputStreamSourceSpec.cs
  src/core/Akka.Streams.Tests/StreamDispatcherSpec.cs
  src/core/Akka.Streams/ActorMaterializer.cs
  src/core/Akka.Streams/Attributes.cs
  src/core/Akka.Streams/Implementation/IO/IOSinks.cs
  src/core/Akka.Streams/Implementation/IO/IOSources.cs
  src/core/Akka.Streams/Implementation/Stages/Stages.cs
  src/core/Akka.Streams/reference.conf
  src/core/Akka.Tests/Actor/ActorSystemDispatcherSpec.cs
  src/core/Akka/Actor/ActorRefProvider.cs
  src/core/Akka/Actor/ActorSystem.cs
  src/core/Akka/Actor/Deploy.cs
  src/core/Akka/Actor/Internal/ActorSystemImpl.cs
  src/core/Akka/Configuration/Pigeon.conf
  src/core/Akka/Dispatch/AbstractDispatcher.cs
  src/core/Akka/Dispatch/Dispatchers.cs
  src/core/Akka/Helios.Concurrency.DedicatedThreadPool.cs
  src/core/Akka/Properties/AssemblyInfo.cs
  src/core/Akka/Util/Option.cs
Labels: akka-actor

#4572 Fix ToString for KeepOldest strategy
  src/core/Akka.Cluster/SplitBrainResolver.cs
Labels: akka-cluster, logging

#4574 Fix time in AtLeastOnceDeliverySemantic.SetDeliverySnapshot to be…
  src/core/Akka.Persistence/AtLeastOnceDeliverySemantic.cs
Labels: akka-persistence

#4576 Fix typo in cluster.conf
  src/core/Akka.Cluster/Configuration/Cluster.conf
Labels: akka-cluster

#4577 Cluster - Add app-version to the Member information
  build.fsx
  build.ps1
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Cluster.Tests.Performance/Serialization/ClusterMessageSerializerSpec.cs
  src/core/Akka.Cluster.Tests/ClusterConfigSpec.cs
  src/core/Akka.Cluster.Tests/ClusterSpec.cs
  src/core/Akka.Cluster.Tests/MemberOrderingSpec.cs
  src/core/Akka.Cluster.Tests/Serialization/ClusterMessageSerializerSpec.cs
  src/core/Akka.Cluster.Tests/SplitBrainStrategySpec.cs
  src/core/Akka.Cluster.Tests/TestMember.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterEvent.cs
  src/core/Akka.Cluster/ClusterReadView.cs
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
  src/core/Akka.Cluster/Member.cs
  src/core/Akka.Cluster/Serialization/ClusterMessageSerializer.cs
  src/core/Akka.Cluster/Serialization/Proto/ClusterMessages.g.cs
  src/core/Akka.Tests/Util/AkkaVersionSpec.cs
  src/core/Akka/Util/AkkaVersion.cs
  src/protobuf/ClusterMessages.proto
Labels: akka-cluster

#4595 Api/rename app version
  src/core/Akka.API.Tests/Akka.API.Tests.csproj
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Cluster.Tests.Performance/Serialization/ClusterMessageSerializerSpec.cs
  src/core/Akka.Cluster.Tests/ClusterConfigSpec.cs
  src/core/Akka.Cluster.Tests/ClusterSpec.cs
  src/core/Akka.Cluster.Tests/MemberOrderingSpec.cs
  src/core/Akka.Cluster.Tests/Serialization/ClusterMessageSerializerSpec.cs
  src/core/Akka.Cluster.Tests/SplitBrainStrategySpec.cs
  src/core/Akka.Cluster.Tests/TestMember.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka.Cluster/Member.cs
  src/core/Akka.Cluster/Serialization/ClusterMessageSerializer.cs
  src/core/Akka.Tests/Util/AkkaVersionSpec.cs
  src/core/Akka/Util/AppVersion.cs
Labels: akka-cluster

#4375 Double wildcard implementation for ActorSelection
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests/Actor/ActorSelectionSpec.cs
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/ActorSelection.cs
Labels: akka-actor
