Repository akkadotnet/akka.net, pull requests merged in 2020-02, with the labels that each got.

#4178 fix DData ReplicatorSpec
  src/contrib/cluster/Akka.DistributedData.Tests.MultiNode/DurableDataSpec.cs
  src/contrib/cluster/Akka.DistributedData.Tests.MultiNode/DurablePruningSpec.cs
  src/contrib/cluster/Akka.DistributedData.Tests.MultiNode/ReplicatorSpec.cs
  src/contrib/cluster/Akka.DistributedData/Replicator.cs
Labels: akka-ddata, multi node spec

#4190 Akka.Persistence.TCK.SnapshotStoreSpec ignores ShouldSerializeSnapshots if SupportsSerialization == false
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSpec.cs
Labels: akka-persistence, confirmed bug, tests

#4204 fix race conditions with node exits in MNTR
  src/core/Akka.Remote.TestKit/MultiNodeSpec.cs
  src/core/Akka.Remote.TestKit/Player.cs
Labels: configuration, confirmed bug, multi node spec

#4150 harden NodeChurnSpec
  src/core/Akka.Cluster.Tests.MultiNode/NodeChurnSpec.cs
Labels: akka-cluster, multi node spec

#4205 enable DData ReplicatorChaosSpec
  src/contrib/cluster/Akka.DistributedData.Tests.MultiNode/ReplicatorChaosSpec.cs
Labels: akka-ddata, multi node spec

#4206 disabling the MNTR TCP transport from logging
  src/core/Akka.Remote.TestKit/ConsoleLogger.cs
  src/core/Akka.Remote.TestKit/RemoteConnection.cs
Labels: enhancement, logging, multi node spec

#4208 disabling deadletter logging by default in MNTR
  src/core/Akka.Remote.TestKit/MultiNodeSpec.cs
Labels: logging, multi node spec

#4210 DData: enable and fix Jepsen inspired insert spec
  src/contrib/cluster/Akka.DistributedData.Tests.MultiNode/JepsenInspiredInsertSpec.cs
Labels: akka-ddata, multi node spec

#4227 ActorSpawn benchmark tweaks
  src/benchmark/Akka.Benchmarks/Actor/SpawnActorBenchmarks.cs
Labels: akka-actor, perf

#4249 no throw inside EndpointReader.UpdateState
  src/core/Akka.Remote/Endpoint.cs
Labels: akka-remote

#4252 disable buffer pooling in DotNetty transport
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransport.cs
  src/core/Akka.Remote/Transport/DotNetty/TcpTransport.cs
Labels: akka-remote

#4209 Racy specs: Akka.Streams
  src/core/Akka.Streams.TestKit.Tests/Utils.cs
  src/core/Akka.Streams.Tests/Actor/ActorPublisherSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowDelaySpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowIdleInjectSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowSelectAsyncUnorderedSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowSplitWhenSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowThrottleSpec.cs
  src/core/Akka.Streams.Tests/Dsl/IntervalBasedRateLimiterSpec.cs
  src/core/Akka.Streams.Tests/Dsl/ObservableSourceSpec.cs
  src/core/Akka.Streams.Tests/Implementation/TimeoutsSpec.cs
Labels: akka-streams, tests

#4256 Disable racy Remoting and Core specs
  src/core/Akka.Remote.Tests/RemotingSpec.cs
  src/core/Akka.Remote.Tests/Transport/Bug3370DotNettyLinuxBufferPoolSpec.cs
  src/core/Akka.Tests/Actor/FSMTimingSpec.cs
Labels: akka-actor, akka-remote

#4212 Migrating DData to Google.Protobuf wire format
  build.fsx
  src/contrib/cluster/Akka.DistributedData.Tests/Serialization/ReplicatedDataSerializerSpec.cs
  src/contrib/cluster/Akka.DistributedData.Tests/Serialization/ReplicatorMessageSerializerSpec.cs
  src/contrib/cluster/Akka.DistributedData/GSet.cs
  src/contrib/cluster/Akka.DistributedData/IReplicatedDataSerialization.cs
  src/contrib/cluster/Akka.DistributedData/Internal/Internal.cs
  src/contrib/cluster/Akka.DistributedData/Key.cs
  src/contrib/cluster/Akka.DistributedData/LWWDictionary.cs
  src/contrib/cluster/Akka.DistributedData/LWWRegister.cs
  src/contrib/cluster/Akka.DistributedData/ORDictionary.cs
  src/contrib/cluster/Akka.DistributedData/ORMultiValueDictionary.cs
  src/contrib/cluster/Akka.DistributedData/ORSet.cs
  src/contrib/cluster/Akka.DistributedData/PNCounterDictionary.cs
  src/contrib/cluster/Akka.DistributedData/Replicator.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/Proto/ReplicatedDataMessages.g.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/Proto/ReplicatorMessages.g.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/ReplicatedDataSerializer.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/ReplicatorMessageSerializer.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/SerializationSupport.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Properties/AssemblyInfo.cs
  src/protobuf/ReplicatedDataMessages.proto
  src/protobuf/ReplicatorMessages.proto
Labels: akka-ddata, serialization

#4260 fixed invalid HOCON with DisallowJoinOfTwoClusterSpec
  src/core/Akka.Cluster.Tests.MultiNode/DisallowJoinOfTwoClustersSpec.cs
Labels: confirmed bug, multi node spec

#4211 ActorCell cleanup
  src/core/Akka.Remote/Endpoint.cs
  src/core/Akka/Actor/ActorCell.DefaultMessages.cs
  src/core/Akka/Actor/ActorCell.cs
  src/core/Akka/Actor/ActorPath.cs
Labels: akka-actor, akka-remote

#4263 remove Akka.Persistence.PersistentView
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistence.approved.txt
  src/core/Akka.Persistence.FSharp/FsApi.fs
  src/core/Akka.Persistence.Tests/PersistentViewSpec.Actors.cs
  src/core/Akka.Persistence.Tests/PersistentViewSpec.cs
  src/core/Akka.Persistence/PersistentView.Lifecycle.cs
  src/core/Akka.Persistence/PersistentView.Recovery.cs
  src/core/Akka.Persistence/PersistentView.cs
Labels: akka-persistence

#4255 enable remember-entities with DData Cluster.Sharding
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRememberEntitiesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Shard.cs
Labels: akka-cluster-sharding, akka-ddata

#4257 disable Akka.Remote DotNetty batching system inside TestKit by default
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/ClusterMetricsExtensionSpec.cs
  src/contrib/cluster/Akka.Cluster.Metrics/ClusterMetrics.cs
  src/core/Akka.Cluster.Tests/DowningProviderSpec.cs
  src/core/Akka.Persistence.Tests/AtLeastOnceDeliverySpec.cs
  src/core/Akka.Remote.Tests/RemotingSpec.cs
  src/core/Akka.Remote.Tests/Transport/AkkaProtocolSpec.cs
  src/core/Akka.Streams.Tests/Implementation/TimeoutsSpec.cs
  src/core/Akka.TestKit/Internal/Reference.conf
  src/core/Akka.Tests/Actor/FSMTimingSpec.cs
  src/core/Akka.Tests/Dispatch/DispatchersSpec.cs
  src/core/Akka.Tests/IO/TcpIntegrationSpec.cs
Labels: akka-remote, tests

#4238 Internalize types 1
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Streams.Tests/Dsl/FlowSpec.cs
  src/core/Akka.Tests.Shared.Internals/AkkaSpecExtensions.cs
  src/core/Akka/Properties/AssemblyInfo.cs
  src/core/Akka/Util/Internal/Collections/EmptyReadOnlyCollections.cs
  src/core/Akka/Util/Internal/Collections/EnumeratorExtensions.cs
  src/core/Akka/Util/Internal/Collections/IBinaryTreeNode.cs
  src/core/Akka/Util/Internal/Collections/IKeyValuePair.cs
  src/core/Akka/Util/Internal/Collections/Iterator.cs
  src/core/Akka/Util/Internal/DictionaryExtensions.cs
  src/core/Akka/Util/Internal/StringBuilderExtensions.cs
Labels: akka-actor

#4269 harden DData.Tests.WriteAggregatorSpecs
  src/contrib/cluster/Akka.DistributedData.Tests/WriteAggregatorSpec.cs
Labels: akka-ddata, tests

#4275 removed beta status from Akka.Cluster.Sharding and Akka.DistributedData
  src/contrib/cluster/Akka.Cluster.Sharding/Akka.Cluster.Sharding.csproj
  src/contrib/cluster/Akka.DistributedData/Akka.DistributedData.csproj
Labels: akka-cluster-sharding, akka-ddata
