Repository akkadotnet/akka.net, pull requests merged in 2020-01, with the labels that each got.

#4135 Refactor TaskEx API to deprecate pre-4.6.1 methods
  src/common.props
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/Futures.cs
  src/core/Akka/Util/Internal/TaskEx.cs
Labels: akka-actor

#4106 Akka.Remote: improved write performance with DotNetty flush-batching
  src/core/Akka.Cluster.Tests.MultiNode/NodeChurnSpec.cs
  src/core/Akka.Remote.Tests.MultiNode/RemoteDeliverySpec.cs
  src/core/Akka.Remote.Tests/RemoteConfigSpec.cs
  src/core/Akka.Remote.Tests/Transport/DotNettyBatchWriterSpecs.cs
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Transport/DotNetty/AkkaLoggingHandler.cs
  src/core/Akka.Remote/Transport/DotNetty/BatchWriter.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransport.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransportSettings.cs
  src/core/Akka.Remote/Transport/DotNetty/TcpTransport.cs
Labels: akka-remote, dotnetty, perf

#4151 Standardize serialized type manifest lookup process
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Serialization/DistributedPubSubMessageSerializer.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Persistence/Serialization/PersistenceMessageSerializer.cs
  src/core/Akka.Persistence/Serialization/PersistenceSnapshotSerializer.cs
  src/core/Akka.Remote/Serialization/DaemonMsgCreateSerializer.cs
  src/core/Akka.Remote/Serialization/MessageContainerSerializer.cs
  src/core/Akka.Remote/Serialization/WrappedPayloadSupport.cs
  src/core/Akka.Streams/Serialization/StreamRefSerializer.cs
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Actor/ActorCell.cs
  src/core/Akka/Serialization/Serialization.cs
Labels: serialization

#4160 Fix racy test: Akka.Tests.IO.TcpIntegrationSpec.Should_fail_writing_when_buffer_is_filled
  src/core/Akka.Tests/IO/TcpIntegrationSpec.cs
Labels: on hold

#4167 disable parallelism in Akka.Cluster.Metrics specs
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/Akka.Cluster.Metrics.Tests.csproj
Labels: akka-cluster-metrics, tests

#4168 Add documentation for Akka.Cluster.Metrics
  docs/articles/clustering/cluster-metrics.md
  docs/articles/toc.yml
  src/contrib/cluster/Akka.Cluster.Metrics/Routing/MetricSelectors.cs
  src/contrib/cluster/Akka.Cluster.Metrics/StandardMetrics.cs
  src/core/Akka.Docs.Tests/Akka.Docs.Tests.csproj
  src/core/Akka.Docs.Tests/Clustet.Metrics/MetricsListenerSample.cs
  src/core/Akka.Docs.Tests/Clustet.Metrics/RouterInCodeSample.cs
  src/core/Akka.Docs.Tests/Clustet.Metrics/RoutersUsageSample.cs
Labels: akka-cluster-metrics, docs

#4170 Fix metrics documentation examples
  docs/articles/clustering/cluster-metrics.md
  src/core/Akka.Docs.Tests/Cluster.Metrics/MetricsListenerSample.cs
  src/core/Akka.Docs.Tests/Cluster.Metrics/RouterInCodeSample.cs
  src/core/Akka.Docs.Tests/Cluster.Metrics/RoutersUsageSample.cs
Labels: akka-cluster-metrics, docs

#4171 upgrade DocFx to v2.48.1
  build.ps1
Labels: build system, docs

#4172 writing Akka.Remote performance optimization document
  docs/articles/remoting/performance.md
  docs/articles/toc.yml
Labels: akka-remote, docs, perf

#4173 added real header to Akka.Remote performace page
  docs/articles/remoting/performance.md
Labels: docs

#4175 Use beta version specified in release notes when applicable
  build.fsx
Labels: build system
