Repository akkadotnet/akka.net, pull requests merged in 2020-08, with the labels that each got.

#4536 Minor fix to the automatic passivation documentation
  docs/articles/clustering/cluster-sharding.md
Labels: docs

#4544 Allow persistence plugins to customize JournalPerfSpec's default values
  src/core/Akka.Persistence.TCK/Performance/JournalPerfSpec.cs
Labels: akka-persistence, perf

#4552 Fix bug in BatchingSqlJournal CurrentAllEvents and AllEventsPublisher.
  src/contrib/persistence/Akka.Persistence.Query.Sql/AllEventsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/BatchingSqlJournal.cs
Labels: akka-persistence-query, akka-persistence-sql-common

#4556 Fix premature reset of the 'writeInProgress' flag in case of persistence failure
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/BatchingSqlJournal.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistence.approved.txt
  src/core/Akka.Persistence/Eventsourced.Recovery.cs
  src/core/Akka.Persistence/Journal/AsyncWriteJournal.cs
  src/core/Akka.Persistence/Journal/PersistencePluginProxy.cs
  src/core/Akka.Persistence/JournalProtocol.cs
Labels: akka-persistence

#4557 Marked SelectAllEventsAsync as virtual for plugins to override
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/QueryExecutor.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistenceSqlCommon.approved.txt
Labels: akka-persistence-sql-common
