Repository akkadotnet/akka.net, pull requests merged in 2020-06, with the labels that each got.

#4456 Mute deadletter logging of cluster events
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.approved.txt
  src/core/Akka.Cluster/ClusterEvent.cs
Labels: akka-cluster, logging

#4460 Update Akka.NET source code to support Akka.Remote.Artery port.
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Remote/Akka.Remote.csproj
  src/core/Akka.Remote/UniqueAddress.cs
  src/core/Akka.Streams/ActorMaterializer.cs
  src/core/Akka.Streams/Properties/AssemblyInfo.cs
  src/core/Akka/Util/Helpers.cs
  src/core/Akka/Util/WildcardIndex.cs
Labels: akka-remote, artery

#4464 added ActorSystemSetup overload for TestKits
  src/contrib/testkits/Akka.TestKit.Xunit/TestKit.cs
  src/contrib/testkits/Akka.TestKit.Xunit2/TestKit.cs
  src/core/Akka.Persistence.TestKit.Xunit2/PersistenceTestKit.cs
  src/core/Akka.TestKit.Tests/ActorSystemSetupSpecs.cs
  src/core/Akka.TestKit/TestKitBase.cs
  src/core/Akka.Tests.Shared.Internals/AkkaSpec.cs
Labels: akka-actor, akka-testkit

#4473 added spec to validate programmatic ActorSystem override
  src/core/Akka.Cluster.Tests/ProviderSelectionSpec.cs
  src/core/Akka/Actor/ActorSystem.cs
  src/core/Akka/Actor/Settings.cs
Labels: akka-actor, tests

#4462 Port Akka.Remote.Artery settings classes
  build-system/pr-validation.yaml
  src/contrib/cluster/Akka.Cluster.Metrics.Tests.MultiNode/Sample/StatsSampleSpec.cs
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/WeightedRouteesSpec.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveRemote.approved.txt
  src/core/Akka.Remote.Tests/RemoteConfigSpec.cs
  src/core/Akka.Remote/Akka.Remote.csproj
  src/core/Akka.Remote/Artery/ArterySettings.cs
  src/core/Akka.Remote/Artery/Settings/ActorRefsSettings.cs
  src/core/Akka.Remote/Artery/Settings/AdvancedSettings.cs
  src/core/Akka.Remote/Artery/Settings/AeronSettings.cs
  src/core/Akka.Remote/Artery/Settings/BindSettings.cs
  src/core/Akka.Remote/Artery/Settings/CanonicalSettings.cs
  src/core/Akka.Remote/Artery/Settings/CompressionSettings.cs
  src/core/Akka.Remote/Artery/Settings/ManifestsSettings.cs
  src/core/Akka.Remote/Artery/Settings/SettingsExtensions.cs
  src/core/Akka.Remote/Artery/Settings/TcpSettings.cs
  src/core/Akka.Remote/Artery/Settings/Transport.cs
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Configuration/RemoteConfigFactory.cs
  src/core/Akka.Remote/Configuration/reference.conf
  src/core/Akka.Remote/RemoteSettings.cs
  src/core/Akka/Configuration/Hocon/HoconValue.cs
Labels: akka-remote, artery
