Repository akkadotnet/akka.net, pull requests merged in 2020-04, with the labels that each got.

#4369 sharding - release shard lease when shard stopped
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Shard.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/TestLease.cs
Labels: akka-cluster-sharding

#4373 added EventStreamThroughputSpec to Akka.Tests.Performance
  src/core/Akka.Tests.Performance/Event/EventStreamThroughputSpec.cs
Labels: akka-actor, perf

#4377 Mark Member.AgeOrdering as public
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.approved.txt
  src/core/Akka.Cluster/Member.cs
Labels: akka-cluster, akka-cluster-sharding

#4379 Timers log fix
  src/core/Akka/Actor/Scheduler/TimerScheduler.cs
Labels: akka-actor, confirmed bug

#4387 Added constructor that takes a configuration for PersistenceTestKit
  src/core/Akka.Persistence.TestKit.Xunit2/PersistenceTestKit.cs
Labels: akka-persistence, tests
