Repository akkadotnet/akka.net, pull requests merged in 2020-07, with the labels that each got.

#4499 Log rebalance progress at INFO per rebalance info
  src/contrib/cluster/Akka.Cluster.Sharding/ShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/reference.conf
Labels: akka-cluster-sharding

#4507 Improve logging in DistributedData extension
  src/contrib/cluster/Akka.DistributedData/DistributedData.cs
Labels: akka-ddata, logging

#4512 DData: Use SetItem() instead of Add() for InitRemovedNodePruning
  src/contrib/cluster/Akka.DistributedData/Internal/Internal.cs
Labels: akka-ddata, confirmed bug

#4509 Optimize TCP-related actor creation in Akka.IO
  src/core/Akka/IO/TcpListener.cs
  src/core/Akka/IO/TcpManager.cs
Labels: akka-io, perf

#4513 Re-enable dead letter logging after specified duration
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests/Actor/DeadLetterSuspensionSpec.cs
  src/core/Akka.Tests/Configuration/ConfigurationSpec.cs
  src/core/Akka/Actor/Settings.cs
  src/core/Akka/Configuration/Pigeon.conf
  src/core/Akka/Event/DeadLetterListener.cs
Labels: logging

#4510 Optimize allocations in ActorPath.Join()
  src/core/Akka/Actor/ActorPath.cs
Labels: akka-actor, perf
