Repository akkadotnet/akka.net, pull requests merged in 2021-04, with the labels that each got.

#4893 Handle CoordinatedShutdown exiting-completed when not joined
  src/core/Akka.Cluster/ClusterDaemon.cs
Labels: akka-cluster

#4892 Persistence fixes
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistence.approved.txt
  src/core/Akka.Persistence.Tests/PersistentActorDeleteFailureSpec.cs
  src/core/Akka.Persistence.Tests/PersistentActorSpec.Actors.cs
  src/core/Akka.Persistence.Tests/PersistentActorSpec.cs
  src/core/Akka.Persistence/Eventsourced.Recovery.cs
  src/core/Akka.Persistence/Eventsourced.cs
  src/core/Akka.Persistence/JournalProtocol.cs
Labels: akka-persistence

#4897 Added PhiAccrualFailureDetector warning logging for slow heartbeats
  src/core/Akka.API.Tests/CoreAPISpec.ApproveRemote.approved.txt
  src/core/Akka.Remote/DefaultFailureDetectorRegistry.cs
  src/core/Akka.Remote/PhiAccrualFailureDetector.cs
Labels: akka-cluster, akka-remote, logging

#4902 replace reflection magic in MNTR with reading of `MultiNodeConfig` properties
  src/core/Akka.MultiNodeTestRunner.Shared.Tests/MultiNodeTestRunnerDiscovery/DiscoveryCases.cs
  src/core/Akka.MultiNodeTestRunner.Shared.Tests/MultiNodeTestRunnerDiscovery/DiscoverySpec.cs
  src/core/Akka.MultiNodeTestRunner/Discovery.cs
  src/core/Akka.Remote.TestKit/MultiNodeSpec.cs
Labels: multi node spec

#4909 fixed SBR logging error that blew up StandardOutLogger
  src/core/Akka.Cluster/SBR/SplitBrainResolver.cs
Labels: akka-cluster, confirmed bug, logging

#4911 added timestamp to node failures in MNTR
  src/core/Akka.MultiNodeTestRunner.Shared.Tests/ParsingSpec.cs
  src/core/Akka.MultiNodeTestRunner.Shared/Sinks/MessageSink.cs
  src/core/Akka.MultiNodeTestRunner.Shared/Sinks/Spec.cs
Labels: multi node spec

#4912 cleaned up the SpecPass / SpecFail messages
  src/core/Akka.MultiNodeTestRunner.Shared/Sinks/Spec.cs
  src/core/Akka.NodeTestRunner/Sink.cs
Labels: multi node spec

#4913 reduce allocations inside PhiAccrualFailureDetector
  src/core/Akka.Remote/PhiAccrualFailureDetector.cs
Labels: akka-remote, perf

#4917 cleaned up RemoteWatcher
  src/core/Akka.Remote/RemoteWatcher.cs
Labels: akka-remote

#4918 Fixed System.ArgumentNullException in Interspase operation on empty stream finish.
  src/core/Akka.Streams.Tests/Dsl/FlowIntersperseSpec.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams, confirmed bug

#4920 Fix for issue 4919
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/AkkaDiFixture.cs
Labels: confirmed bug, tests

#4928 documented how to terminate remembered entities
  docs/articles/clustering/cluster-sharding.md
  src/contrib/cluster/Akka.Cluster.Sharding/ShardingMessages.cs
Labels: akka-cluster-sharding, docs

#4930 cleaned up protobuf CLI and definitions
  build.fsx
  src/contrib/cluster/Akka.Cluster.Sharding/Serialization/Proto/ClusterShardingMessages.g.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/Serialization/Proto/ClusterClientMessages.g.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Serialization/Proto/DistributedPubSubMessages.g.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/Proto/ReplicatedDataMessages.g.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/Proto/ReplicatorMessages.g.cs
  src/core/Akka.Cluster/Serialization/ClusterMessageSerializer.cs
  src/core/Akka.Cluster/Serialization/Proto/ClusterMessages.g.cs
  src/core/Akka.Persistence/Serialization/Proto/Persistence.g.cs
  src/core/Akka.Remote.TestKit/Proto/TestConductorProtocol.g.cs
  src/core/Akka.Remote/Serialization/Proto/ContainerFormats.g.cs
  src/core/Akka.Remote/Serialization/Proto/SystemMessageFormats.g.cs
  src/core/Akka.Remote/Serialization/Proto/WireFormats.g.cs
  src/core/Akka.Streams/Serialization/Proto/StreamRefMessages.g.cs
  src/protobuf/ClusterMessages.proto
Labels: build system, serialization

#4934 porting Cluster heartbeat timings, hardened Akka.Cluster serialization
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.approved.txt
  src/core/Akka.Cluster.Tests/ClusterHeartbeatReceiverSpec.cs
  src/core/Akka.Cluster.Tests/ClusterHeartbeatSenderSpec.cs
  src/core/Akka.Cluster.Tests/ClusterLogSpec.cs
  src/core/Akka.Cluster.Tests/Serialization/ClusterMessageSerializerSpec.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterHeartbeat.cs
  src/core/Akka.Cluster/Serialization/ClusterMessageSerializer.cs
  src/core/Akka.Cluster/Serialization/Proto/ClusterMessages.g.cs
  src/protobuf/ClusterMessages.proto
Labels: akka-cluster, serialization

#4922 Add spec for handling delegates in DI
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/ActorServiceProviderPropsWithScopesSpecs.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/DelegateInjectionSpecs.cs
Labels: akka-dependency-injection, examples

#4940 ClusterStressSpec and Cluster Failure Detector Cleanup
  build.fsx
  src/common.props
  src/core/Akka.Cluster.TestKit/MultiNodeClusterSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/Akka.Cluster.Tests.MultiNode.csproj
  src/core/Akka.Cluster.Tests.MultiNode/Bugfix4353Specs.cs
  src/core/Akka.Cluster.Tests.MultiNode/StressSpec.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterHeartbeat.cs
  src/core/Akka.Cluster/Gossip.cs
  src/core/Akka.Cluster/Member.cs
  src/core/Akka.Cluster/Reachability.cs
  src/core/Akka.Remote.TestKit/MultiNodeSpec.cs
  src/core/Akka.Remote/DefaultFailureDetectorRegistry.cs
  src/core/Akka.Remote/PhiAccrualFailureDetector.cs
Labels: akka-cluster, multi node spec

#4942 cleanup `AKKA_CLUSTER_ASSERT` environment variable
  build.fsx
  src/core/Akka.Cluster/Cluster.cs
Labels: akka-cluster

#4945 harden Akka.DependencyInjection.Tests
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/ActorServiceProviderPropsWithScopesSpecs.cs
Labels: akka-dependency-injection, confirmed bug, tests

#4943 HeartbeatNodeRing performance
  src/benchmark/Akka.Benchmarks/Akka.Benchmarks.csproj
  src/benchmark/Akka.Benchmarks/Cluster/HeartbeatNodeRingBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Cluster/ReachabilityBenchmarks.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.approved.txt
  src/core/Akka.Cluster.Tests/ClusterHeartBeatSenderStateSpec.cs
  src/core/Akka.Cluster/ClusterHeartbeat.cs
  src/core/Akka.Cluster/Properties/AssemblyInfo.cs
  src/core/Akka/Util/Internal/ArrayExtensions.cs
Labels: akka-cluster, perf

#4947 modified PingPong / RemotePingPong benchmarks to display threadcount
  src/benchmark/PingPong/Program.cs
  src/benchmark/RemotePingPong/Program.cs
Labels: perf

#4946 Configure duration for applying `MemberStatus.WeaklyUp` to joining nodes
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.approved.txt
  src/core/Akka.Cluster.Tests.MultiNode/MemberWeaklyUpSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/MinMembersBeforeUpSpec.cs
  src/core/Akka.Cluster.Tests/ClusterConfigSpec.cs
  src/core/Akka.Cluster.Tests/ClusterLogSpec.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
Labels: akka-cluster, configuration

#4949 restored Akka.Cluster model-based FsCheck specs
  src/core/Akka.Cluster.Tests/Akka.Cluster.Tests.csproj
  src/core/Akka.Cluster.Tests/ClusterGenerators.cs
  src/core/Akka.Cluster.Tests/MemberOrderingModelBasedTests.cs
  src/core/Akka.FSharp.Tests/Akka.FSharp.Tests.fsproj
  src/core/Akka.Tests.Shared.Internals/Akka.Tests.Shared.Internals.csproj
  src/core/Akka.Tests.Shared.Internals/Helpers/FSharpDelegateHelper.cs
Labels: akka-cluster, akka-fsharp, tests

#4950 added `VectorClock` benchmark
  src/benchmark/Akka.Benchmarks/Cluster/VectorClockBenchmarks.cs
Labels: akka-cluster, perf

#4952 Performance optimize `VectorClock`
  src/benchmark/Akka.Benchmarks/Cluster/VectorClockBenchmarks.cs
  src/core/Akka.Cluster/VectorClock.cs
Labels: akka-cluster, perf

#4954 harden RestartFirstSeedNodeSpec
  src/core/Akka.Cluster.Tests.MultiNode/RestartFirstSeedNodeSpec.cs
Labels: akka-cluster, confirmed bug, multi node spec

#4944 Turned `HeatbeatNodeRing` into `struct`
  src/core/Akka.Cluster/ClusterHeartbeat.cs
Labels: akka-cluster, perf

#4958 cleaned up `ReceiveActor` documentation
  docs/articles/actors/receive-actor-api.md
  docs/articles/concepts/supervision.md
Labels: docs

#4959 updated website footer to read 2021
  docs/docfx.json
Labels: docs

#4960 added indicator for `ClusterResultsAggregator` in `StressSpec` logs
  src/core/Akka.Cluster.Tests.MultiNode/StressSpec.cs
Labels: akka-cluster, multi node spec

#4962 Perf optimize `ActorSelection`
  src/benchmark/Akka.Benchmarks/Actor/ActorSelectionBenchmark.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests.Performance/Actor/ActorSelectionSpecs.cs
  src/core/Akka.Tests/Actor/ActorSelectionSpec.cs
  src/core/Akka/Actor/ActorSelection.cs
  src/core/Akka/Util/Internal/Collections/Iterator.cs
Labels: akka-actor, perf

#4955 `Reachability` performance optimziation
  src/benchmark/Akka.Benchmarks/Cluster/ReachabilityBenchmarks.cs
  src/core/Akka.Cluster/Gossip.cs
  src/core/Akka.Cluster/Reachability.cs
Labels: akka-cluster, perf

#4966 Fix `SpawnActor` benchmark
  src/benchmark/Akka.Benchmarks/Actor/SpawnActorBenchmarks.cs
Labels: perf

#4964 fixed N-1 error inside `Mailbox`
  src/core/Akka/Dispatch/Mailbox.cs
Labels: akka-actor, perf

#4963 Clean up bad outbound ACKs in Akka.Remote
  src/core/Akka.Remote/Endpoint.cs
Labels: akka-remote

#4969 UnfoldResourceSource closing twice on failure
  src/core/Akka.Streams.Tests/Dsl/UnfoldResourceSourceSpec.cs
  src/core/Akka.Streams/Implementation/Sources.cs
Labels: akka-streams

#4895 Add retry pattern with delay calculation support
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests/Pattern/RetrySpec.cs
  src/core/Akka/Pattern/RetrySupport.cs
Labels: akka-actor

#4972 simplified the environment variable name for StressSpec
  src/core/Akka.Cluster.Tests.MultiNode/StressSpec.cs
Labels: multi node spec

#4968 Refactored `Gossip` into `MembershipState`
  src/core/Akka.Cluster.Tests/ClusterDomainEventPublisherSpec.cs
  src/core/Akka.Cluster.Tests/ClusterDomainEventSpec.cs
  src/core/Akka.Cluster.Tests/GossipSpec.cs
  src/core/Akka.Cluster.Tests/MemberOrderingModelBasedTests.cs
  src/core/Akka.Cluster/AutoDown.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterEvent.cs
  src/core/Akka.Cluster/Gossip.cs
  src/core/Akka.Cluster/Member.cs
  src/core/Akka.Cluster/MembershipState.cs
Labels: akka-cluster

#4975 clean up seed node process
  src/core/Akka.Cluster/ClusterDaemon.cs
Labels: akka-cluster

#4976 fixed racy ActorModelSpec
  src/core/Akka.Tests/Actor/Dispatch/ActorModelSpec.cs
Labels: akka-actor, tests

#4978 Update PluginSpec so that it can accept ActorSystem and ActorSystemSetup in its constructor
  src/core/Akka.Persistence.TCK/Journal/JournalSpec.cs
  src/core/Akka.Persistence.TCK/PluginSpec.cs
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSpec.cs
  src/core/Akka/Actor/ActorSystem.cs
Labels: akka-persistence

#4980 Removed inaccurate warning from Cluster Singleton docs
  docs/articles/clustering/cluster-singleton.md
Labels: docs

#4882 Introduce `ChannelExecutor`
  docs/articles/actors/dispatchers.md
  src/benchmark/Akka.Benchmarks/Actor/PingPongBenchmarks.cs
  src/benchmark/RemotePingPong/Program.cs
  src/core/Akka.Cluster.Tests.MultiNode/StressSpec.cs
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Tests.Performance/Dispatch/ForkJoinDispatcherThroughputSpec.cs
  src/core/Akka/Actor/ActorSystem.cs
  src/core/Akka/Akka.csproj
  src/core/Akka/Dispatch/AbstractDispatcher.cs
  src/core/Akka/Dispatch/Dispatchers.cs
Labels: akka-actor, perf
