Repository akkadotnet/akka.net, pull requests merged in 2021-08, with the labels that each got.

#5162 fixed racy Akka.DistributedData.Tests.ReplicatorResiliencySpecs
  src/contrib/cluster/Akka.DistributedData.Tests/ReplicatorResiliencySpec.cs
  src/contrib/cluster/Akka.DistributedData.Tests/WriteAggregatorSpec.cs
Labels: tests

#5146 ddata ReadMajorityPlus and WriteMajorityPlus
  src/contrib/cluster/Akka.DistributedData.Tests.MultiNode/ReplicatorSpec.cs
  src/contrib/cluster/Akka.DistributedData.Tests/ReplicatorResiliencySpec.cs
  src/contrib/cluster/Akka.DistributedData.Tests/Serialization/ReplicatorMessageSerializerSpec.cs
  src/contrib/cluster/Akka.DistributedData.Tests/WriteAggregatorSpec.cs
  src/contrib/cluster/Akka.DistributedData/Internal/Internal.cs
  src/contrib/cluster/Akka.DistributedData/ReadAggregator.cs
  src/contrib/cluster/Akka.DistributedData/ReadWriteAggregator.cs
  src/contrib/cluster/Akka.DistributedData/Replicator.cs
  src/contrib/cluster/Akka.DistributedData/ReplicatorSettings.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/Proto/ReplicatorMessages.g.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/ReplicatorMessageSerializer.cs
  src/contrib/cluster/Akka.DistributedData/WriteAggregator.cs
  src/contrib/cluster/Akka.DistributedData/reference.conf
  src/core/Akka.API.Tests/CoreAPISpec.ApproveDistributedData.approved.txt
  src/core/Akka/Util/Internal/Collections/ListExtensions.cs
  src/protobuf/ReplicatorMessages.proto
Labels: akka-ddata, api-change

#5163 Make sure that DData propagation honor MaxDeltaSize settings
  src/contrib/cluster/Akka.DistributedData/DeltaPropagationSelector.cs
Labels: akka-ddata

#5161 exposed `CreateRemoteRef` method overload for creating remotely-deployed actors
  src/core/Akka.API.Tests/CoreAPISpec.ApproveRemote.approved.txt
  src/core/Akka.Remote/RemoteActorRefProvider.cs
Labels: akka-remote, api-change

#5147 SBR fix & update
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Akka.Cluster.Sharding.Tests.csproj
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Akka.Cluster.Tools.Tests.MultiNode.csproj
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Akka.Cluster.Tools.Tests.csproj
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonLeaseSpec.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.approved.txt
  src/core/Akka.Cluster.Tests.MultiNode/Akka.Cluster.Tests.MultiNode.csproj
  src/core/Akka.Cluster.Tests.MultiNode/SBR/DownAllIndirectlyConnected5NodeSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/SBR/DownAllUnstable5NodeSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/SBR/IndirectlyConnected3NodeSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/SBR/IndirectlyConnected5NodeSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/SBR/LeaseMajority5NodeSpec.cs
  src/core/Akka.Cluster.Tests/Akka.Cluster.Tests.csproj
  src/core/Akka.Cluster.Tests/SBR/SplitBrainResolverSpec.cs
  src/core/Akka.Cluster.Tests/SBR/TestAddresses.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
  src/core/Akka.Cluster/SBR/DowningStrategy.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolver.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolverProvider.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolverSettings.cs
  src/core/Akka.Coordination.Tests/TestLease.cs
  src/core/Akka.Coordination.Tests/TestLeaseActor.cs
Labels: akka-cluster, akka-coordination, api-change

#5168 updated Akka.Cluster.Sharding docs to mention Akka.Cluster.Sharding.RepairTool
  docs/articles/clustering/cluster-sharding.md
Labels: docs, akka-cluster-sharding

#5172 minor cleanup to RemoteActorRefProvider
  src/core/Akka.Remote/RemoteActorRefProvider.cs
Labels: akka-remote

#5173 fix `RemoteActorRefProvider.CreateRemoteRef` signature to return `IInternalActorRef`
  src/core/Akka.API.Tests/CoreAPISpec.ApproveRemote.approved.txt
  src/core/Akka.Remote/RemoteActorRefProvider.cs
Labels: akka-remote, api-change

#5177 fix MNTR local build for .NET 5
  src/common.props
  src/core/Akka.MultiNodeTestRunner/Akka.MultiNodeTestRunner.csproj
Labels: multi node spec, build system

#5180 move Akka.DistributedData.LightningDb onto vendored package
  src/NuGet.Config
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/Akka.Cluster.Sharding.Tests.MultiNode.csproj
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/Properties/AssemblyInfo.cs
  src/contrib/cluster/Akka.DistributedData.LightningDB/Akka.DistributedData.LightningDB.csproj
  src/contrib/cluster/Akka.DistributedData.Tests.MultiNode/Akka.DistributedData.Tests.MultiNode.csproj
  src/contrib/cluster/lib-hack/LightningDB.targets
  src/contrib/cluster/lib-hack/runtimes/linux-arm/native/liblmdb.so
  src/contrib/cluster/lib-hack/runtimes/linux-arm64/native/liblmdb.so
  src/contrib/cluster/lib-hack/runtimes/linux-x64/native/liblmdb.so
  src/contrib/cluster/lib-hack/runtimes/osx/native/lmdb.dylib
  src/contrib/cluster/lib-hack/runtimes/win-x64/native/lmdb.dll
  src/contrib/cluster/lib-hack/runtimes/win-x64/native/lmdbautoresize.dll
  src/contrib/cluster/lib-hack/runtimes/win-x86/native/lmdb.dll
  src/contrib/cluster/lib-hack/runtimes/win-x86/native/lmdbautoresize.dll
  src/examples/Cluster/ClusterSharding/ClusterSharding.Node/Customers.cs
  src/examples/Cluster/ClusterSharding/ClusterSharding.Node/MessageExtractor.cs
  src/examples/Cluster/ClusterSharding/ClusterSharding.Node/Program.cs
Labels: akka-ddata-durable

#5187 use `Failure` to programmatically cancel `Ask`
  src/core/Akka/Actor/ActorRef.cs
Labels: akka-actor

#5195 re-enabled Akka.FSharp.Tests on .NET Core 3.1, .NET 5.0
  src/core/Akka.FSharp.Tests/Akka.FSharp.Tests.fsproj
  src/core/Akka.FSharp.Tests/ApiTests.fs
Labels: akka-fsharp, serialization

#5185 fix cluster startup race
  src/core/Akka.Cluster.Tests/ClusterDomainEventPublisherSpec.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterEvent.cs
Labels: akka-cluster

#5196 added reproduction for DU serialization
  src/core/Akka.FSharp.Tests/Akka.FSharp.Tests.fsproj
  src/core/Akka.FSharp.Tests/ApiTests.fs
  src/core/Akka.FSharp.Tests/RemoteSpecs.fs
  src/core/Akka.FSharp.Tests/SerializationSpecs.fs
  src/core/Akka.FSharp/FsApi.fs
Labels: akka-fsharp, serialization

#5201 make `Router` open to extension
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveRemote.approved.txt
  src/core/Akka.Cluster/Routing/ClusterRoutingConfig.cs
  src/core/Akka.Remote/Routing/RemoteRouterConfig.cs
  src/core/Akka/Routing/RoutedActorCell.cs
  src/core/Akka/Routing/Router.cs
  src/core/Akka/Routing/RouterConfig.cs
Labels: akka-actor, api-change

#5181 Bugfix RestartFlow issue; #5165
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams.Tests/Dsl/RestartSpec.cs
  src/core/Akka.Streams/Dsl/RestartFlow.cs
  src/core/Akka.Streams/Dsl/RestartSink.cs
  src/core/Akka.Streams/Dsl/RestartSource.cs
Labels: akka-streams

#5205 allow `null` response to `Ask<T>` operation
  src/core/Akka.Tests/Actor/AskSpec.cs
  src/core/Akka/Actor/ActorRef.cs
Labels: akka-actor

#5208 Add dangerous type blacklist feature to Akka.Serialization.Hyperion
  docs/articles/networking/serialization.md
  src/contrib/serializers/Akka.Serialization.Hyperion.Tests/HyperionConfigTests.cs
  src/contrib/serializers/Akka.Serialization.Hyperion.Tests/HyperionSerializerSetupSpec.cs
  src/contrib/serializers/Akka.Serialization.Hyperion/HyperionSerializer.cs
  src/contrib/serializers/Akka.Serialization.Hyperion/HyperionSerializerSetup.cs
  src/contrib/serializers/Akka.Serialization.Hyperion/reference.conf
Labels: serialization, security

#5210 fixed NRE inside ClusterSingletonManager
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonManager.cs
Labels: confirmed bug, akka-cluster-tools

#5209 Akka.Cluster.Sharding performance benchmarks
  src/Akka.sln
  src/benchmark/Akka.Benchmarks/Akka.Benchmarks.csproj
  src/benchmark/Akka.Cluster.Benchmarks/Akka.Cluster.Benchmarks.csproj
  src/benchmark/Akka.Cluster.Benchmarks/Program.cs
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/ShardMessageRoutingBenchmarks.cs
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/ShardSpawnBenchmarks.cs
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/ShardingInfrastructure.cs
  src/common.props
Labels: akka-cluster-sharding, perf

#5215 added `HashCodeMessageExtractor` benchmarks
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/HashCodeMessageExtractorBenchmarks.cs
Labels: akka-cluster-sharding, perf

#5216 cached ShardIds generated by HashCodeMessageExtractor
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
Labels: akka-cluster-sharding, perf

#5229 singleton fix cleanup of overdue _removed members
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonManager.cs
Labels: confirmed bug, akka-cluster-tools

#5236 Take Akka.Persistence.Sql.Common out of beta
  src/contrib/persistence/Akka.Persistence.Sql.Common/Akka.Persistence.Sql.Common.csproj
Labels: akka-persistence-sql-common

#5237 Refactor AdaptiveLoadBalancingRoutingLogic to use IClusterMetricsRoutingLogic
  src/contrib/cluster/Akka.Cluster.Metrics/Routing/ClusterMetricsRouting.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterMetrics.approved.txt
Labels: akka-cluster-metrics

#5238 Make `Router.Route` virtual
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Routing/Router.cs
Labels: akka-actor, api-change
