Repository akkadotnet/akka.net, pull requests merged in 2021-06, with the labels that each got.

#5054 fixed incorrect deprecation message
  src/contrib/dependencyinjection/Akka.DependencyInjection/ServiceProvider.cs
Labels: akka-dependency-injection

#5057 remove ISSUE_TEMPLATE.md
  ISSUE_TEMPLATE.md
Labels: meta

#5059 Revert `ThreadPool.SetMinThreads(0,0)`
  src/core/Akka/Actor/ActorSystem.cs
Labels: akka-actor, perf

#5053 Reduced allocations around `ActorCell` and `Task` handling
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Actor/ActorCell.DefaultMessages.cs
  src/core/Akka/Actor/ReceiveActor.cs
  src/core/Akka/Dispatch/ActorTaskScheduler.cs
Labels: akka-actor, api-change

#5069 Remove `ThreadPool.SetMinThreads(0,0)` mention from dispatchers documentation
  docs/articles/actors/dispatchers.md
Labels: docs

#5068 eliminate `Lazy<string>` from `Address`
  src/core/Akka/Actor/Address.cs
Labels: akka-actor, perf

#5074 Akka.Coordination: minor cleanup
  src/core/Akka.Cluster/SBR/SplitBrainResolver.cs
  src/core/Akka.Coordination/LeaseProvider.cs
Labels: akka-coordination

#5084 added FQDN reproduction for `ActorPath.Parse`
  src/core/Akka.Tests/Actor/ActorPathSpec.cs
Labels: akka-actor, tests

#5091 cleaned up internal ActorCell and TestKit methods
  src/core/Akka.TestKit/CallingThreadDispatcher.cs
  src/core/Akka.TestKit/Internal/InternalTestActorRef.cs
  src/core/Akka.TestKit/TestKitBase.cs
  src/core/Akka/Actor/ActorCell.cs
  src/core/Akka/Dispatch/Dispatchers.cs
Labels: akka-actor, akka-testkit

#5092 TestKit ReceiveWhile did not insert last inspected message properly.
  src/core/Akka.TestKit.Tests/TestKitBaseTests/ReceiveTests.cs
  src/core/Akka.TestKit/Internal/BlockingQueue.cs
Labels: akka-testkit

#5093 GSet elements needs to be sorted during serialization
  src/contrib/cluster/Akka.DistributedData/Serialization/OtherMessageComparer.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/ReplicatedDataSerializer.cs
Labels: akka-ddata, akka-ddata-durable

#5099 Use ranged nuget versioning for Newtonsoft.Json
  src/common.props
Labels: akka-actor, serialization

#5105 Make Hyperion deserialization exception message more verbose to help with debugging.
  src/contrib/serializers/Akka.Serialization.Hyperion/HyperionSerializer.cs
Labels: hyperion, serialization

#5112 [ShardedDaemonProcess] Support for custom stop message
  src/contrib/cluster/Akka.Cluster.Sharding/ShardedDaemonProcess.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterSharding.approved.txt
Labels: akka-cluster-sharding

#5108 Reduce AwaitAssert default interval to help tests that have tight time budgets
  src/core/Akka.TestKit/TestKitBase_AwaitAssert.cs
Labels: akka-testkit

#5114 IsNobody for remote DeadLetters
  src/core/Akka/Actor/ActorRef.Extensions.cs
Labels: akka-remote
