Repository akkadotnet/akka.net, pull requests merged in 2021-12, with the labels that each got.

#5405 Fix API reference documentation
  docs/api/index.md
  docs/toc.yml
Labels: confirmed bug, docs

#5409 Upgraded DocFx to 2.58.9, dropped `TargetFramework`
  build.ps1
  docs/docfx.json
Labels: docs

#5404 Fix UDP memory leak
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests/IO/UdpConnectedIntegrationSpec.cs
  src/core/Akka.Tests/IO/UdpIntegrationSpec.cs
  src/core/Akka/IO/Buffers/DirectBufferPool.cs
  src/core/Akka/IO/Buffers/DisabledBufferPool.cs
  src/core/Akka/IO/SocketEventArgsPool.cs
  src/core/Akka/IO/Udp.cs
  src/core/Akka/IO/UdpConnected.cs
  src/core/Akka/IO/UdpConnectedManager.cs
  src/core/Akka/IO/UdpConnection.cs
  src/core/Akka/IO/UdpListener.cs
  src/core/Akka/IO/WithUdpSend.cs
Labels: akka-io

#5412 Mark socket connection messages with IDeadLetterSuppression
  src/core/Akka/IO/Tcp.cs
  src/core/Akka/IO/Udp.cs
  src/core/Akka/IO/UdpConnected.cs
Labels: akka-io, logging

#5403 Add new ChannelTaskScheduler Extension
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka/Akka.csproj
  src/core/Akka/Configuration/Pigeon.conf
  src/core/Akka/Dispatch/AbstractDispatcher.cs
  src/core/Akka/Dispatch/ChannelSchedulerExtension.cs
Labels: akka-actor, perf

#5418 [Documentation] Add extra help information on serializer id errors
  docs/articles/serialization/serializer-codes.md
  docs/articles/serialization/toc.yml
  docs/articles/toc.yml
  src/core/Akka.Remote.Tests/Serialization/BugFix5062Spec.cs
  src/core/Akka.Remote/Endpoint.cs
  src/core/Akka.Remote/Serialization/MessageContainerSerializer.cs
  src/core/Akka.Tests/Serialization/SerializationSpec.cs
  src/core/Akka/Serialization/Serialization.cs
  src/core/Akka/Serialization/Serializer.cs
  src/core/Akka/Serialization/SerializerErrorCode.cs
Labels: akka-actor, serialization

#5420 Fixes performance issue with HighestSequenceNrSql query
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/BatchingSqlJournal.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/QueryExecutor.cs
Labels: perf, akka-persistence-sql-common

#5422 Custom serializer did not resolve to actual type
  src/core/Akka.Tests/Serialization/CustomSerializerSpec.cs
Labels: bug-reproduction

#5416 Refactor Props
  src/contrib/dependencyinjection/Akka.DI.Core/DIActorProducer.cs
  src/contrib/dependencyinjection/Akka.DI.Core/DIExt.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection/ServiceProvider.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection/ServiceProviderDependencyResolver.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.FSharp.Tests/ApiTests.fs
  src/core/Akka.Remote.Tests/RemotingSpec.cs
  src/core/Akka.Remote/RemoteActorRefProvider.cs
  src/core/Akka.Streams.Tests/Dsl/FutureFlattenSourceSpec.cs
  src/core/Akka.TestKit.Tests/TestEventListenerTests/ExceptionEventFilterTests.cs
  src/core/Akka.TestKit/ActorCellKeepingSynchronizationContext.cs
  src/core/Akka.TestKit/EventFilter/Internal/EventFilterApplier.cs
  src/core/Akka.TestKit/TestKitBase.cs
  src/core/Akka.Tests/Actor/ActorPathSpec.cs
  src/core/Akka.Tests/Actor/LocalActorRefProviderSpec.cs
  src/core/Akka.Tests/Actor/PropsSpec.cs
  src/core/Akka/Actor/ActorCell.cs
  src/core/Akka/Actor/ActorPath.cs
  src/core/Akka/Actor/Internal/ActorSystemImpl.cs
  src/core/Akka/Actor/Props.cs
  src/core/Akka/Actor/Scheduler/HashedWheelTimerScheduler.cs
  src/core/Akka/Event/Logging.cs
  src/core/Akka/Pattern/CircuitBreaker.cs
  src/core/Akka/Util/Resolver.cs
Labels: akka-actor, api-change

#4929 Add StringBuilder pooling in NewtonsoftJsonSerializer
  src/benchmark/SerializationBenchmarks/Program.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Akka.csproj
  src/core/Akka/Configuration/Pigeon.conf
  src/core/Akka/Serialization/NewtonSoftJsonSerializer.cs
Labels: serialization, perf

#5430 Added InverseFishForMessage and nuget package fluent-assertions
  src/core/Akka.TestKit/Akka.TestKit.csproj
  src/core/Akka.TestKit/TestKitBase_Receive.cs
Labels: akka-testkit

#5431 Remove TestUtils.TemporaryServerAddress, suspected racy test source
  src/core/Akka.Tests.Shared.Internals/AkkaSpec.cs
  src/core/Akka.Tests/IO/TcpIntegrationSpec.cs
  src/core/Akka.Tests/IO/TcpListenerSpec.cs
  src/core/Akka.Tests/IO/TestSocketOption.cs
  src/core/Akka.Tests/IO/TestUtils.cs
  src/core/Akka.Tests/IO/UdpConnectedIntegrationSpec.cs
  src/core/Akka.Tests/IO/UdpIntegrationSpec.cs
  src/core/Akka.Tests/IO/UdpListenerSpec.cs
  src/core/Akka/IO/UdpConnection.cs
Labels: tests, akka-io

#5437 Resolve Akka.Cluster startup
  src/core/Akka.Cluster.Tests.MultiNode/TransitionSpec.cs
  src/core/Akka.Cluster.Tests/ClusterSpec.cs
  src/core/Akka.Cluster/Cluster.cs
Labels: akka-cluster

#5442 racy spec fix: `BackoffOnRestartSupervisor_must_respect_maxNrOfRetries_property_of_OneForOneStrategy`
  src/core/Akka.Tests/Pattern/BackoffOnRestartSupervisorSpec.cs
Labels: tests, akka-actor

#5433 Make updates to `FishUntil`
  src/core/Akka.TestKit.Tests/TestKitBaseTests/ReceiveTests.cs
  src/core/Akka.TestKit/Akka.TestKit.csproj
  src/core/Akka.TestKit/TestKitBase_Receive.cs
Labels: akka-testkit

#5444 Custom frame size computation support in Framing
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams.Tests/Dsl/FramingSpec.cs
  src/core/Akka.Streams/Dsl/Framing.cs
Labels: akka-streams, api-change

#5428 optimize `Props` `NewExpression` allocations
  src/core/Akka/Actor/Props.cs
Labels: akka-actor, perf

#5440 remove the forced waiting on the underlying transport to start up
  src/core/Akka/Actor/Internal/ActorSystemImpl.cs
Labels: akka-remote

#4742 Allow Streams to be consumed as IAsyncEnumerable
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
  src/core/Akka.Streams/Akka.Streams.csproj
  src/core/Akka.Streams/Dsl/Source.cs
  src/core/Akka.Streams/Implementation/AsyncEnumerable.cs
Labels: akka-streams, api-change

#5463 fixed FishUntilMessage test methods names and removed irrelevant comment
  src/core/Akka.TestKit.Tests/TestKitBaseTests/ReceiveTests.cs
Labels: tests

#5461 Updated Contribution Guidelines
  docs/cSpell.json
  docs/community/building-akka-net.html
  docs/community/contributing/api-changes-compatibility.md
  docs/community/contributing/build-process.md
  docs/community/contributing/code-guidelines.md
  docs/community/contributing/debugging.md
  docs/community/contributing/documentation-guidelines.md
  docs/community/contributing/release-process.md
  docs/community/contributing/toc.yml
  docs/community/contributing/wire-compatibility.md
  docs/community/contributor-guidelines.html
  docs/community/documentation-guidelines.html
  docs/community/documentation-guidelines.md
  docs/community/public-api-changes.html
  docs/community/public-api-changes.md
  docs/community/toc.yml
  docs/images/community/build-instructions/release-process.png
  docs/images/community/contribution-standards/akkadotnet-2022-sitemap.png
  docs/toc.yml
  src/core/Akka.Cluster/ClusterHeartbeat.cs
  src/core/Akka.Cluster/Serialization/ClusterMessageSerializer.cs
  src/core/Akka.Docs.Tests/Actors/ReceiveTimeoutSpecs.cs
  src/core/Akka.Docs.Tests/Debugging/README.md
  src/core/Akka.Docs.Tests/Debugging/RacySpecs.cs
Labels: docs

#5459 Add random factor for CircuitBreaker
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests/Pattern/CircuitBreakerSpec.cs
  src/core/Akka/Pattern/CircuitBreaker.cs
  src/core/Akka/Pattern/CircuitBreakerState.cs
Labels: akka-actor

#5470 docs: fixed broken links in the build-process area
  docs/community/contributing/build-process.md
Labels: docs

#5471 Added support for copying .HTML files in DocFx
  docs/docfx.json
Labels: docs

#5472 docs: "How to Contribute to Akka.NET"
  docs/articles/testing/multi-node-testing.md
  docs/cSpell.json
  docs/community/contributing/build-process.md
  docs/community/contributing/index.md
  docs/community/contributing/toc.yml
Labels: docs
