Repository akkadotnet/akka.net, pull requests merged in 2021-05, with the labels that each got.

#4994 Re-add missing ExceptionEventFilterTests spec, file was commented out.
  src/core/Akka.TestKit.Tests/TestEventListenerTests/ExceptionEventFilterTests.cs
Labels: akka-testkit

#4995 Fixed some internal-dispatcher usages
  src/core/Akka.Cluster/ClusterRemoteWatcher.cs
  src/core/Akka.Remote/RemoteWatcher.cs
  src/core/Akka/Event/EventBusUnsubscriber.cs
Labels: akka-actor, akka-cluster, akka-remote

#4998 Prevent loggers to throw FormatException and show a friendly message instead.
  src/contrib/testkits/Akka.TestKit.Xunit2/Internals/Loggers.cs
  src/core/Akka.TestKit/Internal/InternalTestActor.cs
  src/core/Akka.Tests/Loggers/LoggerSpec.cs
  src/core/Akka/Event/StandardOutLogger.cs
Labels: akka-actor, akka-testkit, confirmed bug, logging

#5003 Reduce sharding warnings when there are no buffered messages
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
Labels: akka-cluster-sharding, logging

#5006 marking Akka.Persistence.Sql.Common as `beta` for v1.4.20
  src/contrib/persistence/Akka.Persistence.Sql.Common/Akka.Persistence.Sql.Common.csproj
Labels: akka-persistence-sql-common

#5015 [RACY] LoggerSpec TestOutputLogger Make sure that event receive order does not matter
  src/core/Akka.Tests/Loggers/LoggerSpec.cs
Labels: tests

#4990 adding ORSet benchmarks
  src/Akka.sln
  src/benchmark/Akka.Benchmarks/DData/ORSetBenchmarks.cs
  src/benchmark/Akka.Benchmarks/DData/VersionVectorBenchmark.cs
  src/contrib/cluster/Akka.DistributedData.Tests/ORSetSpec.cs
  src/contrib/cluster/Akka.DistributedData/ORSet.cs
  src/contrib/cluster/Akka.DistributedData/VersionVector.cs
  src/examples/Cluster/DData/DDataStressTest/DDataStressTest.csproj
  src/examples/Cluster/DData/DDataStressTest/Program.cs
Labels: akka-ddata, perf

#5029 added `FastHash` benchmark
  src/benchmark/Akka.Benchmarks/Remoting/FastHashBenchmarks.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveRemote.approved.txt
  src/core/Akka.Remote/Properties/AssemblyInfo.cs
Labels: akka-remote, perf

#5032 Fix a potential race condition in FileSubscriber
  src/core/Akka.Streams/Implementation/IO/FileSubscriber.cs
Labels: akka-streams

#5034 remove `ActorPath.ToString` call from `ResolveActorRefWithLocalAddress`
  src/core/Akka.Remote/RemoteActorRefProvider.cs
Labels: akka-remote, perf

#5028 Improve MurmurHash string hash memory footprint
  src/Akka.sln
  src/contrib/cluster/Akka.DistributedData/ORSet.cs
  src/core/Akka/Actor/Address.cs
  src/core/Akka/Util/MurmurHash.cs
Labels: akka-actor, akka-ddata, perf

#5035 A couple of fixes affecting the FileSubscriber
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams.Tests/IO/FileSinkSpec.cs
  src/core/Akka.Streams.Tests/IO/OutputStreamSinkSpec.cs
  src/core/Akka.Streams/IO/IOResult.cs
  src/core/Akka.Streams/Implementation/IO/FileSubscriber.cs
  src/core/Akka.Streams/Implementation/IO/OutputStreamSubscriber.cs
Labels: akka-streams

#4814 Abstraction of ServiceProvider, Improving Akka.DependencyInjection
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/ActorServiceProviderPropsWithScopesSpecs.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/DelegateInjectionSpecs.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/ServiceProviderSetupSpecs.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection/DependencyResolver.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection/DependencyResolverSetup.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection/IDependencyResolver.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection/ServiceProvider.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection/ServiceProviderDependencyResolver.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection/ServiceProviderScope.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection/ServiceProviderSetup.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Actors/AkkaService.cs
Labels: akka-dependency-injection, enhancement

#5047 added dedicated footprint for measuring Actor memory footprint
  src/benchmark/Akka.Benchmarks/Actor/ActorMemoryFootprintBenchmark.cs
Labels: perf

#5039 Remove `Uri.TryParse` and replace with `Span<char>` parsing
  src/benchmark/Akka.Benchmarks/Actor/ActorPathBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Actor/NameAndUidBenchmarks.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Remote/RemoteSystemDaemon.cs
  src/core/Akka.Remote/Serialization/LruBoundedCache.cs
  src/core/Akka.Tests/Actor/ActorSelectionSpec.cs
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Actor/ActorCell.cs
  src/core/Akka/Actor/ActorPath.cs
  src/core/Akka/Actor/NameAndUid.cs
  src/core/Akka/Actor/RepointableActorRef.cs
  src/core/Akka/Util/SpanHacks.cs
Labels: akka-actor, perf

#5051 Removed `StringBuilder` allocation from `Base64Encoding`
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Util/Base64Encoding.cs
Labels: akka-actor, perf
