Repository akkadotnet/akka.net, pull requests merged in 2021-01, with the labels that each got.

#4716 remove .NET install scripts from build.sh
  build.sh
  src/core/Akka/ActorState.cs
Labels: build system, linux

#4715 upgraded test target for .NET framework to .NET 4.7.2
  build.fsx
  src/common.props
  src/core/Akka.MultiNodeTestRunner/Akka.MultiNodeTestRunner.nuspec.template
Labels: build system

#4714 Add WithConfigFallback quality of life helper method to BootstrapSetup
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Actor/ActorSystem.cs
Labels: akka-actor

#4726 harden Bugfix4360Spec.Should_recover_persistentactor_sqlite
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Bugfix4360Spec.cs
Labels: tests

#4727 added full ASP.NET Core + DI sample
  src/Akka.sln
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Actors/AkkaService.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Actors/HasherActor.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Messages/HashReply.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Program.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Samples.Akka.AspNetCore.csproj
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Services/IHashService.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Services/IPublicHashingService.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Startup.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/app.conf
  src/examples/AspNetCore/Samples.Akka.AspNetCore/appsettings.Development.json
  src/examples/AspNetCore/Samples.Akka.AspNetCore/appsettings.json
Labels: examples

#4730 Updated Akka.DependencyInjection documentation
  docs/articles/actors/dependency-injection.md
  docs/articles/actors/di-core.md
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/ActorServiceProviderPropsWithScopesSpecs.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/AkkaDiFixture.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Actors/AkkaService.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Actors/HasherActor.cs
  src/examples/AspNetCore/Samples.Akka.AspNetCore/Startup.cs
Labels: akka-dependency-injection, docs

#4731 set the metadata for the Akka.DependencyInjection package to point at specific page on Akka.NET website
  src/contrib/dependencyinjection/Akka.DependencyInjection/Akka.DependencyInjection.csproj
Labels: akka-dependency-injection

#4734 typo
  docs/articles/actors/dependency-injection.md
Labels: docs

#4743 Update cluster-overview.md
  docs/articles/clustering/cluster-overview.md
Labels: docs

#4745 Akka.DependencyInjection.ServiceProviderProps did not copy over Deploy and SupervisorStrategy properties properly.
  src/contrib/dependencyinjection/Akka.DependencyInjection/ServiceProvider.cs
Labels: akka-dependency-injection

#4746 Fixed a typo with `dependency-injection.md`
  docs/articles/actors/dependency-injection.md
Labels: docs
