Repository akkadotnet/akka.net, pull requests merged in 2021-03, with the labels that each got.

#4764 Add Serialization.WithTransport overload that takes TState
  src/Akka.sln
  src/benchmark/SerializationBenchmarks/Program.cs
  src/benchmark/SerializationBenchmarks/SerializationBenchmarks.csproj
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/QueryExecutor.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Serialization/Serialization.cs
Labels: perf, serialization

#4804 clarified Akka.Remote.EndpointWriter ArgumentException error message
  src/core/Akka.Remote/Endpoint.cs
Labels: akka-remote, logging

#4755 Cleanup Akka.Cluster.SBR for release
  docs/articles/clustering/split-brain-resolver.md
  src/core/Akka.Cluster.Tests/SBR/SplitBrainResolverSpec.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
  src/core/Akka.Cluster/SBR/DowningStrategy.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolver.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolverProvider.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolverSettings.cs
Labels: akka-cluster, docs

#4818 Akka.NET v1.4.17 release
  RELEASE_NOTES.md
  src/common.props
Labels: meta

#4868 made Deploy methods virtual
  src/common.props
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Actor/Deploy.cs
  src/core/Akka/Actor/Props.cs
Labels: akka-actor, api-change

#4889 DeadLetterSuppression for ActorSelection and other deadletter enhancements
  src/contrib/cluster/Akka.Cluster.Sharding/ShardedDaemonProcess.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedMessages.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterSharding.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterTools.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests/Actor/DeadLetterSupressionSpec.cs
  src/core/Akka.Tests/Actor/DeadLetterSuspensionSpec.cs
  src/core/Akka.Tests/Event/EventStreamSpec.cs
  src/core/Akka/Actor/ActorSelection.cs
  src/core/Akka/Actor/BuiltInActors.cs
  src/core/Akka/Actor/EmptyLocalActorRef.cs
  src/core/Akka/Configuration/Pigeon.conf
  src/core/Akka/Event/DeadLetter.cs
  src/core/Akka/Event/DeadLetterListener.cs
  src/core/Akka/Event/UnhandledMessage.cs
  src/core/Akka/Routing/ConsistentHashRouter.cs
Labels: akka-actor
