Repository akkadotnet/akka.net, pull requests merged in 2021-07, with the labels that each got.

#5121 log full exception upon deserialization failure
  src/core/Akka.Remote/Endpoint.cs
Labels: akka-remote, serialization

#5120 `MessageContainerSerializer` reports on serializerId and manifest of failed payload
  src/core/Akka.Remote.Tests/Serialization/BugFix5062Spec.cs
  src/core/Akka.Remote/Serialization/MessageContainerSerializer.cs
Labels: akka-remote, serialization

#5125 Fix persistence cluster sharding serialization failure
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingMessageSerializerSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Shard.cs
Labels: akka-cluster-sharding, serialization

#5132 include attempted bind address in DotNetty binding failure messages
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransport.cs
Labels: akka-remote, dotnetty

#5123 Pipe of Canceled Tasks
  src/core/Akka/Actor/PipeToSupport.cs
Labels: akka-actor

#5122 Restart(Source|Flow|Sink): Configurable stream restart deadline
  docs/articles/streams/error-handling.md
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Docs.Tests/Streams/RestartDocTests.cs
  src/core/Akka.Streams.Tests/Dsl/RestartSpec.cs
  src/core/Akka.Streams/Dsl/Restart.cs
  src/core/Akka.Streams/RestartSettings.cs
Labels: akka-streams

#5098 Reworked `Ask<T>` to allocate fewer objects, `await` less
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/AsyncWriteProxyEx.cs
  src/contrib/serializers/Akka.Serialization.TestKit/AkkaSerializationSpec.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Remote.Tests/RemotingSpec.cs
  src/core/Akka.Tests/Actor/AskSpec.cs
  src/core/Akka.Tests/Serialization/SerializationSpec.cs
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/Futures.cs
Labels: akka-actor, perf

#5155 Prevent EndpointDisassociatedException from being thrown from EndpointReader
  src/core/Akka.Remote/Endpoint.cs
Labels: akka-remote, serialization
