Repository akkadotnet/akka.net, pull requests merged in 2021-09, with the labels that each got.

#5239 adding `GetChild` benchmark
  src/benchmark/Akka.Benchmarks/Actor/GetChildBenchmark.cs
Labels: akka-actor, perf

#5243 fixed `GetChild` benchmark
  src/benchmark/Akka.Benchmarks/Actor/GetChildBenchmark.cs
Labels: akka-actor, perf

#5244 added benchmark for `VirtualPathContainer` resolution
  src/benchmark/Akka.Benchmarks/Actor/GetChildBenchmark.cs
Labels: akka-actor, perf

#5241 improve child lookup performance
  src/benchmark/Akka.Benchmarks/Actor/GetChildBenchmark.cs
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Actor/ActorCell.cs
Labels: akka-actor, perf

#5242 Improve performance on `IActorRef.Child` API
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApproveRemote.approved.txt
  src/core/Akka.Remote/RemoteActorRef.cs
  src/core/Akka.Remote/RemoteSystemDaemon.cs
  src/core/Akka.TestKit/TestActorRefBase.cs
  src/core/Akka.TestKit/TestProbe.cs
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Actor/ActorCell.cs
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/ActorRefProvider.cs
  src/core/Akka/Actor/LocalActorRef.cs
  src/core/Akka/Actor/RepointableActorRef.cs
  src/core/Akka/Util/Internal/Collections/ListSlice.cs
Labels: akka-actor, api-change, perf

#5240 added LRU cache support to inbound Akka.Remote IActorRef resolution
  src/core/Akka.Remote/RemoteActorRefProvider.cs
  src/core/Akka.Remote/Serialization/ActorRefResolveCache.cs
Labels: akka-remote, perf

#5248 added `LruBoundedCache` benchmarks
  src/benchmark/Akka.Benchmarks/Remoting/LruBoundedCacheBenchmarks.cs
Labels: akka-remote, perf

#5221 Ask should push unhandled answers into deadletter
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/AsyncWriteProxyEx.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests/Actor/AskSpec.cs
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/Futures.cs
Labels: akka-actor

#5249 added .NET 5 support to microbenchmarks
  src/benchmark/Akka.Benchmarks/Akka.Benchmarks.csproj
  src/benchmark/Akka.Cluster.Benchmarks/Akka.Cluster.Benchmarks.csproj
Labels: perf

#5250 pumped up the LruCache benchmark invocation count to get more accurate numbers
  src/benchmark/Akka.Benchmarks/Remoting/LruBoundedCacheBenchmarks.cs
Labels: perf

#5256 harden Bugfix4360Spec
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Bugfix4360Spec.cs
Labels: tests, akka-persistence-sql-common

#5257 disabled Akka.Persistence.TCK.Query.ReadJournal_should_deallocate_All_PersistenceIds_publisher_when_the_last_subscriber_left
  src/core/Akka.Persistence.TCK/Query/PersistenceIdsSpec.cs
Labels: akka-persistence, akka-testkit

#5258 skip racy substream spec
  src/core/Akka.Streams.Tests/Dsl/SubstreamSubscriptionTimeoutSpec.cs
Labels: tests, akka-streams

#5262 hardened UnfoldFlowSpec
  src/core/Akka.Streams.Tests/Dsl/UnfoldFlowSpec.cs
Labels: tests, akka-streams

#5263 hardened more UnflowFlowSpec
  src/core/Akka.Streams.Tests/Dsl/UnfoldFlowSpec.cs
Labels: tests, akka-streams

#5264 harden ManyRecoveriesSpec
  src/core/Akka.Persistence.Tests/ManyRecoveriesSpec.cs
Labels: tests, akka-persistence

#5266 added `IActorRef` benchmarks
  src/benchmark/Akka.Benchmarks/Actor/ActorRefBenchmarks.cs
Labels: akka-actor, perf

#5267 harden GraphStageTimersSpec
  src/core/Akka.Streams.Tests/Dsl/GraphStageTimersSpec.cs
Labels: tests, akka-streams

#5269 harden UnfoldFlowSpec
  src/core/Akka.Streams.Tests/Dsl/UnfoldFlowSpec.cs
Labels: tests, akka-streams

#5164 harden `ClusterShardingLeavingSpec`
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/AsyncWriteProxyEx.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingLeavingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
Labels: multi node spec, akka-cluster-sharding

#5270 harden SqliteCurrentAllEventsSpec
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Query/SqliteCurrentAllEventsSpec.cs
Labels: tests, akka-persistence-sql-common

#5271 disable Actor_PipeTo_should_not_be_delayed_by_async_receive
  src/core/Akka.Persistence.Tests/ReceivePersistentActorAsyncAwaitSpec.cs
Labels: tests, akka-persistence

#5259 Ask should push unhandled answers into deadletter 2
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka.Tests/Actor/AskSpec.cs
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/Futures.cs
Labels: akka-actor, logging, api-change

#5228 experimenting with RemoteActorRefProvider address resolution performance
  src/core/Akka.Remote/RemoteActorRefProvider.cs
  src/core/Akka/Actor/Address.cs
Labels: akka-remote, perf

#5226 Improve status messages
  src/contrib/persistence/Akka.Persistence.Sql.Common/Snapshot/SqlSnapshotStore.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Actor/ActorBase.cs
  src/core/Akka/Actor/SupervisorStrategy.cs
Labels: akka-actor, api-change, akka-persistence-sql-common

#5274 Akka.NET v1.4.25 Release Notes
  RELEASE_NOTES.md
Labels: meta

#5286 Revert #5180, switching back to original LightningDB packages.
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/Akka.Cluster.Sharding.Tests.MultiNode.csproj
  src/contrib/cluster/Akka.DistributedData.LightningDB/Akka.DistributedData.LightningDB.csproj
  src/contrib/cluster/Akka.DistributedData.Tests.MultiNode/Akka.DistributedData.Tests.MultiNode.csproj
  src/contrib/cluster/lib-hack/LightningDB.targets
  src/contrib/cluster/lib-hack/runtimes/linux-arm/native/liblmdb.so
  src/contrib/cluster/lib-hack/runtimes/linux-arm64/native/liblmdb.so
  src/contrib/cluster/lib-hack/runtimes/linux-x64/native/liblmdb.so
  src/contrib/cluster/lib-hack/runtimes/osx/native/lmdb.dylib
  src/contrib/cluster/lib-hack/runtimes/win-x64/native/lmdb.dll
  src/contrib/cluster/lib-hack/runtimes/win-x64/native/lmdbautoresize.dll
  src/contrib/cluster/lib-hack/runtimes/win-x86/native/lmdb.dll
  src/contrib/cluster/lib-hack/runtimes/win-x86/native/lmdbautoresize.dll
Labels: akka-ddata-durable

#5288 Modify MNTR to work with the new MNTR package
  src/core/Akka.MultiNodeTestRunner.Shared.Tests/MultiNodeTestRunnerDiscovery/DiscoverySpec.cs
  src/core/Akka.MultiNodeTestRunner/Program.cs
  src/core/Akka.NodeTestRunner/Program.cs
  src/core/Akka.Remote.TestKit/CommandLine.cs
  src/core/Akka.Remote.TestKit/MultiNodeFact.cs
Labels: multi node spec, akka-testkit

#5289 Added Akka.NET v1.4 upgrade advisories area to website
  docs/community/whats-new/akkadotnet-v1.4-upgrade-advisories.md
  docs/community/whats-new/toc.yml
Labels: docs

#5290 Change PrimitiveSerializer compatibility switch setting name from `use-neutral-primitives` to `use-legacy-behavior` for less ambiguity
  src/core/Akka.Remote.Tests/RemoteConfigSpec.cs
  src/core/Akka.Remote.Tests/Serialization/BugFix5279Spec.cs
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Serialization/PrimitiveSerializers.cs
Labels: akka-remote

#5292 Added HOCON comment for `akka.actor.serialization-settings.primitive.use-legacy-behavior`
  src/core/Akka.Remote/Configuration/Remote.conf
Labels: akka-remote, configuration
