Repository akkadotnet/akka.net, pull requests merged in 2022-07, with the labels that each got.

#6030 harden `HubSpec` duration
  src/core/Akka.Streams.Tests/Dsl/HubSpec.cs
Labels: tests

#6034 Harden ClusterSpec CoordinatedShutdown
  src/core/Akka.Cluster.Tests/ClusterSpec.cs
Labels: tests, akka-cluster

#6031 harden `ClusterLogSpec`
  src/core/Akka.Cluster.Tests/ClusterLogSpec.cs
Labels: tests, akka-cluster

#6038 SSL Configuration Fails even EnbleSsl property is set to false
  src/core/Akka.Remote.Tests/Transport/DotNettySslSupportSpec.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransportSettings.cs
Labels: akka-remote, configuration

#6044 AsyncEnumerable
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
  src/core/Akka.Streams/Dsl/Source.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#6045 cleaned up `IAsyncEnumerable` Source to use local functions
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#6032 Improve Akka.Actor.Cancelable
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Actor/Cancellation/Cancelable.cs
Labels: akka-actor

#6047 [BACKPORT #6044] Add IAsyncEnumerable as Akka.Streams Source
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.verified.txt
  src/core/Akka.Streams.TestKit.Tests/StreamTestDefaultMailbox.cs
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
  src/core/Akka.Streams/Dsl/Source.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#6048 [BACKPORT #6045] cleaned up `IAsyncEnumerable` Source to use local functions
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#6049 Fix attempt, AsyncEnumerableSpec unit test hung in AzDO
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
Labels: tests, akka-streams

#6028 Fix faulty AddLogger in LoggingBus
  src/core/Akka.Tests/Loggers/LoggerStartupSpec.cs
  src/core/Akka/Event/LoggingBus.cs
Labels: akka-actor, logging

#6052 migrate project chat from Gitter to Discord
  docs/toc.yml
Labels: docs, meta

#6053 [BACKPORT #6028] Fix faulty AddLogger in LoggingBus
  src/core/Akka.Tests/Loggers/LoggerStartupSpec.cs
  src/core/Akka/Event/LoggingBus.cs
Labels: akka-actor, logging

#6054 Fix Streams.Tests.Dsl.MergeHub_must_work_with_long_streams_when_buffer_size_is_1
  src/core/Akka.Streams.Tests/Dsl/HubSpec.cs
Labels: tests, akka-streams
