Repository akkadotnet/akka.net, pull requests merged in 2022-10, with the labels that each got.

#6127 WIP queue benchmarks
  src/benchmark/Akka.Benchmarks/Dispatch/CallingThreadExecutor.cs
  src/benchmark/Akka.Benchmarks/Dispatch/MailboxThroughputBenchmarks.cs
Labels: akka-actor, perf

#6134 eliminate mailbox delegate allocations
  src/core/Akka/Dispatch/Mailbox.cs
Labels: akka-actor, perf, akka.net v1.4

#6140 Added Dispatcher Benchmarks
  src/benchmark/Akka.Benchmarks/Dispatch/DispatcherBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Dispatch/MailboxThroughputBenchmarks.cs
Labels: perf, akka.net v1.4

#6144 added performance benchmarks for FSM
  src/benchmark/Akka.Benchmarks/Actor/FsmBenchmarks.cs
Labels: akka-actor, perf

#6143 remove delegate allocation from `ForkJoinDispatcher` and `DedicatedThreadPool`
  src/core/Akka/Dispatch/Dispatchers.cs
  src/core/Akka/Helios.Concurrency.DedicatedThreadPool.cs
Labels: akka-actor, perf, akka.net v1.4

#6147 added actor messaging pressure benchmark
  src/benchmark/Akka.Benchmarks/Actor/ActorMessagingMemoryPressureBenchmark.cs
  src/benchmark/Akka.Benchmarks/Actor/FsmBenchmarks.cs
Labels: akka-actor, perf

#6137 Make `Envelope` a reference type again
  src/core/Akka/Actor/Message.cs
Labels: akka-actor, perf, akka.net v1.4

#6152 Block Xunit2 TestKit until unit test logger is ready
  src/contrib/testkits/Akka.TestKit.Xunit2/Internals/Loggers.cs
  src/contrib/testkits/Akka.TestKit.Xunit2/TestKit.cs
Labels: logging, akka-testkit

#6145 Reduce `FSM<TState, TData>` allocations
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.verified.txt
  src/core/Akka.Tests/Actor/FSMActorSpec.cs
  src/core/Akka/Actor/FSM.cs
Labels: akka-actor, perf, akka.net v1.4

#6160 Fix unhandled RememberShards by DDataShardCoordinator
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShardCoordinator.cs
Labels: akka-cluster-sharding

#6162 Backport v1.4.44 performance fixes to v1.5
  src/benchmark/Akka.Benchmarks/Actor/ActorMessagingMemoryPressureBenchmark.cs
  src/benchmark/Akka.Benchmarks/Actor/FsmBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Dispatch/CallingThreadExecutor.cs
  src/benchmark/Akka.Benchmarks/Dispatch/DispatcherBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Dispatch/MailboxThroughputBenchmarks.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.verified.txt
  src/core/Akka.Tests/Actor/FSMActorSpec.cs
  src/core/Akka/Actor/FSM.cs
  src/core/Akka/Actor/Message.cs
  src/core/Akka/Akka.csproj
  src/core/Akka/Dispatch/Dispatchers.cs
  src/core/Akka/Dispatch/Mailbox.cs
  src/core/Akka/Helios.Concurrency.DedicatedThreadPool.cs
Labels: perf

#6164 Logging Benchmarks
  src/benchmark/Akka.Benchmarks/Logging/LoggingBenchmarks.cs
Labels: logging, perf

#6165 Update version numbers in spellcheck pipeline
  build-system/pr-validation.yaml
  docs/cSpell.json
  docs/community/contributing/documentation-guidelines.md
Labels: build system

#6166 Eliminate `DefaultLogMessageFormatter` allocations
  src/benchmark/Akka.Benchmarks/Logging/LoggingBenchmarks.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Streams.Tests/Dsl/FlowLogSpec.cs
  src/core/Akka.Streams/Implementation/Fusing/ActorGraphInterpreter.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
  src/core/Akka.Tests/Loggers/LoggerSpec.cs
  src/core/Akka/Actor/Internal/ActorSystemImpl.cs
  src/core/Akka/Event/DefaultLogMessageFormatter.cs
  src/core/Akka/Event/Logging.cs
Labels: akka-actor, perf

#6167 Improve error/exception message for misconfigured cluster provider
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/InvalidSettingsSpec.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.verified.txt
  src/core/Akka.Cluster.Tests/InvalidClusterSettingsSpec.cs
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka/Configuration/ConfigurationException.cs
Labels: akka-cluster, logging

#6169 [PORT #6167] Improve error/exception message for misconfigured cluster provider
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/InvalidSettingsSpec.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.verified.txt
  src/core/Akka.Cluster.Tests/InvalidClusterSettingsSpec.cs
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka/Configuration/ConfigurationException.cs
Labels: logging, akka-cluster-sharding

#6168 [BACKPORT #6166] Eliminate `DefaultLogMessageFormatter` allocations
  src/benchmark/Akka.Benchmarks/Logging/LoggingBenchmarks.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.verified.txt
  src/core/Akka.Streams.Tests/Dsl/FlowLogSpec.cs
  src/core/Akka.Streams/Implementation/Fusing/ActorGraphInterpreter.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
  src/core/Akka.Tests/Loggers/LoggerSpec.cs
  src/core/Akka/Actor/Internal/ActorSystemImpl.cs
  src/core/Akka/Event/DefaultLogMessageFormatter.cs
  src/core/Akka/Event/Logging.cs
Labels: akka-actor, logging, perf

#6180 [BACKPORT #6175] Fix DbCommand.CommandTimeout
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/BatchingSqlJournal.cs
Labels: akka-persistence-sql-common

#6173 add HashCodeMEssageExtractor Factory method
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
Labels: akka-cluster-sharding

#6182 [BACKPORT #6173] Add HashCodeMessageExtractor factory
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterSharding.verified.txt
Labels: akka-cluster-sharding

#6183 removed boxing allocations inside `FSM.State.Equals`
  src/core/Akka/Actor/FSM.cs
Labels: akka-actor, perf

#6209 Make sure that `DeadLetter`s published by `DistributedPubSubMediator` contain full context of topic
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSubMediator.cs
Labels: logging, akka-cluster-tools

#6216 Remove suspicious code fragment in ActorMaterializer.cs
  src/core/Akka.Streams/ActorMaterializer.cs
Labels: akka-streams

#6203 Improve Akka.Cluster.Metrics collected values
  src/contrib/cluster/Akka.Cluster.Metrics/Collectors/DefaultCollector.cs
  src/contrib/cluster/Akka.Cluster.Metrics/StandardMetrics.cs
  src/core/Akka/Util/Extensions/DateTimeExtensions.cs
Labels: akka-cluster-metrics
