Repository akkadotnet/akka.net, pull requests merged in 2022-02, with the labels that each got.

#5562 Correct the `throughput` numbers
  docs/articles/actors/dispatchers.md
Labels: docs

#5538 fixed - InternalExpectAsync does not await actionAsync() - causing ac…
  src/core/Akka.TestKit.Tests/TestEventListenerTests/AllTestForEventFilterBase.cs
  src/core/Akka.TestKit/EventFilter/Internal/EventFilterApplier.cs
Labels: confirmed bug

#5565 Added `SendToDeadLettersWhenNoSubscribers` to `DistributedPubSubConfigSpec`
  src/contrib/cluster/Akka.Cluster.Tools.Tests/PublishSubscribe/DistributedPubSubConfigSpec.cs
Labels: configuration, akka-cluster-tools

#5561 Fix: no `DeadLetter`s when publishing to a `Topic` with no subscribers
  src/contrib/cluster/Akka.Cluster.Tools.Tests/PublishSubscribe/DistributedPubSubMediatorSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSubMediator.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Internal/Topics.cs
Labels: logging, akka-cluster-tools

#5570 Fix akka streams attributes docfx
  output.txt
  src/common.props
  src/core/Akka.Streams/Attributes.cs
Labels: docs

#5574 Docs: Fixed `inheritdoc` issue in `Akka.Streams.Dsl.RestartFlow.cs`
  src/core/Akka.Streams/Dsl/RestartFlow.cs
Labels: docs, akka-streams

#5575 Docs: Fixed `inheritdoc` issue in `Akka.Streams.Implementation.StreamLayout.cs`
  src/core/Akka.Streams/Implementation/StreamLayout.cs
Labels: docs, akka-streams

#5577 Docs: Fixed `inheritdoc` issue in `Akka.Streams.Util.EnumeratorEnumerable`
  src/core/Akka.Streams/Util/EnumeratorEnumerable.cs
Labels: docs, akka-streams

#5579 Update routers.md
  docs/articles/actors/routers.md
Labels: docs

#5580 Docs: Fixed Base Documentation in `NotUsed.cs`
  src/core/Akka/NotUsed.cs
Labels: docs

#5552 Added one more message to the test
  src/core/Akka.TestKit.Tests/TestKitBaseTests/ReceiveTests.cs
  src/core/Akka.TestKit/TestKitBase_Receive.cs
Labels: api-change, akka-testkit

#5647 Change WatchTermination signature to Task<Done>
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams/Dsl/FlowOperations.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Dsl/SourceOperations.cs
  src/core/Akka.Streams/Dsl/SubFlowOperations.cs
  src/core/Akka.Streams/Implementation/Fusing/GraphStages.cs
Labels: akka-streams, api-change

#5662 Remove test actor deadletter logging
  src/core/Akka.TestKit/Internal/InternalTestActor.cs
Labels: akka-testkit

#5668 [Docs]: Fix Metadata Reference
  src/common.props
  src/core/Akka.FSharp.Tests/Akka.FSharp.Tests.fsproj
  src/core/Akka.FSharp/Akka.FSharp.fsproj
  src/core/Akka.Persistence.FSharp/Akka.Persistence.FSharp.fsproj
Labels: build system

#5669 Resolved invalid links
  docs/articles/toc.yml
  docs/index.md
Labels: docs

#5542 Check for possible broken documentation by failing on DocFX warning
  build-system/pr-validation.yaml
  build.fsx
Labels: build system, docs

#5677 [Docs] Improve coordinated shutdown doc hygiene
  docs/articles/actors/coordinated-shutdown.md
  src/core/Akka/Configuration/Pigeon.conf
Labels: docs

#5678 Change Receive Test Methods to `Sync` over `Async`
  src/core/Akka.TestKit/Internal/AsyncQueue.cs
  src/core/Akka.TestKit/TestKitBase_Receive.cs
Labels: akka-testkit

#5680 [Docs] Improve FSM hygiene
  docs/articles/actors/finite-state-machine.md
  src/core/Akka.Docs.Tests/Actors/FiniteStateMachine/ExampleFSMActor.cs
Labels: docs

#5686 Fix ORSet.Merge with AddDeltaOperation takes too long to complete
  src/contrib/cluster/Akka.DistributedData.Tests/ReplicatorSpecs.cs
  src/contrib/cluster/Akka.DistributedData/ORSet.cs
Labels: perf, akka-ddata

#5684 Make PipeTo ConfigureAwait() optional
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.approved.txt
  src/core/Akka/Actor/PipeToSupport.cs
Labels: akka-actor
