Repository akkadotnet/akka.net, pull requests merged in 2022-09, with the labels that each got.

#6089 Require verbose logging for more gossip send/receive log statements.
  src/contrib/cluster/Akka.DistributedData/Replicator.cs
Labels: logging, akka-ddata

#6091 [BACKPORT #6089] Require verbose logging for more gossip send/receive log statements.
  src/contrib/cluster/Akka.DistributedData/Replicator.cs
Labels: logging, akka-ddata

#6093 Change TestKitBase.InitializeTest to virtual so it can be deferred
  src/core/Akka.TestKit/TestKitBase.cs
Labels: api-change, akka-testkit

#6094 [BACKPORT #6092] [Akka.TestKit] TestKitBase should take arbitrary ActorSystem without throwing
  src/core/Akka.TestKit.Tests/TestKitSpec.cs
  src/core/Akka.TestKit/TestKitBase.cs
Labels: akka-testkit

#6095 [PORT #6093] Change TestKitBase.InitializeTest to virtual so it can be deferred
  src/core/Akka.TestKit/TestKitBase.cs
Labels: akka-testkit

#6099 Remove the PatternMatch class
  src/benchmark/PersistenceBenchmark/PerformanceActors.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerSpec.cs
  src/contrib/cluster/Akka.DistributedData/ReadAggregator.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByPersistenceIdPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByTagPublisher.cs
  src/contrib/persistence/Akka.Persistence.Sql.TestKit/SqlSnapshotConnectionFailureSpec.cs
  src/contrib/persistence/Akka.Persistence.Sql.TestKit/TestActor.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Cluster.Tests.MultiNode/NodeLeavingAndExitingSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/NodeUpSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/SunnyWeatherSpec.cs
  src/core/Akka.Cluster/ClusterReadView.cs
  src/core/Akka.Persistence.Tests/AtLeastOnceDeliveryFailureSpec.cs
  src/core/Akka.Persistence.Tests/AtLeastOnceDeliveryReceiveActorSpec.cs
  src/core/Akka.Persistence.Tests/AtLeastOnceDeliverySpec.cs
  src/core/Akka.Persistence.Tests/SnapshotSpec.cs
  src/core/Akka.Remote.TestKit/BarrierCoordinator.cs
  src/core/Akka.Remote.Tests.MultiNode/RemoteReDeploymentSpec.cs
  src/core/Akka.Remote/Endpoint.cs
  src/core/Akka.Remote/Transport/AkkaProtocolTransport.cs
  src/core/Akka.Remote/Transport/TransportAdapters.cs
  src/core/Akka.Streams.Tests.TCK/ActorPublisherTest.cs
  src/core/Akka.Streams.Tests/Dsl/GraphStageTimersSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/KeepGoingStageSpec.cs
  src/core/Akka.Streams/Implementation/FanIn.cs
  src/core/Akka.Streams/Implementation/FanOut.cs
  src/core/Akka.Streams/Implementation/IO/FilePublisher.cs
  src/core/Akka.Streams/Implementation/IO/InputStreamPublisher.cs
  src/core/Akka.Tests.Performance/Actor/ActorMemoryFootprintSpec.cs
  src/core/Akka.Tests.Performance/Actor/ActorThroughputSpec.cs
  src/core/Akka.Tests/Actor/PatternSpec.cs
  src/core/Akka.Tests/Akka.Tests.csproj
  src/core/Akka.Tests/Routing/ListenerSpec.cs
  src/core/Akka.Tests/Routing/SmallestMailboxSpec.cs
  src/core/Akka.Tests/Util/PatternSpec.cs
  src/core/Akka/Actor/GracefulStopSupport.cs
  src/core/Akka/Event/TraceLogger.cs
  src/core/Akka/PatternMatch.cs
Labels: akka-actor, api-change

#6103 Add graceful stop specs
  src/core/Akka.Tests/Actor/ActorLifeCycleSpec.cs
  src/core/Akka.Tests/Actor/GracefulStopSpecs.cs
Labels: tests, akka-actor

#6101 Akka.Cluster.Sharding `GetEntityLocation` Query
  docs/articles/clustering/cluster-sharding.md
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardRegionQueriesSpecs.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardingMessages.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApproveClusterSharding.verified.txt
Labels: akka-cluster-sharding, api-change

#6107 [PORT #6101] Akka.Cluster.Sharding `GetEntityLocation` Query
  docs/articles/clustering/cluster-sharding.md
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardRegionQueriesSpecs.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardingMessages.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.verified.txt
Labels: akka-cluster-sharding

#6111 cleaned up NuGet package descriptions
  src/contrib/cluster/Akka.Cluster.Sharding/Akka.Cluster.Sharding.csproj
  src/core/Akka.Cluster/Akka.Cluster.csproj
  src/core/Akka.Persistence/Akka.Persistence.csproj
  src/core/Akka.Remote/Akka.Remote.csproj
  src/core/Akka.Streams/Akka.Streams.csproj
  src/core/Akka/Akka.csproj
Labels: build system

#6126 Allow `LogLevel` template to display milliseconds
  src/core/Akka/Event/LogEvent.cs
Labels: logging

#6124 1.5 Akka.Cluster.Sharding migration documentation
  docs/articles/clustering/cluster-sharding.md
  docs/articles/persistence/event-sourcing.md
  docs/cSpell.json
  docs/community/whats-new/akkadotnet-v1.5-upgrade-advisories.md
  docs/community/whats-new/akkadotnet-v1.5.md
  docs/community/whats-new/toc.yml
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/PersistentShardingMigrationSpec.cs
Labels: docs, akka-cluster-sharding
