Repository akkadotnet/akka.net, pull requests merged in 2022-08, with the labels that each got.

#6058 Fixes log and uses cluster sharding `LeaseSettings`, if configured, i…
  src/contrib/cluster/Akka.Cluster.Sharding/ShardedDaemonProcess.cs
Labels: akka-cluster-sharding

#6057 Tutorial improvements
  src/core/Akka.Docs.Tutorials/Tutorial3/DeviceGroupSpec.cs
  src/core/Akka.Docs.Tutorials/Tutorial3/DeviceManager.cs
  src/core/Akka.Docs.Tutorials/Tutorial4/DeviceGroupQueryInProgress.cs
Labels: docs

#6064 [SBR] Ignore reachability records for invalid nodes
  src/core/Akka.Cluster.Tests/SBR/SplitBrainResolverSpec.cs
  src/core/Akka.Cluster/SBR/DowningStrategy.cs
Labels: akka-cluster

#6050 Singleton class and settings based on current Akka Typed implementation
  docs/articles/clustering/cluster-singleton.md
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonApiSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingleton.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonSettings.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Net.verified.txt
Labels: akka-cluster-tools, api-change

#6063 [Cluster] Enable HeartbeatResponse message type
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Net.verified.txt
  src/core/Akka.Cluster.Tests/ClusterHeartBeatSenderStateSpec.cs
  src/core/Akka.Cluster.Tests/ClusterHeartbeatReceiverSpec.cs
  src/core/Akka.Cluster.Tests/ClusterHeartbeatSenderSpec.cs
  src/core/Akka.Cluster.Tests/ClusterSpecBase.cs
  src/core/Akka.Cluster.Tests/HeartbeatNodeRingSpec.cs
  src/core/Akka.Cluster.Tests/Serialization/ClusterMessageSerializerSpec.cs
  src/core/Akka.Cluster.Tests/SerializationChecksSpec.cs
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
  src/core/Akka.Cluster/Serialization/ClusterMessageSerializer.cs
Labels: akka-cluster, serialization

#6065 Cluster singleton should consider Member AppVersion during hand over.
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonRestart3Spec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/MemberAgeOrderingSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonManager.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonManagerSettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonProxy.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonProxySettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonSettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/MemberAgeOrdering.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/OldestChangedBuffer.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/reference.conf
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Net.verified.txt
  src/core/Akka.Cluster/Properties/AssemblyInfo.cs
  src/core/Akka/Util/AppVersion.cs
Labels: akka-cluster-tools

#6070 enabled `Directive.Resume` to log the full `Exception`
  src/core/Akka/Actor/SupervisorStrategy.cs
Labels: akka-actor, logging, akka.net v1.4

#6071 enabled `Directive.Resume` to log the full `Exception`
  src/core/Akka/Actor/SupervisorStrategy.cs
Labels: akka-actor, logging

#6075 added missing redirect for build documentation
  docs/community/build-process.html
Labels: docs

#6079 add BenchmarkDotNet results to `.gitignore`
  .gitignore
Labels: build system

#6078 `AkkaPduCodec` serializer benchmark
  src/benchmark/Akka.Benchmarks/Configurations/Configs.cs
  src/benchmark/Akka.Benchmarks/Remoting/AkkaPduCodecBenchmark.cs
Labels: akka-remote, perf

#6081 delete `AzCopy` from tools directory`
  tools/AzCopy/AzCopy.exe
  tools/AzCopy/License (Microsoft Azure Storage Tools).rtf
  tools/AzCopy/Microsoft.Data.Edm.dll
  tools/AzCopy/Microsoft.Data.OData.dll
  tools/AzCopy/Microsoft.Data.Services.Client.dll
  tools/AzCopy/Microsoft.WindowsAzure.Storage.DataMovement.dll
  tools/AzCopy/Microsoft.WindowsAzure.Storage.TableDataMovement.dll
  tools/AzCopy/Microsoft.WindowsAzure.Storage.dll
Labels: build system

#6080 Extend DistributedData Replicator settings with VerboseDebugLogging switch
  src/contrib/cluster/Akka.DistributedData.Tests/ReplicatorSettingsSpec.cs
  src/contrib/cluster/Akka.DistributedData/Replicator.cs
  src/contrib/cluster/Akka.DistributedData/ReplicatorSettings.cs
  src/contrib/cluster/Akka.DistributedData/reference.conf
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveDistributedData.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveDistributedData.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveDistributedData.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveDistributedData.verified.txt
Labels: logging, akka-ddata

#6082 regenerate all protobuf messages
  build.ps1
  build.sh
  src/contrib/cluster/Akka.Cluster.Sharding/Serialization/Proto/ClusterShardingMessages.g.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/Serialization/Proto/ClusterClientMessages.g.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Serialization/Proto/DistributedPubSubMessages.g.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/Proto/ReplicatedDataMessages.g.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/Proto/ReplicatorMessages.g.cs
  src/core/Akka.Cluster/Serialization/Proto/ClusterMessages.g.cs
  src/core/Akka.Persistence/Serialization/Proto/Persistence.g.cs
  src/core/Akka.Remote.TestKit/Proto/TestConductorProtocol.g.cs
  src/core/Akka.Remote/Serialization/Proto/ContainerFormats.g.cs
  src/core/Akka.Remote/Serialization/Proto/SystemMessageFormats.g.cs
  src/core/Akka.Remote/Serialization/Proto/WireFormats.g.cs
  src/core/Akka.Streams/Serialization/Proto/StreamRefMessages.g.cs
  tools/AzCopy/Newtonsoft.Json.dll
  tools/AzCopy/System.Spatial.dll
  tools/AzCopy/Third Party Notice (Microsoft Azure Storage Tools).rtf
Labels: akka-cluster, akka-remote

#6084 [BACKPORT] #6080 Extend DistributedData Replicator settings with VerboseDebugLogging switch
  src/contrib/cluster/Akka.DistributedData.Tests/ReplicatorSettingsSpec.cs
  src/contrib/cluster/Akka.DistributedData/Replicator.cs
  src/contrib/cluster/Akka.DistributedData/ReplicatorSettings.cs
  src/contrib/cluster/Akka.DistributedData/reference.conf
  src/core/Akka.API.Tests/CoreAPISpec.ApproveDistributedData.verified.txt
Labels: logging, akka-ddata

#6086 [BACKPORT] (#6078) `AkkaPduCodec` serializer benchmark
  src/benchmark/Akka.Benchmarks/Configurations/Configs.cs
  src/benchmark/Akka.Benchmarks/Remoting/AkkaPduCodecBenchmark.cs
Labels: akka-remote, perf

#6087 Regenerate all protobuf messages (#6082)
  build.ps1
  src/contrib/cluster/Akka.Cluster.Sharding/Serialization/Proto/ClusterShardingMessages.g.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/Serialization/Proto/ClusterClientMessages.g.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Serialization/Proto/DistributedPubSubMessages.g.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/Proto/ReplicatedDataMessages.g.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/Proto/ReplicatorMessages.g.cs
  src/core/Akka.Cluster/Serialization/Proto/ClusterMessages.g.cs
  src/core/Akka.Persistence/Serialization/Proto/Persistence.g.cs
  src/core/Akka.Remote.TestKit/Proto/TestConductorProtocol.g.cs
  src/core/Akka.Remote/Serialization/Proto/ContainerFormats.g.cs
  src/core/Akka.Remote/Serialization/Proto/SystemMessageFormats.g.cs
  src/core/Akka.Remote/Serialization/Proto/WireFormats.g.cs
  src/core/Akka.Streams/Serialization/Proto/StreamRefMessages.g.cs
  tools/AzCopy/Newtonsoft.Json.dll
  tools/AzCopy/System.Spatial.dll
  tools/AzCopy/Third Party Notice (Microsoft Azure Storage Tools).rtf
Labels: akka-remote, perf
