Repository akkadotnet/akka.net, pull requests merged in 2022-06, with the labels that each got.

#5976 Fix sharding tolerant reader
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShardCoordinator.cs
Labels: akka-persistence, akka-cluster-sharding

#5974 Model-based tests for `PersistentShardCoordinator.State`
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Akka.Cluster.Sharding.Tests.csproj
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardCoordinatorStateModelTests.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardedDaemonProcessSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShardCoordinator.cs
  src/core/Akka.Tests.Shared.Internals/Helpers/FSharpDelegateHelper.cs
Labels: tests, akka-cluster-sharding

#5973 Fixes Sink.Ignore signature from Task to Task<Done>
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Docs.Tests/Streams/HubsDocTests.cs
  src/core/Akka.Docs.Tests/Streams/StreamRefsDocTests.cs
  src/core/Akka.Streams.Tests/Dsl/GraphMatValueSpec.cs
  src/core/Akka.Streams.Tests/Dsl/GraphZipSpec.cs
  src/core/Akka.Streams.Tests/IO/TcpSpec.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Dsl/Sink.cs
  src/core/Akka.Streams/Implementation/Fusing/GraphStages.cs
Labels: akka-streams, api-change

#5982 TcpTransport class instead of DotNettyTransport class in hocon config
  docs/articles/configuration/config.md
Labels: docs

#5984 [Async TestKit] Convert Akka.Cluster.Tests to async - ClusterSpec
  src/core/Akka.Cluster.Tests/ClusterSpec.cs
  src/core/Akka.Cluster/Cluster.cs
Labels: tests, akka-cluster

#5983 Started Akka.Cluster troubleshooting guide
  docs/articles/deployment/akkacluster-troubleshooting.md
  docs/articles/deployment/toc.yml
  docs/articles/discovery/index.md
Labels: akka-cluster, docs

#5987 Added missing `SourceWithContext.FromTuples` operator
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.Tests/Dsl/SourceWithContextSpec.cs
  src/core/Akka.Streams/Dsl/SourceWithContext.cs
Labels: akka-streams

#5989 [Async TestKit] Modernize TcpStage and TcpListener
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Streams/Implementation/IO/TcpStages.cs
  src/core/Akka/IO/Tcp.cs
  src/core/Akka/IO/TcpListener.cs
Labels: akka-io

#6006 Fix Akka.Persistence.TCK Persistence.Oracle issue
  src/core/Akka.Persistence.TCK/Query/PersistenceIdsSpec.cs
Labels: tests, akka-persistence

#6000 Added GroupedWeightedWithin operator
  docs/articles/streams/builtinstages.md
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.Tests/Dsl/FlowGroupedWithinSpec.cs
  src/core/Akka.Streams/Dsl/FlowOperations.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Dsl/SourceOperations.cs
  src/core/Akka.Streams/Dsl/SubFlowOperations.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
  src/core/Akka.Streams/Implementation/Stages/Stages.cs
Labels: akka-streams

#6009 Add environment variable controlled skipable LocalFactAttribute
  src/contrib/testkits/Akka.TestKit.Xunit2/Attributes/LocalFactAttribute.cs
Labels: tests, akka-testkit

#6021 Disabling GH NuGet nightly flow
  .github/workflows/nightly-nuget.yml
Labels: build system

#6025 Add ValueTask support to PipeTo
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Actor/PipeToSupportSpec.cs
  src/core/Akka.Tests/Akka.Tests.csproj
  src/core/Akka/Actor/PipeToSupport.cs
Labels: akka-actor, api-change
