Repository akkadotnet/akka.net, pull requests merged in 2022-01, with the labels that each got.

#5476 Add Flow.LazyInitAsync, and fix materialized value of Sink.LazyInit
  docs/articles/streams/builtinstages.md
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.approved.txt
  src/core/Akka.Streams.Tests/Dsl/LazyFlowSpec.cs
  src/core/Akka.Streams.Tests/Dsl/LazySinkSpec.cs
  src/core/Akka.Streams.Tests/IO/FileSinkSpec.cs
  src/core/Akka.Streams/Dsl/Flow.cs
  src/core/Akka.Streams/Dsl/Sink.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
  src/core/Akka.Streams/Implementation/Sinks.cs
  src/core/Akka.Streams/Implementation/Stages/Stages.cs
Labels: akka-streams

#5497 code cleanup on Akka.Persistence
  src/core/Akka.Persistence/Eventsourced.Lifecycle.cs
  src/core/Akka.Persistence/Eventsourced.cs
  src/core/Akka.Persistence/Journal/AsyncWriteJournal.cs
Labels: akka-persistence

#5508 Added `wsl` reboot instructions to debugging documentation
  docs/community/contributing/debugging.md
Labels: docs

#5509 Benchmark.NET Akka.Persistence Benchmarks
  .gitignore
  src/benchmark/Akka.Cluster.Benchmarks/Persistence/JournalWriteBenchmarks.cs
  src/benchmark/Akka.Cluster.Benchmarks/Persistence/PersistenceInfrastructure.cs
  src/benchmark/Akka.Cluster.Benchmarks/Persistence/RecoveryBenchmark.cs
  src/benchmark/Akka.Cluster.Benchmarks/Program.cs
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/ShardingInfrastructure.cs
Labels: akka-persistence, perf

#5514 [Cluster] Switch Persistence benchmark from using SQLite to MemoryJournal
  src/benchmark/Akka.Cluster.Benchmarks/Persistence/JournalWriteBenchmarks.cs
  src/benchmark/Akka.Cluster.Benchmarks/Persistence/PersistenceInfrastructure.cs
  src/benchmark/Akka.Cluster.Benchmarks/Persistence/RecoveryBenchmark.cs
Labels: akka-persistence, perf

#5505 cleaning up `async Task` internals inside `AsyncWriteJournal`
  src/core/Akka.Persistence/Journal/AsyncWriteJournal.cs
  src/core/Akka.Persistence/Journal/AsyncWriteProxy.cs
Labels: akka-persistence

#5527 fix getting started link
  docs/index.md
Labels: docs

#5532 Fixed broken links
  docs/articles/intro/getting-started/tutorial-1.md
  docs/articles/intro/getting-started/tutorial-2.md
  docs/articles/intro/getting-started/tutorial-3.md
  docs/articles/intro/getting-started/tutorial-4.md
Labels: docs

#5539 Fix build script trying to run tests on test projects in example folder
  build.fsx
  src/examples/Akka.Persistence.Custom.Tests/Akka.Persistence.Custom.Tests.csproj
Labels: build system

#5536 Add CPU benchmark project
  src/Akka.sln
  src/benchmark/Akka.Cluster.Cpu.Benchmark/Akka.Cluster.Cpu.Benchmark.csproj
  src/benchmark/Akka.Cluster.Cpu.Benchmark/BenchmarkNode.cs
  src/benchmark/Akka.Cluster.Cpu.Benchmark/Program.cs
  src/benchmark/Akka.Cluster.Cpu.Benchmark/README.md
Labels: akka-actor, perf

#5547 Catch `StreamDetachedException`
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
Labels: bug-reproduction
