Repository akkadotnet/akka.net, pull requests merged in 2022-12, with the labels that each got.

#6281 Add ReceiveAsync feature to Akka.TestKit TestActorRef
  src/core/Akka.TestKit.Tests/TestActorRefTests/ExceptionHandling.cs
  src/core/Akka.TestKit/Internal/InternalTestActorRef.cs
  src/core/Akka.TestKit/TestActorRefBase.cs
  src/core/Akka/Dispatch/ActorTaskScheduler.cs
Labels: akka-testkit

#6286 [BACKPORT #6281] Add ReceiveAsync to TestActorRef
  src/core/Akka.TestKit.Tests/TestActorRefTests/ExceptionHandling.cs
  src/core/Akka.TestKit/Internal/InternalTestActorRef.cs
  src/core/Akka.TestKit/TestActorRefBase.cs
  src/core/Akka/Dispatch/ActorTaskScheduler.cs
Labels: akka-testkit, akka.net v1.4

#6288 Added .NET 7.0 support for release pipelines
  build-system/nightly-builds.yaml
  build-system/windows-release.yaml
Labels: build system

#6289 [Backport] Added .NET 7.0 support for release pipelines
  build-system/nightly-builds.yaml
  build-system/windows-release.yaml
Labels: build system, akka.net v1.4

#6290 Akka:Streams Resolve `IAsyncEnumerator.DisposeAsync` bug
  src/core/Akka.Streams.Tests/Akka.Streams.Tests.csproj
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
  src/core/Akka.Streams/Akka.Streams.csproj
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: logging, akka-streams, akka.net v1.4

#6296 [Backports #6290] Akka:Streams Resolve `IAsyncEnumerator.DisposeAsync` bug
  src/core/Akka.Streams.Tests/Akka.Streams.Tests.csproj
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
  src/core/Akka.Streams/Akka.Streams.csproj
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#6297 `Exception` serialization support for built-in messages
  src/core/Akka.Remote.Tests/Serialization/Bugfix3903Spec.cs
  src/core/Akka.Remote.Tests/Serialization/MiscMessageSerializerSpec.cs
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Serialization/ExceptionSupport.cs
  src/core/Akka.Remote/Serialization/MessageContainerSerializer.cs
  src/core/Akka.Remote/Serialization/MiscMessageSerializer.cs
  src/core/Akka.Remote/Serialization/Proto/ContainerFormats.g.cs
  src/protobuf/ContainerFormats.proto
Labels: akka-remote, serialization, akka.net v1.4

#6301 added v1.4.47 release notes
  RELEASE_NOTES.md
Labels: akka.net v1.4

#6300 [PORT #6297] `Exception` serialization support for built-in messages
  src/core/Akka.Remote.Tests/Serialization/Bugfix3903Spec.cs
  src/core/Akka.Remote.Tests/Serialization/MiscMessageSerializerSpec.cs
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Serialization/ExceptionSupport.cs
  src/core/Akka.Remote/Serialization/MessageContainerSerializer.cs
  src/core/Akka.Remote/Serialization/MiscMessageSerializer.cs
  src/core/Akka.Remote/Serialization/Proto/ContainerFormats.g.cs
  src/protobuf/ContainerFormats.proto
Labels: akka-remote, serialization

#6299 [Port #6294] add simple actor telemetry
  src/benchmark/Akka.Benchmarks/Actor/SpawnActorBenchmarks.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.verified.txt
  src/core/Akka.Remote.Tests/RemoteActorTelemetrySpecs.cs
  src/core/Akka.Tests/Actor/ActorTelemetrySpecs.cs
  src/core/Akka/Actor/ActorCell.DefaultMessages.cs
  src/core/Akka/Actor/ActorCell.FaultHandling.cs
  src/core/Akka/Actor/ActorTelemetry.cs
  src/core/Akka/Actor/Settings.cs
  src/core/Akka/Configuration/Pigeon.conf
Labels: akka-actor

#6317 [BACKPORT] move Move Channel Stages from Alpakka to main project.
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.verified.txt
  src/core/Akka.Streams.Tests/Implementation/ChannelSinkSpec.cs
  src/core/Akka.Streams.Tests/Implementation/ChannelSourceSpec.cs
  src/core/Akka.Streams/Dsl/ChannelSink.cs
  src/core/Akka.Streams/Dsl/ChannelSource.cs
  src/core/Akka.Streams/Dsl/Sink.cs
  src/core/Akka.Streams/Dsl/Source.cs
  src/core/Akka.Streams/Implementation/ChannelSinks.cs
  src/core/Akka.Streams/Implementation/ChannelSources.cs
Labels: akka-streams, api-change, akka.net v1.4
