Repository akkadotnet/akka.net, pull requests merged in 2022-04, with the labels that each got.

#5821 Be more explicit that a node is shutting down as it was marked as DOWN
  src/core/Akka.Cluster/ClusterDaemon.cs
Labels: akka-cluster, logging

#5835 Change the failure log inside `AllEventPublisher` from Debug to Error
  src/contrib/persistence/Akka.Persistence.Query.Sql/AllEventsPublisher.cs
Labels: logging, akka-persistence-sql-common

#5839 Make ActorSystemImpl.Abort skip the CoordinatedShutdown check
  src/core/Akka/Actor/Internal/ActorSystemImpl.cs
Labels: akka-actor

#5746 Add specs to test disallow-unsafe-type
  src/contrib/serializers/Akka.Serialization.Hyperion.Tests/HyperionConfigTests.cs
  src/contrib/serializers/Akka.Serialization.Hyperion.Tests/HyperionSerializerSetupSpec.cs
Labels: bug-reproduction

#5849 Fix Persistence.TCK specs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShardCoordinator.cs
  src/core/Akka.Persistence.TCK/Journal/JournalSpec.cs
  src/core/Akka.Persistence.TCK/Query/TestActor.cs
  src/core/Akka.Persistence/Eventsourced.Lifecycle.cs
Labels: akka-persistence, akka-cluster-sharding

#5855 cleaned up some allocations and styling
  src/core/Akka/Actor/ActorBase.Lifecycle.cs
  src/core/Akka/Actor/Stash/IActorStash.cs
  src/core/Akka/Actor/Stash/Internal/AbstractStash.cs
  src/core/Akka/Dispatch/MessageQueues/DequeWrapperMessageQueue.cs
Labels: akka-actor

#5863 fix sharding recovery
  src/contrib/cluster/Akka.Cluster.Sharding/Internal/EventSourcedRememberEntitiesCoordinatorStore.cs
Labels: akka-cluster-sharding

#5865 Convert Xunit2.TestKit and AkkaSpec from IDisposable to IAsyncLifetime
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/CoordinatedShutdownShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonLeavingSpeedSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonRestart2Spec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonRestartSpec.cs
  src/contrib/cluster/Akka.DistributedData.Tests/ReplicatorSpecs.cs
  src/contrib/testkits/Akka.TestKit.Xunit2/TestKit.cs
  src/core/Akka.Cluster.Tests/ActorRefIgnoreSerializationSpec.cs
  src/core/Akka.Cluster.Tests/ShutdownAfterJoinSeedNodesSpec.cs
  src/core/Akka.Persistence.TCK/Query/CurrentEventsByPersistenceIdSpec.cs
  src/core/Akka.Persistence.TCK/Query/CurrentPersistenceIdsSpec.cs
  src/core/Akka.Persistence.TCK/Query/EventsByPersistenceIdSpec.cs
  src/core/Akka.Persistence.TCK/Query/PersistenceIdsSpec.cs
  src/core/Akka.Persistence.Tests/PersistenceSpec.cs
  src/core/Akka.Persistence.Tests/Serialization/MessageSerializerRemotingSpec.cs
  src/core/Akka.Persistence.Tests/SnapshotDirectoryFailureSpec.cs
  src/core/Akka.Remote.Tests/RemoteDeathWatchSpec.cs
  src/core/Akka.Remote.Tests/RemoteMetricsSpec.cs
  src/core/Akka.Remote.Tests/RemoteRouterSpec.cs
  src/core/Akka.Remote.Tests/RemoteWatcherSpec.cs
  src/core/Akka.Remote.Tests/RemotingSpec.cs
  src/core/Akka.Remote.Tests/Serialization/SerializationTransportInformationSpec.cs
  src/core/Akka.Remote.Tests/TransientSerializationErrorSpec.cs
  src/core/Akka.Remote.Tests/Transport/AkkaProtocolStressTest.cs
  src/core/Akka.Remote.Tests/Transport/DotNettySslSupportSpec.cs
  src/core/Akka.Remote.Tests/Transport/ThrottlerTransportAdapterSpec.cs
  src/core/Akka.Remote.Tests/UntrustedSpec.cs
  src/core/Akka.Streams.Tests/Dsl/StreamRefsSerializerSpec.cs
  src/core/Akka.Streams.Tests/Dsl/StreamRefsSpec.cs
  src/core/Akka.Streams.Tests/Dsl/UnfoldResourceSourceSpec.cs
  src/core/Akka.Streams.Tests/IO/FileSourceSpec.cs
  src/core/Akka.TestKit.Tests/TestActorRefTests/BossActor.cs
  src/core/Akka.TestKit.Tests/TestActorRefTests/ReplyActor.cs
  src/core/Akka.TestKit.Tests/TestActorRefTests/SenderActor.cs
  src/core/Akka.TestKit.Tests/TestActorRefTests/TActorBase.cs
  src/core/Akka.TestKit.Tests/TestActorRefTests/TestActorRefSpec.cs
  src/core/Akka.TestKit.Tests/TestActorRefTests/WorkerActor.cs
  src/core/Akka.TestKit.Tests/TestEventListenerTests/EventFilterTestBase.cs
  src/core/Akka.TestKit/TestKitBase.cs
  src/core/Akka.Tests.Shared.Internals/AkkaSpec.cs
Labels: akka-testkit

#5866 Update MNTR to 1.1.1 and update build script to suit
  build.fsx
  src/common.props
Labels: multi node spec

#5874 GroupBy fixes
  docs/articles/streams/builtinstages.md
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.verified.txt
  src/core/Akka.Streams.Tests/Dsl/FlowGroupBySpec.cs
  src/core/Akka.Streams/Dsl/FlowOperations.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Implementation/Fusing/StreamOfStreams.cs
  src/core/Akka.Streams/TooManySubstreamsOpenException.cs
Labels: akka-streams

#5875 Fixes Source.ActorRef not completing
  docs/articles/streams/builtinstages.md
  docs/articles/streams/integration.md
  src/core/Akka.Streams.Tests/Dsl/ActorRefSourceSpec.cs
  src/core/Akka.Streams/Dsl/Source.cs
  src/core/Akka.Streams/Implementation/ActorRefSourceActor.cs
Labels: akka-streams

#5882 Backport of #5874: GroupBy fixes
  docs/articles/streams/builtinstages.md
  src/core/Akka.API.Tests/CoreAPISpec.ApproveStreams.verified.txt
  src/core/Akka.Streams.Tests/Dsl/FlowGroupBySpec.cs
  src/core/Akka.Streams/Dsl/FlowOperations.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Implementation/Fusing/StreamOfStreams.cs
  src/core/Akka.Streams/TooManySubstreamsOpenException.cs
Labels: akka-streams

#5883 Backport of #5875: Fixes Source.ActorRef not completing
  docs/articles/streams/builtinstages.md
  docs/articles/streams/integration.md
  src/core/Akka.Streams.Tests/Dsl/ActorRefSourceSpec.cs
  src/core/Akka.Streams/Dsl/Source.cs
  src/core/Akka.Streams/Implementation/ActorRefSourceActor.cs
Labels: akka-streams

#5895 Fix typo in `akka.remote.dot-netty.ssl.certificate`
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransportSettings.cs
Labels: akka-remote

#5903 Backport of #5895: Fix typo in `akka.remote.dot-netty.ssl.certificate`
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransportSettings.cs
Labels: akka-remote, dotnetty
