Repository akkadotnet/akka.net, pull requests merged in 2022-05, with the labels that each got.

#5901 [Async TestKit] Convert Akka.Remote.Tests to async - Transport.ThrottlerTransportAdapterSpec
  src/contrib/testkits/Akka.TestKit.Xunit2/Akka.TestKit.Xunit2.csproj
  src/core/Akka.Remote.Tests/Transport/ThrottlerTransportAdapterSpec.cs
  src/core/Akka.TestKit/Akka.TestKit.csproj
  src/core/Akka.TestKit/Extensions/TaskExtensions.cs
Labels: akka-testkit

#5861 enable `ChannelTaskScheduler` to work inside Akka.Cluster without causing errors inside `/system` actors
  RELEASE_NOTES.md
  src/common.props
  src/core/Akka.Cluster.Tests/ClusterHeartbeatReceiverSpec.cs
  src/core/Akka.Cluster.Tests/ClusterHeartbeatSenderSpec.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterHeartbeat.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolver.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolverProvider.cs
Labels: akka-cluster, akka.net v1.4

#5920 enable `ChannelTaskScheduler` to work inside Akka.Cluster without cau…
  src/core/Akka.Cluster.Tests/ClusterHeartbeatReceiverSpec.cs
  src/core/Akka.Cluster.Tests/ClusterHeartbeatSenderSpec.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterHeartbeat.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolver.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolverProvider.cs
Labels: akka-cluster

#5923 Refactor TestSubscriber fluent async builder
  src/core/Akka.Persistence.TCK/Performance/JournalPerfSpec.cs
  src/core/Akka.Persistence.TCK/Query/CurrentEventsByPersistenceIdSpec.cs
  src/core/Akka.Persistence.TCK/Query/EventsByPersistenceIdSpec.cs
  src/core/Akka.Persistence.TCK/Query/EventsByTagSpec.cs
  src/core/Akka.Streams.TestKit.Tests/StreamTestKitSpec.cs
  src/core/Akka.Streams.TestKit.Tests/TestPublisherSubscriberSpec.cs
  src/core/Akka.Streams.TestKit/BaseTwoStreamsSetup.cs
  src/core/Akka.Streams.TestKit/SubscriberFluentBuilder.cs
  src/core/Akka.Streams.TestKit/TestSubscriber.cs
  src/core/Akka.Streams.TestKit/TestSubscriber_Fluent.cs
  src/core/Akka.Streams.TestKit/TestSubscriber_Shared.cs
  src/core/Akka.Streams.Tests/Dsl/FlowScanAsyncSpec.cs
  src/core/Akka.Streams.Tests/IO/OutputStreamSourceSpec.cs
Labels: akka-streams, akka-testkit

#5937 AutoDownSpec
  src/core/Akka.Cluster.Tests/AutoDownSpec.cs
Labels: akka-cluster

#5933 Cluste_aware_router
  src/core/Akka.Cluster.Tests/Routing/ClusterRouterSupervisorSpec.cs
Labels: akka-cluster

#5949 [PORT] Akka/Akka#27266 - Propagate stream cancellation causes
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.TestKit/TestGraphStage.cs
  src/core/Akka.Streams.Tests.Performance/InterpreterBenchmark.cs
  src/core/Akka.Streams.Tests/Dsl/GraphStageTimersSpec.cs
  src/core/Akka.Streams.Tests/Dsl/GraphUnzipWithSpec.cs
  src/core/Akka.Streams.Tests/Dsl/LazySourceSpec.cs
  src/core/Akka.Streams.Tests/Dsl/MaybeSourceSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/ActorGraphInterpreterSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/GraphInterpreterFailureModesSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/GraphInterpreterPortsSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/GraphInterpreterSpecKit.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/InterpreterSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/InterpreterStressSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/InterpreterSupervisionSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/LifecycleInterpreterSpec.cs
  src/core/Akka.Streams.Tests/Implementation/GraphStageLogicSpec.cs
  src/core/Akka.Streams/Akka.Streams.csproj
  src/core/Akka.Streams/CodeGen/Dsl/UnzipWith.cs
  src/core/Akka.Streams/CodeGen/Dsl/UnzipWith.tt
  src/core/Akka.Streams/Dsl/DelayFlow.cs
  src/core/Akka.Streams/Dsl/Graph.cs
  src/core/Akka.Streams/Dsl/KeepAliveConcat.cs
  src/core/Akka.Streams/Dsl/One2OneBidiFlow.cs
  src/core/Akka.Streams/Dsl/Pulse.cs
  src/core/Akka.Streams/Dsl/RestartFlow.cs
  src/core/Akka.Streams/Dsl/Retry.cs
  src/core/Akka.Streams/Dsl/UnfoldFlow.cs
  src/core/Akka.Streams/Dsl/Valve.cs
  src/core/Akka.Streams/Implementation/Fusing/ActorGraphInterpreter.cs
  src/core/Akka.Streams/Implementation/Fusing/EnumeratorInterpreter.cs
  src/core/Akka.Streams/Implementation/Fusing/GraphInterpreter.cs
  src/core/Akka.Streams/Implementation/Fusing/GraphStages.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
  src/core/Akka.Streams/Implementation/Fusing/StreamOfStreams.cs
  src/core/Akka.Streams/Implementation/IO/TcpStages.cs
  src/core/Akka.Streams/Implementation/ReactiveStreamsCompliance.cs
  src/core/Akka.Streams/Implementation/Sinks.cs
  src/core/Akka.Streams/Implementation/Sources.cs
  src/core/Akka.Streams/Implementation/StreamLayout.cs
  src/core/Akka.Streams/Implementation/StreamRef/SourceRefImpl.cs
  src/core/Akka.Streams/Implementation/Throttle.cs
  src/core/Akka.Streams/Implementation/Timers.cs
  src/core/Akka.Streams/KillSwitch.cs
  src/core/Akka.Streams/Stage/AbstractStage.cs
  src/core/Akka.Streams/Stage/Context.cs
  src/core/Akka.Streams/Stage/GraphStage.cs
  src/core/Akka.Streams/StreamTcpException.cs
  src/core/Akka.Streams/SubscriptionWithCancelException.cs
Labels: enhancement, akka-streams, api-change

#5943 Add `IThreadPoolWorkItem` support to `ThreadPoolDispatcher`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Streams/Implementation/IO/OutputStreamSourceStage.cs
  src/core/Akka/Actor/ActorCell.cs
  src/core/Akka/Actor/Scheduler/HashedWheelTimerScheduler.cs
  src/core/Akka/Dispatch/AbstractDispatcher.cs
  src/core/Akka/Dispatch/CurrentSynchronizationContextDispatcher.cs
  src/core/Akka/Dispatch/Dispatchers.cs
  src/core/Akka/Dispatch/IRunnable.cs
  src/core/Akka/Dispatch/Mailbox.cs
  src/core/Akka/Util/SpanHacks.cs
Labels: akka-actor, perf

#5950 [PORT] Akka/Akka#24722: Bugfix in VirtualProcessor
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams/Implementation/StreamLayout.cs
Labels: akka-streams, api-change

#5965 pass `Akka.Cluster.Cluster` into `IDowningProvider` directly
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCluster.verified.txt
  src/core/Akka.Cluster.Tests/Bugfix5962Spec.cs
  src/core/Akka.Cluster.Tests/DowningProviderSpec.cs
  src/core/Akka.Cluster.Tests/StartupWithOneThreadSpec.cs
  src/core/Akka.Cluster/AutoDown.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
  src/core/Akka.Cluster/DowningProvider.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolver.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolverProvider.cs
  src/core/Akka.Cluster/SplitBrainResolver.cs
Labels: akka-cluster, api-change

#5964 feat: info about serilog context properties
  docs/articles/utilities/serilog.md
Labels: docs

#5928 Update logging.md
  docs/articles/utilities/logging.md
Labels: docs, logging

#5967 Allow `PersistentShardCoordinator` to tolerate duplicate `ShardHomeAllocated` messages
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShardCoordinator.cs
Labels: akka-persistence, akka-cluster-sharding

#5968 Backport of #5965 - pass Akka.Cluster.Cluster into IDowningProvider directly
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Net.verified.txt
  src/core/Akka.Cluster.Tests/Bugfix5962Spec.cs
  src/core/Akka.Cluster.Tests/DowningProviderSpec.cs
  src/core/Akka.Cluster.Tests/StartupWithOneThreadSpec.cs
  src/core/Akka.Cluster/AutoDown.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
  src/core/Akka.Cluster/DowningProvider.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolver.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolverProvider.cs
  src/core/Akka.Cluster/SplitBrainResolver.cs
Labels: akka-cluster

#5971 Trap all exception thrown while trying to dispatch messages in Akka.Remote.EndpointReader
  src/core/Akka.Remote/Endpoint.cs
Labels: akka-remote, serialization

#5972 Backport #5971 - Trap all exception thrown while trying to dispatch messages in Akka.Remote.EndpointReader
  src/core/Akka.Remote/Endpoint.cs
Labels: akka-remote
