Repository akkadotnet/akka.net, pull requests merged in 2023-10, with the labels that each got.

#6935 Streams ensure cts cancel fix statecheck
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#6946 Fix PeriodicTimer scheduler deadlock during start
  src/core/Akka/Actor/Scheduler/HashedWheelTimerScheduler.cs
Labels: confirmed bug, akka-actor

#6974 bump `Directory.Build.props`
  src/Directory.Build.props
Labels: build system

#6975 mark older LeastShardAllocationStrategy as obsolete
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardAllocationStrategy.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
Labels: akka-cluster-sharding, api-change

#6978 Akka.Persistence.Query: include more descriptive ToString() values for all Offset types #6927
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceQuery.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceQuery.Net.verified.txt
  src/core/Akka.Persistence.Query.Tests/OffsetSpec.cs
  src/core/Akka.Persistence.Query/Offset.cs
Labels: akka-persistence-query
