Repository akkadotnet/akka.net, pull requests merged in 2023-08, with the labels that each got.

#6862 Expose `Tags` property in `EventEnvelope`
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryCurrentEventsByTagSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryEventsByTagSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory/AllEventsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory/EventsByPersistenceIdPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory/EventsByTagPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/AllEventsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByPersistenceIdPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByTagPublisher.cs
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Query/SqliteCurrentEventsByTagSpec.cs
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Query/SqliteEventsByTagSpec.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceQuery.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceQuery.Net.verified.txt
  src/core/Akka.Persistence.Query/EventEnvelope.cs
  src/core/Akka.Persistence.TCK/Query/CurrentEventsByTagSpec.cs
  src/core/Akka.Persistence.TCK/Query/EventsByTagSpec.cs
Labels: akka-persistence, api-change, akka-persistence-query

#6864 added dotTrace diagnoser to Benchmark.NET projects
  .gitignore
  src/benchmark/Akka.Benchmarks/Akka.Benchmarks.csproj
  src/benchmark/Akka.Cluster.Benchmarks/Akka.Cluster.Benchmarks.csproj
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/ShardMessageRoutingBenchmarks.cs
Labels: perf, dependencies

#6865 cap total number of iterations for Sharding end to end BDN
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/ShardMessageRoutingBenchmarks.cs
Labels: perf

#6866 Fix sharding benchmark streaming message counts
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/ShardMessageRoutingBenchmarks.cs
Labels: confirmed bug, perf

#6867 fixed `RequestsPerSecond` property in BDN
  src/benchmark/Akka.Benchmarks/Configurations/Configs.cs
Labels: confirmed bug, perf

#6874 Akka.NET v1.5 upgrade guide documentation fix (#6778).
  docs/community/whats-new/akkadotnet-v1.5-upgrade-advisories.md
Labels: docs

#6885 DDataShardCoordinator remember-entities timeout logging
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShardCoordinator.cs
Labels: logging, akka-cluster-sharding

#6884 Improve Streams SelectAsync. Log errors and improve test
  src/core/Akka.Streams.Tests/Dsl/FlowSelectAsyncSpec.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#6889 Changed PreStart() From Public To Protected In ReceiveActorApi Documentation
  docs/articles/actors/receive-actor-api.md
Labels: docs

#6435 .NET 6: `PeriodicTimer` scheduler replacement for dedicated thread
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Actor/Scheduler/HashedWheelTimerScheduler.cs
  src/core/Akka/Actor/Scheduler/TimerScheduler.cs
  src/core/Akka/Util/MonotonicClock.cs
Labels: akka-actor, perf

#6892 Fixed DDataShardCoordinator NullReferenceException
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/PersistentShardCoordinator.cs
Labels: confirmed bug, akka-cluster-sharding

#6461 Akka.Actor: tuck all scheduled `Tell` messages into `IScheduledMsg` envelope
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Internal/RememberEntitiesStarterSpec.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Remote/RemoteActorRefProvider.cs
  src/core/Akka.Streams.Tests/Dsl/FlowSplitWhenSpec.cs
  src/core/Akka/Actor/ActorBase.cs
  src/core/Akka/Actor/ActorCell.DefaultMessages.cs
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/Scheduler/HashedWheelTimerScheduler.cs
  src/core/Akka/Actor/Scheduler/IScheduledTellMsg.cs
Labels: akka-actor, api-change
