Repository akkadotnet/akka.net, pull requests merged in 2023-07, with the labels that each got.

#6824 cleaned up ChatClient / ChatServer sample
  src/examples/Chat/ChatClient/Program.cs
  src/examples/Chat/ChatMessages/ChatMessages.csproj
  src/examples/Chat/ChatMessages/Messages.cs
  src/examples/Chat/ChatServer/App.config
  src/examples/Chat/ChatServer/ChatServer.csproj
  src/examples/Chat/ChatServer/Program.cs
Labels: samples

#6829 added req/s reporting for macro-benchmarks
  src/benchmark/Akka.Benchmarks/Actor/PingPongBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Configurations/Configs.cs
Labels: perf

#6837 Harden LWWDictionary serialization null check
  src/contrib/cluster/Akka.DistributedData/LWWDictionary.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/ReplicatedDataSerializer.cs
Labels: confirmed bug, serialization, akka-ddata

#6838 made transport adapter components public
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveRemote.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveRemote.Net.verified.txt
  src/core/Akka.Remote/Transport/TransportAdapters.cs
Labels: akka-remote, api-change

#6854 Modernize AkkaSpec and Akka.Remote DotNetty transport settings
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveRemote.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveRemote.Net.verified.txt
  src/core/Akka.Remote.Tests/Transport/DotNettySslSetupSpec.cs
  src/core/Akka.Remote/Akka.Remote.csproj
  src/core/Akka.Remote/AkkaProtocolSettings.cs
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Transport/DotNetty/DotNettySslSetup.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransport.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransportSettings.cs
  src/core/Akka.Tests.Shared.Internals/AkkaSpec.cs
Labels: akka-remote, configuration, dotnetty, security

#6856 DistributedPubSub: make query to count local subscribers for topic public
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Internal/TopicMessages.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Net.verified.txt
Labels: akka-cluster-tools, api-change

#6784 Update member-roles.md
  docs/articles/clustering/member-roles.md
Labels: docs

#6861 update README to remove Gitter badge
  README.md
Labels: docs, meta
