Repository akkadotnet/akka.net, pull requests merged in 2023-01, with the labels that each got.

#6323 Read stash capacity from actor's mailbox or dispatcher configuration
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Actor/Stash/ActorWithBoundedStashSpec.cs
  src/core/Akka/Actor/Stash/Internal/AbstractStash.cs
  src/core/Akka/Actor/Stash/Internal/BoundedStashImpl.cs
  src/core/Akka/Actor/Stash/Internal/UnboundedStashImpl.cs
  src/core/Akka/Dispatch/Dispatchers.cs
  src/core/Akka/Dispatch/Mailbox.cs
  src/core/Akka/Dispatch/Mailboxes.cs
Labels: akka-actor

#6026 Add support to `ByteString` for copying to/from `Memory` and `Span`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Util/ByteStringSpec.cs
  src/core/Akka/Util/ByteString.cs
Labels: akka-actor

#6322 make `FutureActorRef<T>` unsealed
  RELEASE_NOTES.md
  src/common.props
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.verified.txt
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/Futures.cs
Labels: akka-actor, api-change, akka.net v1.4

#6329 Upgrade all v1.4 build systems to use `{os}-latest`
  build-system/nightly-builds.yaml
  build-system/pr-validation.yaml
  build-system/windows-release.yaml
Labels: build system, akka.net v1.4

#6330 added v1.4.48 release notes
  RELEASE_NOTES.md
  src/common.props
Labels: akka.net v1.4

#6331 [PORT] make `FutureActorRef<T>` unsealed
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.verified.txt
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/Futures.cs
Labels: akka-actor, api-change

#6327 Add API for UntypedActorWithStash types
  docs/articles/actors/untyped-actor-api.md
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Actor/UntypedActorWithStash.cs
Labels: akka-actor, api-change

#6358 [BACKPORT] Several stashing improvements (#6323, #6325 and #6327)
  docs/articles/actors/receive-actor-api.md
  docs/articles/actors/untyped-actor-api.md
  docs/cSpell.json
  src/core/Akka.API.Tests/CoreAPISpec.ApproveCore.verified.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistence.verified.txt
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistenceSqlCommon.verified.txt
  src/core/Akka.Tests/Actor/Stash/ActorWithBoundedStashSpec.cs
  src/core/Akka/Actor/Stash/IWithBoundedStash.cs
  src/core/Akka/Actor/Stash/IWithStash.cs
  src/core/Akka/Actor/Stash/IWithUnboundedStash.cs
  src/core/Akka/Actor/Stash/IWithUnrestrictedStash.cs
  src/core/Akka/Actor/Stash/Internal/AbstractStash.cs
  src/core/Akka/Actor/Stash/Internal/BoundedStashImpl.cs
  src/core/Akka/Actor/Stash/Internal/UnboundedStashImpl.cs
  src/core/Akka/Actor/Stash/Internal/UnrestrictedStashImpl.cs
  src/core/Akka/Actor/Stash/StashFactory.cs
  src/core/Akka/Actor/UntypedActorWithStash.cs
  src/core/Akka/Dispatch/Dispatchers.cs
  src/core/Akka/Dispatch/IRequiresMessageQueue.cs
  src/core/Akka/Dispatch/Mailbox.cs
  src/core/Akka/Dispatch/Mailboxes.cs
Labels: api-change, akka.net v1.4

#6363 Persistence-views docs has been removed (#6291).
  docs/articles/persistence/persistent-views.md
  docs/articles/persistence/toc.yml
Labels: docs

#6364 [BACKPORT] FailChunkExecution does not handle `DbExceptions` wrapped in an `AggregateException` (#6361)
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/BatchingSqlJournal.cs
Labels: akka.net v1.4

#6360 LogEvent type of UnhandledMessage was changed to INFO in Akka.TestKit (#6354).
  src/core/Akka.TestKit.Tests/TestEventListenerTests/UnhandledMessageEventFilterTests.cs
  src/core/Akka.TestKit/EventFilter/TestEventListener.cs
  src/core/Akka.TestKit/TestActors/UnhandledMessageActor.cs
Labels: akka-testkit

#6366 close #6295 - set default PoolRouter SupervisorStrategy to Restart
  src/core/Akka.Tests/Routing/RoutingSpec.cs
  src/core/Akka/Routing/RouterConfig.cs
Labels: akka-actor, akka.net v1.4

#6374 Fix PersistenceIdsPublisher hung on failure messages
  src/contrib/persistence/Akka.Persistence.Query.Sql/AllPersistenceIdsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/SqlReadJournal.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceSqlCommonQuery.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceSqlCommonQuery.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceSqlCommonQuery.Net.verified.txt
Labels: akka-persistence-sql-common, akka-persistence-query

#6375 [BACKPORT #6374] Fix PersistenceIdsPublisher hung on failure messages
  src/contrib/persistence/Akka.Persistence.Query.Sql/AllPersistenceIdsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/SqlReadJournal.cs
  src/core/Akka.API.Tests/CoreAPISpec.ApprovePersistenceSqlCommonQuery.verified.txt
Labels: akka-persistence-sql-common, akka-persistence-query

#6370 [PORT #6366] set default PoolRouter SupervisorStrategy to Restart
  src/core/Akka.Tests/Actor/ActorTelemetrySpecs.cs
  src/core/Akka.Tests/Routing/RoutingSpec.cs
  src/core/Akka/Routing/RouterConfig.cs
Labels: akka-actor
