Repository akkadotnet/akka.net, pull requests merged in 2023-02, with the labels that each got.

#6382 Update tutorial-1.md
  docs/articles/intro/getting-started/tutorial-1.md
Labels: docs

#6371 Fix of EventFilter.And from Akka.testKit when one parameter is string (#6316).
  src/core/Akka.TestKit.Tests/TestEventListenerTests/DeadLettersEventFilterTests.cs
  src/core/Akka.TestKit/EventFilter/TestEventListener.cs
Labels: akka-testkit

#6390 harden `ClusterLogVerboseSpec`
  src/core/Akka.Cluster.Tests/ClusterLogSpec.cs
Labels: tests, akka-cluster

#6102 add `WatchAysnc` methods for monitoring actor lifecycles outside of Akka.NET
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Actor/GracefulStopSpecs.cs
  src/core/Akka.Tests/Actor/WatchAsyncSpecs.cs
  src/core/Akka/Actor/Futures.cs
  src/core/Akka/Actor/GracefulStopSupport.cs
  src/core/Akka/Actor/WatchAsyncSupport.cs
Labels: akka-actor, api-change

#6395 harden racy `ActorCellSpec`s
  src/core/Akka.Tests/Actor/ActorCellSpec.cs
Labels: tests, akka-actor

#6396 Akka.Persistence.Tests: fixed ordering assertion in `AtLeastOnceDelivery_must_warn_about_unconfirmed_messages`
  src/core/Akka.Persistence.Tests/AtLeastOnceDeliverySpec.cs
Labels: tests, akka-persistence

#6397 harden timing on racy Akka.Streams specs
  src/core/Akka.Streams.Tests/Dsl/AsyncEnumerableSpec.cs
  src/core/Akka.Streams.Tests/Dsl/HubSpec.cs
Labels: tests, akka-streams

#6384 Fix persistence allocations #5505.
  src/benchmark/Akka.Cluster.Benchmarks/Persistence/AtomicWriteBenchmark.cs
  src/benchmark/Akka.Cluster.Benchmarks/Program.cs
  src/core/Akka.Persistence/Journal/AsyncWriteJournal.cs
  src/core/Akka.Persistence/Journal/WriteJournal.cs
  src/core/Akka.Persistence/Persistent.cs
Labels: akka-persistence, perf

#6405 added `EventStreamBenchmark`
  src/benchmark/Akka.Benchmarks/EventStream/EventStreamBenchmarks.cs
Labels: akka-actor, perf

#6412 Delete unnecessary / bad Sql.Common.Journal subscriptions
  src/contrib/persistence/Akka.Persistence.Query.Sql/Akka.Persistence.Query.Sql.csproj
  src/contrib/persistence/Akka.Persistence.Query.Sql/AllEventsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByPersistenceIdPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByTagPublisher.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Akka.Persistence.Sql.Common.csproj
  src/contrib/persistence/Akka.Persistence.Sql.Common/Akka.Persistence.Sql.Common.csproj.DotSettings
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/BatchingSqlJournal.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/QueryApi.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/SqlJournal.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceSqlCommon.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceSqlCommon.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistenceSqlCommon.Net.verified.txt
Labels: api-change, akka-persistence-sql-common, akka-persistence-query

#6413 Customizable `ILogMessageFormatter` across entire `ActorSystem`
  docs/articles/utilities/logging.md
  docs/articles/utilities/serilog.md
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Streams/Implementation/Fusing/ActorGraphInterpreter.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
  src/core/Akka.Tests/Configuration/ConfigurationSpec.cs
  src/core/Akka.Tests/Loggers/CustomLogFormatterSpec.cs
  src/core/Akka/Actor/Internal/ActorSystemImpl.cs
  src/core/Akka/Actor/Settings.cs
  src/core/Akka/Configuration/Pigeon.conf
  src/core/Akka/Event/BusLogging.cs
  src/core/Akka/Event/Logging.cs
Labels: akka-actor, logging, api-change

#6416 Akka.NET v1.5.0-beta1 Release notes
  RELEASE_NOTES.md
  src/common.props
Labels: meta

#6419 Add K to the DateTime format string to include TZ information
  src/core/Akka/Event/LogEvent.cs
Labels: logging

#6424 ClusterSharding should clean its internal cache if region/proxy died
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardRegionSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterShardingGuardian.cs
Labels: akka-cluster-sharding

#6425 delete `Akka.Util.Resolver`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Remote.Tests/RemotingSpec.cs
  src/core/Akka/Util/Base64Encoding.cs
  src/core/Akka/Util/Resolver.cs
Labels: akka-actor, api-change

#6426 Harden `Option<T>` by disallowing null value
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Cluster.Tests.MultiNode/StressSpec.cs
  src/core/Akka.Cluster/ClusterHeartbeat.cs
  src/core/Akka.Streams.Tests/Dsl/FlowRecoverSpec.cs
  src/core/Akka.Streams.Tests/Dsl/LastElementSpec.cs
  src/core/Akka.Streams.Tests/Dsl/PagedSourceSpec.cs
  src/core/Akka.Streams.Tests/Dsl/QueueSinkSpec.cs
  src/core/Akka.Streams.Tests/Dsl/UnfoldFlowSpec.cs
  src/core/Akka.Streams.Tests/Dsl/UnfoldResourceAsyncSourceSpec.cs
  src/core/Akka.Streams/Dsl/AccumulateWhileUnchanged.cs
  src/core/Akka.Streams/Dsl/Internal/GraphImpl.cs
  src/core/Akka.Streams/Dsl/LastElement.cs
  src/core/Akka.Streams/Dsl/PagedSource.cs
  src/core/Akka.Streams/Implementation/Sinks.cs
  src/core/Akka.Tests/Actor/Setup/ActorSystemSetupSpec.cs
  src/core/Akka/Actor/Setup/ActorSystemSetup.cs
  src/core/Akka/Util/Extensions/ObjectExtensions.cs
  src/core/Akka/Util/Option.cs
Labels: akka-actor, api-change

#6427 move `DateTime` / `TimeSpan` extension APIs out of Akka.Util and into Akka.Cluster.Metrics
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/Akka.Cluster.Metrics.Tests.csproj
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/ClusterMetricsExtensionSpec.cs
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/Helpers/MetricsCollectorMock.cs
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/MetricsSelectorSpecs.cs
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/TimeSpanExtensions.cs
  src/contrib/cluster/Akka.Cluster.Metrics/DateTimeExtensions.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Properties/Friends.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterMetrics.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterMetrics.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterMetrics.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
Labels: akka-actor, api-change, akka-cluster-metrics

#6430 Fix racy Akka.Streams.IO.Tcp spec
  src/core/Akka.Streams.Tests/IO/TcpSpec.cs
Labels: tests, akka-streams

#6428 deleted PersistenceBenchmark
  src/Akka.sln
  src/benchmark/PersistenceBenchmark/App.config
  src/benchmark/PersistenceBenchmark/Messages.cs
  src/benchmark/PersistenceBenchmark/PerformanceActors.cs
  src/benchmark/PersistenceBenchmark/PersistenceBenchmark.csproj
  src/benchmark/PersistenceBenchmark/Program.cs
Labels: akka-persistence, perf

#6431 Standardize on C# 11.0
  src/common.props
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Akka.Cluster.Sharding.Tests.csproj
  src/contrib/cluster/Akka.Cluster.Sharding/Akka.Cluster.Sharding.csproj
  src/contrib/persistence/Akka.Persistence.Query.Sql/Akka.Persistence.Query.Sql.csproj
  src/contrib/persistence/Akka.Persistence.Sql.Common/Akka.Persistence.Sql.Common.csproj
  src/core/Akka.Cluster.Tests.MultiNode/Akka.Cluster.Tests.MultiNode.csproj
  src/core/Akka.Discovery.Tests/Akka.Discovery.Tests.csproj
  src/core/Akka.Discovery/Akka.Discovery.csproj
  src/core/Akka.FSharp/Akka.FSharp.fsproj
  src/core/Akka.Remote.Tests/Akka.Remote.Tests.csproj
  src/core/Akka.Streams.TestKit/Akka.Streams.TestKit.csproj
  src/core/Akka.Streams.Tests/Akka.Streams.Tests.csproj
  src/core/Akka.Streams/Akka.Streams.csproj
  src/core/Akka.TestKit.Tests/Akka.TestKit.Tests.csproj
  src/core/Akka.TestKit/Akka.TestKit.csproj
  src/core/Akka.Tests.Shared.Internals/Akka.Tests.Shared.Internals.csproj
  src/core/Akka.Tests/Akka.Tests.csproj
  src/core/Akka/Akka.csproj
Labels: build system

#6429 Remove unsafe `implicit` conversion operators in `AtomicBoolean` and `AtomicReference<T>`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Cluster.Tests.MultiNode/StressSpec.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Remote/DefaultFailureDetectorRegistry.cs
  src/core/Akka.Remote/PhiAccrualFailureDetector.cs
  src/core/Akka.Streams/Implementation/Fusing/GraphStages.cs
  src/core/Akka/Actor/CoordinatedShutdown.cs
  src/core/Akka/Pattern/CircuitBreakerState.cs
  src/core/Akka/Util/AtomicBoolean.cs
  src/core/Akka/Util/AtomicReference.cs
Labels: akka-actor, api-change

#6432 Akka.Persistence: improve `AsyncWriteJournal` and `PersistentActor` performance
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/AsyncWriteProxyEx.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.Net.verified.txt
  src/core/Akka.Persistence.Tests/Journal/ChaosJournal.cs
  src/core/Akka.Persistence/Eventsourced.Lifecycle.cs
  src/core/Akka.Persistence/Eventsourced.Recovery.cs
  src/core/Akka.Persistence/Eventsourced.cs
  src/core/Akka.Persistence/Journal/AsyncWriteJournal.cs
  src/core/Akka.Persistence/Journal/AsyncWriteProxy.cs
  src/core/Akka.Persistence/Journal/WriteJournal.cs
Labels: akka-persistence, perf

#6437 Remove TypedActor
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Actor/TypedActor.cs
Labels: akka-actor, api-change

#6440 Akka.Streams: memory-optimize `ActorMaterializer` HOCON injection
  src/core/Akka.Streams/ActorMaterializer.cs
Labels: akka-streams, perf

#6447 Remove obsolete methods from Akka.Persistence
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.Net.verified.txt
  src/core/Akka.Persistence/JournalProtocol.cs
Labels: akka-persistence, api-change

#6436 Akka.Persistence.Query Throttling implementation - "QueryPermitter"
  src/common.props
  src/contrib/persistence/Akka.Persistence.Query.Sql/Akka.Persistence.Query.Sql.csproj
  src/contrib/persistence/Akka.Persistence.Query.Sql/AllEventsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/AllPersistenceIdsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByPersistenceIdPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/EventsByTagPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/QueryThrottler.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/SqlReadJournal.cs
  src/contrib/persistence/Akka.Persistence.Query.Sql/reference.conf
Labels: akka-persistence-sql-common, akka-persistence-query

#6448 Append message content to deadletter log message
  src/core/Akka/Event/DeadLetterListener.cs
Labels: logging

#6449 Set `akka.persistence.query.journal.sql.max-concurrent-queries = 100` by default
  src/contrib/persistence/Akka.Persistence.Query.Sql/reference.conf
Labels: akka-persistence-sql-common, akka-persistence-query

#6445 Remove obsolete methods and properties from Akka.Cluster
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Net.verified.txt
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka.Cluster/Routing/ClusterRoutingConfig.cs
  src/core/Akka.Cluster/SBR/SplitBrainResolverSettings.cs
Labels: akka-cluster

#6443 Remove obsolete methods from Akka.DistributedData
  src/contrib/cluster/Akka.DistributedData/ReplicatorSettings.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveDistributedData.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveDistributedData.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveDistributedData.Net.verified.txt
Labels: api-change, akka-ddata

#6455 Remove obsolete methods from Akka.Routing
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Routing/Broadcast.cs
  src/core/Akka/Routing/ConsistentHashRouter.cs
  src/core/Akka/Routing/RoundRobin.cs
  src/core/Akka/Routing/RouterConfig.cs
  src/core/Akka/Routing/ScatterGatherFirstCompleted.cs
Labels: akka-actor

#6456 Remove obsolete methods from Akka.IO
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/IO/UdpIntegrationSpec.cs
  src/core/Akka/IO/Inet.cs
  src/core/Akka/IO/Udp.cs
  src/core/Akka/IO/UdpConnected.cs
  src/core/Akka/IO/UdpSettings.cs
Labels: akka-io, api-change

#6453 Use `ActorSystem` for `Materializer`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Core.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.Tests/ActorMaterializerSpec.cs
  src/core/Akka.Streams.Tests/Dsl/QueueSourceSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/ActorGraphInterpreterSpec.cs
  src/core/Akka.Streams/ActorMaterializer.cs
  src/core/Akka.Streams/Dsl/RunnableGraph.cs
  src/core/Akka.Streams/Dsl/Source.cs
  src/core/Akka.Streams/Implementation/ActorMaterializerImpl.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
  src/core/Akka.Streams/Implementation/StreamLayout.cs
Labels: akka-streams, api-change

#6463 remove ancient Mono work-around in `ActorSystemImpl`
  src/core/Akka/Actor/Internal/ActorSystemImpl.cs
Labels: akka-actor

#6465 copy `Obsolete` attributes to Akka.Persistence.TCK
  src/core/Akka.Persistence.TCK/PluginSpec.cs
Labels: akka-persistence

#6467 fixed issues with `AwaitConditionAsync`
  src/common.props
  src/core/Akka.TestKit/EventFilter/IEventFilterApplier.cs
  src/core/Akka.TestKit/EventFilter/Internal/EventFilterApplier.cs
  src/core/Akka.TestKit/TestKitBase_AwaitConditions.cs
  src/core/Akka.TestKit/TestKitBase_Expect.cs
Labels: api-change, akka-testkit

#6471 bug fix: timing regressions in `Cluster.JoinAsync` methods
  src/core/Akka.Cluster/Cluster.cs
Labels: akka-cluster
