Repository akkadotnet/akka.net, pull requests merged in 2023-09, with the labels that each got.

#6906 Fix possible NRE bug in Dispatchers
  src/core/Akka/Dispatch/Dispatchers.cs
Labels: confirmed bug, akka-actor

#6912 Fix build documentation redirect link
  docs/community/build-process.html
Labels: docs

#6919 * clean up and optimize actor name validation.
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Actor/ActorPathSpec.cs
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Actor/ActorPath.cs
  src/core/Akka/Actor/Deployer.cs
Labels: akka-actor, perf
