Repository akkadotnet/akka.net, pull requests merged in 2023-05, with the labels that each got.

#6709 added real bounds checking to `ByteString.Slice`
  src/core/Akka.Streams.Tests/IO/InputStreamSinkSpec.cs
  src/core/Akka.Tests/Util/ByteStringSpec.cs
  src/core/Akka/Util/ByteString.cs
Labels: akka-io

#6711 simplify TryGetByName
  src/core/Akka/Actor/ChildrenContainer/Internal/ChildrenContainerBase.cs
Labels: akka-actor

#6716 remove an empty finally
  src/core/Akka/Actor/ActorSystem.cs
Labels: akka-actor

#6693 use Polyfill
  src/core/Akka.API.Tests/CoreAPISpec.cs
  src/core/Akka.API.Tests/ModuleInit.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Akka.csproj
  src/core/Akka/Properties/AssemblyInfo.cs
Labels: akka-actor, api-change

#6718 Fix ReceiveAsync resetting ReceiveTimeout
  src/core/Akka.Tests/Actor/ReceiveTimeoutSpec.cs
  src/core/Akka/Dispatch/ActorTaskScheduler.cs
Labels: akka-actor

#6730 Fix of duplication info message for unhandled message (#6532).
  src/core/Akka.TestKit.Tests/TestEventListenerTests/UnhandledMessageEventFilterTests.cs
  src/core/Akka.TestKit/EventFilter/TestEventListener.cs
Labels: tests, akka-testkit

#6735 build system: increase `dotnet test --blame-hang-timeout` to 2m
  build.fsx
Labels: build system

#6734 Change LogEvent time format from 12 to 24 hours
  src/core/Akka/Event/LogEvent.cs
Labels: logging

#6737 Update tutorial-3.md
  docs/articles/intro/getting-started/tutorial-3.md
Labels: docs

#6738 [Doc] Upgrade to `Docfx 2.67.0`
  build.fsx
  build.ps1
  docs/docfx.json
  serve-docs.ps1
  src/Directory.Build.props
Labels: build system, docs

#6747 harden ReliableDeliveryShardingSpecs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Delivery/ReliableDeliveryShardingSpec.cs
Labels: tests, akka-cluster-sharding

#6749 Fix `ByteString.Copy` when requested length is zero
  src/core/Akka.Tests/Delivery/ConsumerControllerSpecs.cs
  src/core/Akka.Tests/Delivery/TestConsumer.cs
  src/core/Akka/Util/ByteString.cs
Labels: akka-io

#6755 Fix: `ProducerControllerImpl` now respects bounds when chunking large messages
  src/core/Akka.Tests/Delivery/ProducerControllerSpec.cs
  src/core/Akka/Delivery/Internal/ProducerControllerImpl.cs
Labels: akka-io, akka-actor, perf

#6750 harden ReliableDeliveryShardingSpecs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Delivery/ReliableDeliveryShardingSpec.cs
  src/core/Akka.Tests/Delivery/ReliableDeliverySpecs.cs
  src/core/Akka.Tests/Delivery/TestConsumer.cs
Labels: tests, akka-cluster-sharding

#6759 Revert DocFX changes (#6738, #6756)
  build.fsx
  build.ps1
  docs/docfx.json
  docs/index.md
  docs/template/styles/main.css
  serve-docs.ps1
  src/Directory.Build.props
Labels: docs

#6764 Upgrade Akka.MultiNodeTestRunner to 1.5.6
  src/Directory.Build.props
Labels: multi node spec

#6757 [Docs] Akka.Delivery Documentation
  docs/articles/actors/reliable-delivery.md
  docs/articles/actors/toc.yml
  docs/articles/clustering/cluster-overview.md
  docs/articles/clustering/cluster-sharded-daemon-process.md
  docs/articles/clustering/cluster-sharding-delivery.md
  docs/articles/clustering/cluster-sharding.md
  docs/articles/clustering/toc.yml
  docs/articles/concepts/message-delivery-reliability.md
  docs/articles/persistence/at-least-once-delivery.md
  docs/articles/remoting/messaging.md
  docs/images/actor/delivery/1-delivery-actors-overview.png
  docs/images/actor/delivery/2-delivery-registration.png
  docs/images/actor/delivery/3-delivery-message-production.png
  docs/images/actor/delivery/4-delivery-message-consumption.png
  docs/images/actor/delivery/5-delivery-message-persistence.png
  docs/images/actor/delivery/chunking-step-1.png
  docs/images/actor/delivery/chunking-step-2.png
  docs/images/actor/delivery/chunking-step-3.png
  docs/images/actor/delivery/chunking-step-4.png
  docs/images/cluster/delivery/1-sharding-delivery-registration.png
  docs/images/cluster/delivery/2-sharding-message-production.png
  docs/images/cluster/delivery/3-sharding-message-consumption.png
  docs/images/cluster/delivery/4-sharding-message-persistence.png
  src/Directory.Build.props
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Delivery/DurableShardingSpec.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Docs.Tests/Delivery/DeliveryDocSpecs.cs
  src/core/Akka.Tests/Delivery/TestConsumer.cs
  src/core/Akka/Properties/AssemblyInfo.cs
  src/examples/Cluster/ClusterSharding/ShoppingCart/Customers.cs
  src/examples/Cluster/ClusterSharding/ShoppingCart/Producer.cs
  src/examples/Cluster/ClusterSharding/ShoppingCart/Program.cs
Labels: akka-actor, docs, akka-cluster-sharding

#6763 Make `HandleActorTaskSchedulerMessage` method `protected virtual`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Actor/ActorCell.DefaultMessages.cs
  src/core/Akka/Dispatch/SysMsg/ISystemMessage.cs
Labels: akka-actor, api-change

#6770 [Docs] embed "Reliable Akka.NET Message Delivery with Akka.Delivery" video into docs
  docs/articles/actors/reliable-delivery.md
Labels: docs

#6775 Add Cluster.Sharding DData backward compatibility wire format mode
  src/contrib/cluster/Akka.Cluster.Sharding/Properties/AssemblyInfo.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Serialization/ClusterShardingMessageSerializer.cs
  src/contrib/cluster/Akka.Cluster.Sharding/reference.conf
  src/contrib/cluster/Akka.DistributedData.Tests/Akka.DistributedData.Tests.csproj
  src/contrib/cluster/Akka.DistributedData.Tests/Serialization/ReplicatedDataSerializerBackCompatSpec.cs
  src/contrib/cluster/Akka.DistributedData/Serialization/ReplicatedDataSerializer.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
Labels: serialization, akka-cluster-sharding, akka-ddata
