Repository akkadotnet/akka.net, pull requests merged in 2023-04, with the labels that each got.

#6632 use correct capacity when creating DynamicQueue when FixedQueue is full
  src/core/Akka.Streams/Implementation/Buffers.cs
Labels: akka-streams

#6628 Akka.Cluster: enable `keep-majority` default SBR
  docs/articles/clustering/split-brain-resolver.md
  docs/community/whats-new/akkadotnet-v1.5-upgrade-advisories.md
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonConfigSpec.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Net.verified.txt
  src/core/Akka.Cluster.TestKit/MultiNodeClusterSpec.cs
  src/core/Akka.Cluster.Tests/ClusterConfigSpec.cs
  src/core/Akka.Cluster.Tests/DowningProviderSpec.cs
  src/core/Akka.Cluster/AutoDown.cs
  src/core/Akka.Cluster/Cluster.cs
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterSettings.cs
  src/core/Akka.Cluster/Configuration/Cluster.conf
  src/core/Akka.Cluster/SBR/SplitBrainResolverSettings.cs
  src/core/Akka.Remote.TestKit/MultiNodeSpec.cs
Labels: akka-cluster, configuration

#6639 Lock persistence journal table on write
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/QueryExecutor.cs
Labels: akka-persistence-sql-common, akka-persistence-query

#6641 [WARNING NU1504] `Akka.FSharp.*fsproj`
  src/core/Akka.FSharp.Tests/Akka.FSharp.Tests.fsproj
  src/core/Akka.FSharp/Akka.FSharp.fsproj
Labels: akka-fsharp

#6655 Fix Hyperion setting setup code
  src/contrib/serializers/Akka.Serialization.Hyperion.Tests/HyperionSerializerSetupSpec.cs
  src/contrib/serializers/Akka.Serialization.Hyperion/HyperionSerializer.cs
  src/contrib/serializers/Akka.Serialization.Hyperion/HyperionSerializerSetup.cs
Labels: configuration, serialization, hyperion

#6660 Akka.Actor: `IStash` API and configuration enhancements
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Persistence/Eventsourced.cs
  src/core/Akka.Tests/Actor/Stash/StashCapacitySpecs.cs
  src/core/Akka/Actor/Stash/IStash.cs
  src/core/Akka/Actor/Stash/Internal/AbstractStash.cs
  src/core/Akka/Dispatch/ISemantics.cs
Labels: akka-actor, api-change

#6662 EventStream deadLetters doc has been improved
  docs/articles/utilities/event-bus.md
Labels: docs

#6665 disable Akka.Streams.Tests.Dsl.HubSpec.MergeHub_must_work_with_long_streams_when_buffer_size_is_1
  src/core/Akka.Streams.Tests/Dsl/HubSpec.cs
Labels: tests, akka-streams

#6661 Akka.Actor: bounded `IStash` programmatic configuration
  docs/articles/actors/receive-actor-api.md
  docs/articles/actors/untyped-actor-api.md
  src/common.props
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Remote.Tests/Serialization/DaemonMsgCreateSerializerSpec.cs
  src/core/Akka.Remote/Serialization/DaemonMsgCreateSerializer.cs
  src/core/Akka.Remote/Serialization/Proto/WireFormats.g.cs
  src/core/Akka.Tests/Actor/Stash/ActorWithBoundedStashSpec.cs
  src/core/Akka.Tests/Actor/Stash/StashCapacitySpecs.cs
  src/core/Akka/Actor/ActorRefProvider.cs
  src/core/Akka/Actor/Deploy.cs
  src/core/Akka/Actor/Deployer.cs
  src/core/Akka/Actor/Props.cs
  src/core/Akka/Actor/Stash/Internal/AbstractStash.cs
  src/core/Akka/Actor/Stash/Internal/UnboundedStashImpl.cs
  src/core/Akka/Configuration/akka.conf
  src/protobuf/WireFormats.proto
Labels: akka-actor, configuration, api-change

#6668 [Issue #6667] New methods and tests to enable "ExpectAll" with Predicates
  src/core/Akka.TestKit.Tests/TestKitBaseTests/ExpectTests.cs
  src/core/Akka.TestKit/TestKitBase_ExpectAllWithPredicates.cs
Labels: api-change, akka-testkit

#6689 [DependencyInjection] Stashing actor spec
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/ActorWithStashSpec.cs
Labels: tests, akka-dependency-injection
