Repository akkadotnet/akka.net, pull requests merged in 2023-06, with the labels that each got.

#6782 docs: fix wrong link syntax in docs/articles/configuration/config.md
  docs/articles/configuration/config.md
Labels: docs

#6788 Added Source/Flow Setup operator
  docs/articles/streams/builtinstages.md
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.Tests/Dsl/SetupSpec.cs
  src/core/Akka.Streams/Dsl/Flow.cs
  src/core/Akka.Streams/Dsl/Source.cs
  src/core/Akka.Streams/Implementation/SetupStage.cs
  src/core/Akka.Streams/Stage/GraphStage.cs
Labels: akka-streams, api-change

#6797 remove redundant DefineConstants
  src/core/Akka.Remote.Tests.MultiNode/Akka.Remote.Tests.MultiNode.csproj
  src/core/Akka.Streams.Tests.TCK/Akka.Streams.Tests.TCK.csproj
Labels: multi node spec

#6801 use Array.Empty
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/MetricSpec.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/ClusterMetricsMessageSerializer.cs
  src/contrib/serializers/Akka.Serialization.Hyperion.Tests/HyperionSerializerSetupSpec.cs
  src/contrib/serializers/Akka.Serialization.Hyperion/HyperionSerializer.cs
  src/core/Akka.Cluster/SplitBrainResolver.cs
  src/core/Akka.Persistence.Query/PersistenceQuery.cs
  src/core/Akka.Persistence.TCK/Serialization/SnapshotStoreSerializationSpec.cs
  src/core/Akka.Remote.Tests/Serialization/MiscMessageSerializerSpec.cs
  src/core/Akka.Remote.Tests/TransientSerializationErrorSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowIntersperseSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowSelectManySpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowStatefulSelectManySpec.cs
  src/core/Akka.Streams.Tests/Dsl/RetrySpec.cs
  src/core/Akka.Streams.Tests/IO/InputStreamSinkSpec.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/GraphInterpreterSpecKit.cs
  src/core/Akka.Streams.Tests/Implementation/Fusing/InterpreterSpec.cs
  src/core/Akka.Streams/Attributes.cs
  src/core/Akka.Tests/Actor/PropsSpec.cs
  src/core/Akka.Tests/MatchHandler/CachedMatchCompilerTests.cs
  src/core/Akka.Tests/MatchHandler/MatchBuilderSignatureTests.cs
  src/core/Akka.Tests/MatchHandler/PartialActionBuilderTests.cs
  src/core/Akka/Routing/RouterConfig.cs
  src/examples/Cluster/Roles/Samples.Cluster.Transformation/Program.cs
Labels: perf

#6805 Do not use expression based options for backoff props
  src/core/Akka/Pattern/BackoffOnRestartSupervisor.cs
  src/core/Akka/Pattern/BackoffOptions.cs
  src/core/Akka/Pattern/BackoffSupervisor.cs
Labels: akka.net v1.4

#6820 Minor documentation additions - Akka Streams RestartFlow and RestartSettings
  src/core/Akka.Streams/Dsl/RestartFlow.cs
  src/core/Akka.Streams/RestartSettings.cs
Labels: akka-actor, docs

#6821 Backport Akka.NET v1.4.51 performance fixes
  src/core/Akka.Streams/Implementation/ActorMaterializerImpl.cs
  src/core/Akka.Streams/Implementation/ActorRefSourceActor.cs
  src/core/Akka.Streams/Implementation/FanOut.cs
  src/core/Akka.Streams/Implementation/FanoutProcessorImpl.cs
  src/core/Akka.Streams/Implementation/Fusing/ActorGraphInterpreter.cs
  src/core/Akka.Streams/Implementation/IO/FilePublisher.cs
  src/core/Akka.Streams/Implementation/IO/FileSubscriber.cs
  src/core/Akka.Streams/Implementation/IO/InputStreamPublisher.cs
  src/core/Akka.Streams/Implementation/IO/OutputStreamSubscriber.cs
  src/core/Akka/Pattern/BackoffOnRestartSupervisor.cs
  src/core/Akka/Pattern/BackoffOptions.cs
  src/core/Akka/Pattern/BackoffSupervisor.cs
Labels: akka-actor, akka-streams, perf

#6822 Added spec to demonstrate failed snapshot-only recovery
  src/core/Akka.Persistence.TestKit/Akka.Persistence.TestKit.csproj
  src/core/Akka.Persistence.Tests/Akka.Persistence.Tests.csproj
  src/core/Akka.Persistence.Tests/FailedSnapshotStoreRecoverySpec.cs
Labels: tests, akka-persistence
