Repository akkadotnet/akka.net, pull requests merged in 2024-01, with the labels that each got.

#7031 added Akka.Analyzer reference
  src/Akka.sln
  src/Directory.Build.props
  src/core/Akka.Cluster/Routing/ClusterRoutingConfig.cs
  src/core/Akka.Docs.Tests/Streams/StreamRefsDocTests.cs
  src/core/Akka.Docs.Tests/Utilities/CircuitBreakerDocSpec.cs
  src/core/Akka.Streams.Tests/Dsl/StreamRefsSerializerSpec.cs
  src/core/Akka.Streams.Tests/Dsl/StreamRefsSpec.cs
  src/core/Akka.TestKit/Akka.TestKit.csproj
  src/core/Akka.Tests/Actor/ActorRefSpec.cs
  src/core/Akka.Tests/Dispatch/AsyncAwaitSpec.cs
  src/core/Akka.Tests/Routing/RoutingSpec.cs
  src/core/Akka/Akka.csproj
  src/examples/Cluster/Metrics/Samples.Cluster.Metrics.Common/FactorialBackend.cs
Labels: rosyln-analyzer

#7032 Make ClusterClient messages be serialized using ClusterClientMessageSerializer
  src/contrib/cluster/Akka.Cluster.Tools.Tests/ClusterClient/ClusterClientSerializerSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClient.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClientSettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/Serialization/ClusterClientMessageSerializer.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/reference.conf
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Net.verified.txt
  src/core/Akka/Serialization/Serialization.cs
Labels: serialization, akka-cluster-tools

#7036 resolved build warning inside `AkkaProtocolSpec`
  src/core/Akka.Remote.Tests/Transport/AkkaProtocolSpec.cs
Labels: tests, akka-remote

#7034 Akka.Delivery: fix `ProducerControllerImpl<T>` state bug
  src/core/Akka.Tests/Delivery/ReliableDeliveryRandomSpecs.cs
  src/core/Akka/Delivery/Internal/ConsumerControllerImpl.cs
  src/core/Akka/Delivery/Internal/ProducerControllerImpl.cs
Labels: akka-delivery

#6940 Sealed uninherited `internal` classes in `Akka.Streams` and `Akka.Remote`
  src/core/Akka.Cluster/ClusterActorRefProvider.cs
  src/core/Akka.Remote/Endpoint.cs
  src/core/Akka.Remote/EndpointManager.cs
  src/core/Akka.Remote/EndpointRegistry.cs
  src/core/Akka.Remote/PhiAccrualFailureDetector.cs
  src/core/Akka.Remote/RemoteDeploymentWatcher.cs
  src/core/Akka.Remote/RemoteMetricsExtension.cs
  src/core/Akka.Remote/Remoting.cs
  src/core/Akka.Remote/RemotingLifecycleEvent.cs
  src/core/Akka.Remote/Serialization/ExceptionSupport.cs
  src/core/Akka.Remote/Serialization/WrappedPayloadSupport.cs
  src/core/Akka.Remote/Transport/AkkaPduCodec.cs
  src/core/Akka.Remote/Transport/AkkaProtocolTransport.cs
  src/core/Akka.Remote/Transport/DotNetty/AkkaLoggingHandler.cs
  src/core/Akka.Remote/Transport/DotNetty/BatchWriter.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransport.cs
  src/core/Akka.Remote/Transport/ThrottleTransportAdapter.cs
  src/core/Akka.Remote/Transport/TransportAdapters.cs
Labels: akka-remote, akka-streams, perf

#6863 Akka.Cluster.Sharding: perf optimize message extraction, automate `StartEntity` and `ShardEnvelope` handling
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/ShardMessageRoutingBenchmarks.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRememberEntitiesNewExtractorSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/RememberEntitiesShardIdExtractorChangeSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardEntityFailureSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterShardingGuardian.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Internal/RememberEntityStarter.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Shard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardedDaemonProcess.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
Labels: akka-cluster-sharding, api-change, perf

#6941 `struct`s in `Akka.Streams` with exclusively read-only members were made `readonly`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.Streams/Dsl/Tcp.cs
  src/core/Akka.Streams/IMaterializer.cs
  src/core/Akka.Streams/IO/IOResult.cs
  src/core/Akka.Streams/Implementation/FanIn.cs
  src/core/Akka.Streams/Implementation/FanOut.cs
  src/core/Akka.Streams/Implementation/Fusing/ActorGraphInterpreter.cs
  src/core/Akka.Streams/Implementation/IO/FilePublisher.cs
  src/core/Akka.Streams/Implementation/IO/InputStreamPublisher.cs
  src/core/Akka.Streams/Implementation/IO/InputStreamSinkStage.cs
  src/core/Akka.Streams/Implementation/IO/TcpStages.cs
  src/core/Akka.Streams/Implementation/Transfer.cs
  src/core/Akka.Streams/Stage/GraphStage.cs
Labels: akka-streams, perf

#7039 Docs: defining Akka.Analyzer rules
  docs/articles/actors/dependency-injection.md
  docs/articles/debugging/akka-analyzers.md
  docs/articles/debugging/rules/AK1000.md
  docs/articles/debugging/rules/AK1001.md
  docs/articles/debugging/rules/AK2000.md
  docs/articles/debugging/rules/toc.yml
  docs/articles/debugging/toc.yml
  docs/articles/toc.yml
Labels: docs, rosyln-analyzer

#7047 added AK2001 warning docs
  docs/articles/debugging/akka-analyzers.md
  docs/articles/debugging/rules/AK2001.md
  docs/articles/debugging/rules/toc.yml
  src/Directory.Build.props
Labels: docs, rosyln-analyzer

#7049 Akka.Cluster.Sharding `AK2001` cleanup
  docs/articles/debugging/rules/AK2001.md
  src/Directory.Build.props
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/HashCodeMessageExtractorBenchmarks.cs
  src/benchmark/Akka.Cluster.Benchmarks/Sharding/ShardingInfrastructure.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Delivery/DurableShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Delivery/ReliableDeliveryShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.DistributedData/Replicator.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
  src/examples/Cluster/ClusterSharding/ShoppingCart/MessageExtractor.cs
Labels: akka-cluster-sharding, api-change, rosyln-analyzer

#7050 distribute Akka.Analyzers as transitive dependency through Akka
  RELEASE_NOTES.md
  src/Directory.Build.props
  src/core/Akka/Akka.csproj
Labels: build system

#7051 troubleshooting `ShardingRegion.StartEntity` handling changes
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardCoordinatorDowning2Spec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardCoordinatorDowningSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingCustomShardAllocationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingFailureSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGetStateSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGetStatsSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGracefulShutdownOldestSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGracefulShutdownSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingLeavingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingMinMembersSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingQueriesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRegistrationCoordinatedShutdownSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRememberEntitiesNewExtractorSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRememberEntitiesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRolePartitioningSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingSingleShardPerEntitySpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ExternalShardAllocationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/MultiNodeClusterShardingConfig.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/MultiNodeClusterShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/RollingUpdateShardAllocationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/AutomaticallyHandledExtractorMessagesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/RememberEntitiesBatchedUpdatesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/RememberEntitiesShardIdExtractorChangeSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
Labels: potential bug, akka-cluster-sharding

#7052 [Docs] Adding Akka.NET v1.5.15 upgrade advisories
  docs/community/whats-new/akkadotnet-v1.5-upgrade-advisories.md
Labels: docs

#7059 Fix sharding entity id extractor nullability
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
Labels: akka-cluster-sharding

#7060 Add TestKit and TestKit.Xunit2 to the api spec
  src/core/Akka.API.Tests/Akka.API.Tests.csproj
  src/core/Akka.API.Tests/CoreAPISpec.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKitXunit2.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKitXunit2.Net.verified.txt
Labels: build system, akka-testkit

#7037 Akka.TestKit: remove `ConfigureAwait(false)` from internal synchronous TestKit methods and fix `Watch` / `Unwatch` bugs
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Legacy/SqliteLegacyJournalSpec.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.Net.verified.txt
  src/core/Akka.Docs.Tests/Actors/SchedulerSpecs.cs
  src/core/Akka.Persistence.TestKit.Tests/Actors/CounterActor.cs
  src/core/Akka.Persistence.TestKit.Tests/Bug4762FixSpec.cs
  src/core/Akka.Persistence.TestKit/Journal/JournalRecoveryBehavior.cs
  src/core/Akka.Persistence.TestKit/Journal/JournalRecoveryBehaviorSetter.cs
  src/core/Akka.Persistence.TestKit/Journal/JournalWriteBehaviorSetter.cs
  src/core/Akka.Remote.Tests/RemoteMessageLocalDeliverySpec.cs
  src/core/Akka.TestKit/EventFilter/Internal/EventFilterApplier.cs
  src/core/Akka.TestKit/Extensions/TaskExtensions.cs
  src/core/Akka.TestKit/Internal/AsyncPeekableCollection.cs
  src/core/Akka.TestKit/Internal/InternalTestActor.cs
  src/core/Akka.TestKit/TestActor.cs
  src/core/Akka.TestKit/TestKitBase.cs
  src/core/Akka.TestKit/TestKitBase_Expect.cs
  src/core/Akka.TestKit/TestKitBase_ExpectAllWithPredicates.cs
  src/core/Akka.TestKit/TestKitBase_Receive.cs
  src/core/Akka.TestKit/TestKitBase_Within.cs
  src/core/Akka.TestKit/TestProbe.cs
  src/core/Akka.Tests/Pattern/BackoffOnRestartSupervisorSpec.cs
  src/core/Akka.Tests/Pattern/CircuitBreakerSpec.cs
  src/core/Akka.Tests/Routing/ResizerSpec.cs
  src/core/Akka.Tests/Routing/RoutingSpec.cs
  src/core/Akka/Actor/ActorCell.DeathWatch.cs
  src/core/Akka/Actor/BuiltInActors.cs
Labels: tests, akka-persistence, api-change, akka-testkit

#7067 Separate Metrics business and wire format models
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/ClusterMetricMessages.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/ClusterMetricsMessageSerializer.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/EWMA.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/Metric.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/MetricsGossip.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/NodeMetrics.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/Proto/ClusterMetricsMessages.g.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/Proto/ClusterMetricsMessages.proto
  src/contrib/cluster/Akka.Cluster.Metrics/Serialization/Proto/generate.bat
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterMetrics.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterMetrics.Net.verified.txt
Labels: serialization, akka-cluster-metrics

#7069 Use NoOffset when running query from start
  src/core/Akka.Persistence.TCK/Query/CurrentEventsByTagSpec.cs
Labels: akka-persistence-query

#7072 AK1003 - Add documentation
  docs/articles/debugging/rules/AK1003.md
Labels: docs

#7078 Tentative nullref fix for `LogSource`
  src/core/Akka/Event/Logging.cs
Labels: logging
