Repository akkadotnet/akka.net, pull requests merged in 2024-12, with the labels that each got.

#7397 Update books.md
  docs/community/books.md
Labels: docs

#7400 cleaned up `RememberEntitiesFailureSpecs`
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/RememberEntitiesFailureSpec.cs
Labels: tests, akka-cluster-sharding

#7401 Akka.Cluster.Sharding: harden event-sourced `RememberEntities` infrastructure against transient Akka.Persistence failures
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Bugfix7399Specs.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Internal/EventSourcedRememberEntitiesProvider.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Internal/RememberEntityStarter.cs
Labels: tests, akka-cluster-sharding

#7402 Added reproduction spec for missing custom mailbox when using DI
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/ActorTestServices.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/DiPropsSpecs.cs
  src/contrib/dependencyinjection/Akka.DependencyInjection.Tests/RouterIntegrationSpec.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Properties/AssemblyInfo.cs
Labels: tests, akka-actor, configuration, akka-dependency-injection

#7409 better perf in HandleStashedInbound
  src/core/Akka.Remote/EndpointManager.cs
Labels: akka-remote, perf

#7418 harden `CircuitBreakerSpecs.cs`
  src/core/Akka.Tests/Pattern/CircuitBreakerSpec.cs
Labels: confirmed bug, tests

#7420 harden `BackoffSupervisorSpecs`
  src/core/Akka.Tests/Pattern/BackoffSupervisorSpec.cs
Labels: confirmed bug, tests

#7423 Make TestKit startup timeouts configurable
  src/contrib/testkits/Akka.TestKit.Xunit2/TestKit.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.Net.verified.txt
  src/core/Akka.TestKit.Tests/TestKit_Config_Tests.cs
  src/core/Akka.TestKit/Configs/TestScheduler.conf
  src/core/Akka.TestKit/Internal/Reference.conf
  src/core/Akka.TestKit/TestKitBase.cs
  src/core/Akka.TestKit/TestKitSettings.cs
Labels: api-change, akka-testkit

#7424 Add custom log level to stream Log stage
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.Tests/Dsl/AttributesSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowLogSpec.cs
  src/core/Akka.Streams/Attributes.cs
  src/core/Akka.Streams/Dsl/FlowOperations.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Dsl/SourceOperations.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#7425 Throw clearer error message during `Stash()` in `null` message cases
  src/core/Akka.Tests/Actor/Stash/Bugfix7398Specs.cs
  src/core/Akka/Actor/Stash/Internal/AbstractStash.cs
Labels: akka-actor, logging

#7414 Fixed: `IWrappedMessage` + `IDeadLetterSuppression` handling
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Actor/DeadLettersSpec.cs
  src/core/Akka.Tests/Actor/WrappedMessagesSpec.cs
  src/core/Akka/Actor/BuiltInActors.cs
  src/core/Akka/Actor/DeadLetterMailbox.cs
  src/core/Akka/Actor/EmptyLocalActorRef.cs
  src/core/Akka/Event/DeadLetter.cs
Labels: akka-actor, logging

#7429 Harden `LogFormatSpec`
  src/core/Akka.API.Tests/LogFormatSpec.cs
Labels: tests, logging

#7434 Make actor start / stop telemetry descriptors overrideable
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Actor/ActorCell.DefaultMessages.cs
  src/core/Akka/Actor/ActorCell.FaultHandling.cs
Labels: akka-actor, api-change

#7433 Fix `Akka.Util.Result` edge case
  src/core/Akka.Tests/Util/ResultSpec.cs
  src/core/Akka/Util/Result.cs
Labels: akka-actor, akka-streams

#7438 fix `KeyNotFoundException` in `DelegatingSupervisorStrategy`
  src/core/Akka.TestKit/DelegatingSupervisorStrategy.cs
Labels: akka-testkit
