Repository akkadotnet/akka.net, pull requests merged in 2024-11, with the labels that each got.

#7375 Fix EventSourced Stash filtering out identical envelopes
  src/core/Akka/Actor/Stash/Internal/AbstractStash.cs
Labels: akka-actor

#7374 Added reproduction for missing `Stash.Stash` messages in Akka.Persistence actors
  src/core/Akka.Persistence.Tests/Bugfix7373Specs.cs
Labels: tests, akka-persistence

#7376 [Streams] Fix ShellRegistered message deadletter log
  src/core/Akka.Streams/Implementation/Fusing/ActorGraphInterpreter.cs
Labels: logging, akka-streams

#7380 Docs: clarified that you don't need to handle ShardRegion.StartEntity after version v1.5.15 of Akka.NET
  docs/articles/clustering/cluster-sharding.md
Labels: docs, akka-cluster-sharding

#7383 Make shard lease `Release` block in PostStop
  src/contrib/cluster/Akka.Cluster.Sharding/Shard.cs
Labels: akka-cluster-sharding, akka-coordination

#7363 Add missing cluster singleton detection
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonProxySpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonProxy.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonProxySettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonSettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/reference.conf
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Net.verified.txt
Labels: enhancement, akka-cluster-tools

#7388 [DOCS] Add custom lease documentation
  docs/articles/utilities/lease.md
  docs/articles/utilities/toc.yml
  src/core/Akka.Docs.Tests/Akka.Docs.Tests.csproj
  src/core/Akka.Docs.Tests/Utilities/LeaseActorDocSpec.cs
Labels: docs, akka-coordination

#7390 Cleaned up `TestTransport` XML-DOC `TBD`s
  src/core/Akka.Remote.Tests/Transport/TestTransportSpec.cs
  src/core/Akka.Remote/Transport/TestTransport.cs
Labels: akka-remote

#7391 Added multi-transport addressing spec
  src/core/Akka.Remote.Tests/RemotingSpec.cs
  src/core/Akka.Remote.Tests/Transport/MultiTransportAddressingSpec.cs
Labels: tests, akka-remote

#7394 Harden Lease docs unit test
  src/core/Akka.Docs.Tests/Utilities/LeaseActorDocSpec.cs
Labels: tests, akka-coordination

#7393 Akka.Remote: ensure `RemoteActorRef` are serialized with correct `Address` when using multiple transports
  src/benchmark/Akka.Benchmarks/Remoting/AkkaPduCodecBenchmark.cs
  src/core/Akka.Remote.Tests/Serialization/BugFix5062Spec.cs
  src/core/Akka.Remote.Tests/Transport/MultiTransportAddressingSpec.cs
  src/core/Akka.Remote/Endpoint.cs
  src/core/Akka.Remote/EndpointManager.cs
  src/core/Akka.Remote/MessageSerializer.cs
Labels: akka-remote, serialization

#7396 Add note about duplicate `PeriodicTimer` messages when actors are busy
  src/core/Akka/Actor/Scheduler/TimerScheduler.cs
Labels: akka-actor, docs
