Repository akkadotnet/akka.net, pull requests merged in 2024-05, with the labels that each got.

#7186 Fix IsInfoEnabled on Error bug (#7185)
  src/core/Akka/Event/ILoggingAdapter.cs
Labels: confirmed bug, logging

#7192 Clean up `HelloWorld` sample
  src/examples/HelloAkka/HelloWorld/Program.cs
Labels: docs

#7194 fix race conditions with `ReceivePersistentActorTests`
  src/core/Akka.Persistence.Tests/ReceivePersistentActorTests.cs
Labels: tests, akka-persistence

#7179 Akka.Event: add log filtering system to prevent Akka.NET logs from being emitted in first place
  docs/articles/utilities/logging.md
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Loggers/LogFilterEvaluatorSpecs.cs
  src/core/Akka.Tests/Loggers/LoggerSpec.cs
  src/core/Akka/Actor/Settings.cs
  src/core/Akka/Configuration/akka.conf
  src/core/Akka/Event/LogFilter.cs
  src/core/Akka/Event/LoggingBus.cs
  src/core/Akka/Event/StandardOutLogger.cs
Labels: akka-actor, logging, api-change

#7199 ensure we use correct serializer in `DistributedPubSubSerializerSpecs`
  src/contrib/cluster/Akka.Cluster.Tools.Tests/PublishSubscribe/DistributedPubSubMessageSerializerSpec.cs
Labels: tests, akka-cluster-tools

#7202 Fix missing `sendOneMessageToEachGroup` property in `Publish`
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSubMediator.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Internal/Topics.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Serialization/DistributedPubSubMessageSerializer.cs
  src/protobuf/DistributedPubSubMessages.proto
Labels: serialization, akka-cluster-tools

#7200 Akka.Actor.Serialization: remember to serialize envelope AND underlying type when using `serialize-messages=on`
  src/contrib/cluster/Akka.Cluster.Tools.Tests/PublishSubscribe/DistributedPubSubMediatorRouterSpec.cs
  src/core/Akka.Tests/Actor/ActorCellSerializeMessagesTests.cs
  src/core/Akka/Actor/ActorCell.cs
Labels: akka-actor, serialization, akka-cluster-tools

#7205 [DOC] Add Akka.Analyzers AK1006 documentation
  docs/articles/debugging/akka-analyzers.md
  docs/articles/debugging/rules/AK1006.md
  docs/articles/debugging/rules/toc.yml
Labels: docs, rosyln-analyzer

#7214 Akka.Cluster.Tools.Tests: disable auto-downing on restart specs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonRestart2Spec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonRestart3Spec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonRestartSpec.cs
  src/core/Akka.Coordination.Tests/TestLease.cs
Labels: tests, akka-cluster-tools

#7210 Akka.Event: expose the `EventStream` on `BusLogging` for extensibility purposes
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Streams.Tests/FusingSpec.cs
  src/core/Akka/Event/BusLogging.cs
Labels: akka-actor, logging, api-change

#7218 Debugging racy ClusterShardingDeliveryGracefulShutdown MNTR spec
  src/Directory.Build.props
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/Delivery/ClusterShardingDeliveryGracefulShutdownSpec.cs
Labels: tests, multi node spec

#7219 added docs for `Valve` Akka.Streams stage
  docs/articles/streams/builtinstages.md
  src/core/Akka.Streams.Tests/Dsl/ValveSpec.cs
  src/core/Akka.Streams/Dsl/Valve.cs
Labels: docs, akka-streams
