Repository akkadotnet/akka.net, pull requests merged in 2024-02, with the labels that each got.

#7085 Typo fix
  docs/articles/actors/receive-actor-api.md
Labels: docs

#7093 Made all snapshot tests virtual
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSpec.cs
Labels: akka-persistence, akka-testkit

#7095 Bulleted summary made consistent with the figure shared above regarding remote deployment
  docs/articles/remoting/deployment.md
Labels: docs

#7092 Work on `ConsumerController` deadlock
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Delivery/ConsumerControllerRetryConfirmSpecs.cs
  src/core/Akka.Tests/Delivery/ConsumerControllerSpecs.cs
  src/core/Akka/Configuration/akka.conf
  src/core/Akka/Delivery/ConsumerController.cs
  src/core/Akka/Delivery/Internal/ConsumerControllerImpl.cs
Labels: akka-delivery

#7099 Fix `IMessageExtractor` technical debts in tests
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardCoordinatorDowning2Spec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardCoordinatorDowningSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingCustomShardAllocationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingFailureSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGetStateSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGetStatsSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGracefulShutdownOldestSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingGracefulShutdownSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingLeavingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingMinMembersSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingQueriesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRegistrationCoordinatedShutdownSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRememberEntitiesNewExtractorSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingRolePartitioningSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingSingleShardPerEntitySpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ClusterShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ExternalShardAllocationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/MultiNodeClusterShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/RollingUpdateShardAllocationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/CoordinatedShutdownShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/EntityTerminationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/InactiveEntityPassivationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/PersistentShardingMigrationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/PersistentStartEntitySpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/RememberEntitiesFailureSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardEntityFailureSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardRegionSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardWithLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/StartEntitySpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/SupervisionSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Shard.cs
Labels: tests, akka-cluster-sharding

#7102 Suppress extremely chatty TimerScheduler debug messages
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Actor/Scheduler/TimerSchedulerDebugSpec.cs
  src/core/Akka/Actor/Scheduler/TimerScheduler.cs
  src/core/Akka/Actor/Settings.cs
  src/core/Akka/Configuration/akka.conf
Labels: akka-actor, logging

#7106 Implement Sharding.Delivery bypass feature
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/Delivery/ClusterShardingDeliveryGracefulShutdownSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/Delivery/SlowStopConsumerEntity.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/Delivery/TestProducer.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Delivery/Internal/ShardingConsumerControllerImpl.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Delivery/ShardingConsumerController.cs
  src/contrib/cluster/Akka.Cluster.Sharding/reference.conf
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
Labels: akka-cluster-sharding, akka-delivery
