Repository akkadotnet/akka.net, pull requests merged in 2024-10, with the labels that each got.

#7350 Fix AskTimeoutException message formatting bug
  src/core/Akka.Tests/Actor/AskSpec.cs
  src/core/Akka/Actor/Futures.cs
Labels: akka-actor, logging

#7352 Fix unit tests related to the Persistence DateTime bug
  src/core/Akka.Persistence.TCK.Tests/LocalSnapshotStoreSpec.cs
  src/core/Akka.Persistence.TCK/Query/PersistenceIdsSpec.cs
  src/core/Akka.Persistence.TCK/Serialization/SnapshotStoreSerializationSpec.cs
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSaveSnapshotSpec.cs
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSpec.cs
Labels: akka-persistence

#7353 Revert #7349 and #7352
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.Net.verified.txt
  src/core/Akka.Persistence.TCK.Tests/LocalSnapshotStoreSpec.cs
  src/core/Akka.Persistence.TCK/Query/PersistenceIdsSpec.cs
  src/core/Akka.Persistence.TCK/Serialization/SnapshotStoreSerializationSpec.cs
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSaveSnapshotSpec.cs
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSpec.cs
  src/core/Akka.Persistence/Eventsourced.cs
  src/core/Akka.TestKit/TestScheduler.cs
  src/core/Akka.Tests/Actor/ActorSystemSpec.cs
  src/core/Akka.Tests/Actor/Scheduler/SchedulerShutdownSpec.cs
  src/core/Akka/Actor/Scheduler/DateTimeNowTimeProvider.cs
  src/core/Akka/Actor/Scheduler/HashedWheelTimerScheduler.cs
  src/core/Akka/Actor/Scheduler/ITimeProvider.cs
  src/core/Akka/Actor/Scheduler/SchedulerBase.cs
Labels: critical, api-change

#7354 Fix SnapshotMetadata.Timestamp bug
  src/contrib/persistence/Akka.Persistence.Sql.Common/Snapshot/QueryExecutor.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Snapshot/SqliteSnapshotStore.cs
  src/core/Akka.Persistence.TCK.Tests/LocalSnapshotStoreSpec.cs
  src/core/Akka.Persistence.TCK/Query/PersistenceIdsSpec.cs
  src/core/Akka.Persistence.TCK/Serialization/SnapshotStoreSerializationSpec.cs
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSpec.cs
  src/core/Akka.Persistence.TestKit.Tests/TestSnapshotStoreSpec.cs
  src/core/Akka.Persistence/Eventsourced.cs
  src/core/Akka.Persistence/Snapshot/LocalSnapshotStore.cs
  src/core/Akka.Persistence/Snapshot/MemorySnapshotStore.cs
Labels: akka-persistence

#7357 Improve JournalPerfSpec
  src/core/Akka.Persistence.TCK/Akka.Persistence.TCK.csproj
  src/core/Akka.Persistence.TCK/Performance/JournalPerfSpec.cs
Labels: tests, akka-persistence, perf

#7360 Add DeleteAsync failure logging
  src/core/Akka.Persistence/Snapshot/SnapshotStore.cs
Labels: akka-persistence, logging

#7343 Fix Persistence RecoveryTick timer leak
  src/core/Akka.Persistence/Eventsourced.Recovery.cs
Labels: akka-persistence

#7364 Fix Hyperion serializer config bug
  src/contrib/serializers/Akka.Serialization.Hyperion/HyperionSerializer.cs
  src/contrib/serializers/Akka.Serialization.Hyperion/reference.conf
Labels: serialization

#7367 fix potential `ArgumentException` during shard rebalancing
  src/contrib/cluster/Akka.Cluster.Sharding/Internal/AbstractLeastShardAllocationStrategy.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardAllocationStrategy.cs
Labels: akka-cluster-sharding

#7371 fixed bugs with multiple `Member`s with same `Address` crashing `ClusterDaemon`
  src/core/Akka.Cluster/ClusterDaemon.cs
Labels: akka-cluster
