Repository akkadotnet/akka.net, pull requests merged in 2024-08, with the labels that each got.

#7309 Akka.Cluster.Tools.Singleton: log the correct oldest member on transition
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonManager.cs
Labels: confirmed bug, logging, akka-cluster-tools

#7310 Update ClusterClientDiscovery Akka.Hosting documentation
  docs/articles/clustering/cluster-client.md
Labels: docs

#7314 Akka.Actor: make `ITimeProvider` injectable into consuming classes
  src/contrib/cluster/Akka.Cluster.Sharding/Delivery/Internal/ShardingProducerControllerImpl.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Persistence/Delivery/EventSourcedProducerQueue.cs
  src/core/Akka/Actor/Scheduler/DateTimeNowTimeProvider.cs
  src/core/Akka/Actor/Scheduler/ITimeProvider.cs
  src/core/Akka/Delivery/Internal/ProducerControllerImpl.cs
  src/core/Akka/Delivery/ProducerController.cs
Labels: akka-actor, api-change

#7315 Fix ClusterSingletonProxy fails to reacquire singleton actor
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonProxy.cs
Labels: akka-cluster-tools, akka-coordination

#7313 Akka.Persistence: Made `DateTime.UtcNow` the default timestamp for `SnapshotMetdata`
  src/contrib/persistence/Akka.Persistence.Sql.Common/Snapshot/QueryExecutor.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.Net.verified.txt
  src/core/Akka.Persistence.TCK.Tests/LocalSnapshotStoreSpec.cs
  src/core/Akka.Persistence.TCK/Query/PersistenceIdsSpec.cs
  src/core/Akka.Persistence.TCK/Serialization/SnapshotStoreSerializationSpec.cs
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSpec.cs
  src/core/Akka.Persistence/Eventsourced.cs
  src/core/Akka.Persistence/SnapshotProtocol.cs
  src/core/Akka/Actor/Scheduler/SchedulerBase.cs
Labels: akka-persistence, akka-persistence-sql-common

#7320 fixed Akka.Persistence.Tck snapshot load specs
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSpec.cs
Labels: tests, akka-persistence

#7322 fixed `ClusterClientDiscoverySpec`
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/ClusterClient/ClusterClientDiscoverySpec.cs
Labels: multi node spec, akka-cluster-tools

#7323 rename ".NET 7" build tasks to just ".NET"
  README.md
  build-system/pr-validation.yaml
Labels: build system

#7321 TestKit and Akka.Remote.TestKit: diagnostic improvements and code modernization
  src/Directory.Build.props
  src/core/Akka.Remote.TestKit.Tests/BarrierSpec.cs
  src/core/Akka.Remote.TestKit/BarrierCoordinator.cs
  src/core/Akka.Remote.TestKit/DataTypes.cs
  src/core/Akka.Remote.TestKit/MsgDecoder.cs
  src/core/Akka.Remote.TestKit/MsgEncoder.cs
  src/core/Akka.Remote.TestKit/MultiNodeSpec.cs
  src/core/Akka.Remote.TestKit/Player.cs
  src/core/Akka.TestKit/TestKitBase_AwaitAssert.cs
  src/core/Akka.Tests/Pattern/CircuitBreakerSpec.cs
  src/protobuf/TestConductorProtocol.proto
Labels: multi node spec, akka-testkit

#7324 Improve Akka.Persistence.TestKit
  src/core/Akka.Persistence.TestKit.Tests/JournalInterceptorsSpecs.cs
  src/core/Akka.Persistence.TestKit.Tests/SnapshotStoreInterceptorsSpec.cs
  src/core/Akka.Persistence.TestKit.Xunit2/PersistenceTestKit.cs
  src/core/Akka.Persistence.TestKit/Akka.Persistence.TestKit.csproj.DotSettings
  src/core/Akka.Persistence.TestKit/ConnectionInterceptors.cs
  src/core/Akka.Persistence.TestKit/IConnectionInterceptor.cs
  src/core/Akka.Persistence.TestKit/Journal/IJournalConnectionBehaviorSetter.cs
  src/core/Akka.Persistence.TestKit/Journal/ITestJournal.cs
  src/core/Akka.Persistence.TestKit/Journal/JournalConnectionBehavior.cs
  src/core/Akka.Persistence.TestKit/Journal/JournalConnectionBehaviorSetter.cs
  src/core/Akka.Persistence.TestKit/Journal/JournalInterceptors.cs
  src/core/Akka.Persistence.TestKit/Journal/TestJournal.cs
  src/core/Akka.Persistence.TestKit/Properties/AssemblyInfo.cs
  src/core/Akka.Persistence.TestKit/SnapshotStore/ISnapshotStoreConnectionBehaviorSetter.cs
  src/core/Akka.Persistence.TestKit/SnapshotStore/ITestSnapshotStore.cs
  src/core/Akka.Persistence.TestKit/SnapshotStore/SnapshotStoreConnectionBehavior.cs
  src/core/Akka.Persistence.TestKit/SnapshotStore/SnapshotStoreConnectionBehaviorSetter.cs
  src/core/Akka.Persistence.TestKit/SnapshotStore/SnapshotStoreInterceptors.cs
  src/core/Akka.Persistence.TestKit/SnapshotStore/TestSnapshotStore.cs
  src/core/Akka.Persistence.TestKit/SnapshotStore/TestSnapshotStoreFailureException.cs
  src/core/Akka.Persistence.TestKit/TestConnectionException.cs
Labels: akka-persistence, akka-testkit

#7327 Akka.Cluster.Sharding: Don't enable durable DData for RE unless DData is storage engine
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterShardingGuardian.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterShardingSettings.cs
Labels: akka-cluster-sharding, akka-ddata, akka-ddata-durable

#7325 Akka.Persistence.Sql.Common: harden `SqlJournal` and `SqlSnapshotStore` against initialization failures
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/SqlJournal.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Snapshot/SqlSnapshotStore.cs
Labels: akka-persistence-sql-common

#7328 [Streams] Fix missing AlsoTo public APIs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams/Dsl/FlowOperations.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Dsl/SourceOperations.cs
  src/core/Akka.Streams/Dsl/SubFlowOperations.cs
Labels: akka-streams, api-change
