Repository akkadotnet/akka.net, pull requests merged in 2024-07, with the labels that each got.

#7273 Update failure message syntax
  docs/articles/actors/receive-actor-api.md
Labels: docs

#7270 Fix possible problems with ClusterClient Discovery
  src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClientDiscovery.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClientDiscoverySettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/reference.conf
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Net.verified.txt
Labels: akka-cluster-tools

#7274 Improve ClusterClientDiscovery feature
  src/Directory.Build.props
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Akka.Cluster.Tools.Tests.MultiNode.csproj
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/ClusterClient/ClusterClientDiscoverySpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClientDiscovery.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClientDiscoverySettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Client/reference.conf
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Net.verified.txt
Labels: akka-discovery

#7276 Fix ClusterClientDiscovery, missing port name in Lookup
  src/contrib/cluster/Akka.Cluster.Tools/Client/ClusterClientDiscovery.cs
Labels: akka-cluster-tools, akka-discovery

#7278 Akka.Cluster: harden ignored gossip messages
  src/core/Akka.Cluster/ClusterDaemon.cs
Labels: akka-cluster

#7280 Akka.Cluster: `ClusterMessageSerializer` benchmarks
  src/benchmark/Akka.Cluster.Benchmarks/Akka.Cluster.Benchmarks.csproj
  src/benchmark/Akka.Cluster.Benchmarks/Serialization/ClusterMessageSerializerBenchmarks.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCluster.Net.verified.txt
  src/core/Akka.Cluster/Member.cs
  src/core/Akka.Cluster/Properties/AssemblyInfo.cs
Labels: akka-cluster, serialization, perf

#7128 Add `ActorBase` lifecycle flow unit tests
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Actor/ActorLifeCycleFlowSpec.cs
  src/core/Akka/Actor/Scheduler/ITimerScheduler.cs
  src/core/Akka/Actor/Scheduler/TimerScheduler.cs
Labels: akka-actor

#7282 Optimize cluster message serializer benchmarks
  src/benchmark/Akka.Cluster.Benchmarks/Serialization/ClusterMessageSerializerBenchmarks.cs
Labels: akka-cluster, serialization, perf

#7283 Fix busted Windows Build stage
  build-system/pr-validation.yaml
Labels: build system

#7281 Akka.Cluster: improve gossip serialization performance
  src/core/Akka.Cluster/Serialization/ClusterMessageSerializer.cs
Labels: akka-cluster, serialization, perf

#7288 Akka.Cluster.Sharding: added tests for DData consistency settings
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingConfigSpec.cs
Labels: tests, akka-cluster-sharding

#7291 Akka.Cluster: added sanity check for `Member.AgeComparer`
  src/core/Akka.Cluster.Tests/MemberOrderingSpec.cs
Labels: tests, akka-cluster

#7292 DData: if `lmdb.dir` is null or empty, log a warning and set to default
  src/contrib/cluster/Akka.DistributedData.LightningDB/LmdbDurableStore.cs
Labels: configuration, akka-ddata-durable

#7294 remove unused `reference.conf` from DistributedData.LightningDb
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/PersistentShardingMigrationSpec.cs
  src/contrib/cluster/Akka.DistributedData.LightningDB/Akka.DistributedData.LightningDB.csproj
  src/contrib/cluster/Akka.DistributedData.LightningDB/reference.conf
Labels: configuration, akka-ddata, akka-ddata-durable

#7295 `ShardCoordinator`: misc cleanup
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterShardingGuardian.cs
  src/contrib/cluster/Akka.Cluster.Sharding/DDataShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardCoordinator.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
Labels: akka-cluster-sharding

#7296 Akka.Cluster.Tools.Singleton: migrate `SingletonManager` to using `switch` statements
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonManager.cs
Labels: akka-cluster-tools, code-style

#7297 Akka.Cluster.Tools.Singleton / Akka.Cluster.Sharding: fix duplicate shards caused by incorrect `ClusterSingletonManager` `HandOver`
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonRestart3Spec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/MemberAgeOrderingSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonProxy.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/MemberAgeOrdering.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/OldestChangedBuffer.cs
Labels: critical, akka-cluster-sharding, akka-cluster-tools

#7300 Fix ActorMaterializerImpl null LogSource
  src/core/Akka.Streams/Implementation/ActorMaterializerImpl.cs
Labels: confirmed bug, akka-streams

#7301 Add AlsoTo downstream failure propagation support
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.Tests/Dsl/FlowAlsoToSpec.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Dsl/SourceOperations.cs
Labels: akka-streams, api-change

#7298 Akka.Cluster.Tools: fix mutability and oldest state bugs with `ClusterSingletonManager`
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonRestart2Spec.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonManager.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/OldestChangedBuffer.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterTools.Net.verified.txt
Labels: critical, akka-cluster-sharding, akka-cluster-tools

#7305 Fix remoting logging DefaultAddress race condition
  src/core/Akka.Remote/RemoteActorRefProvider.cs
  src/core/Akka/Event/Logging.cs
Labels: confirmed bug, logging
