Repository akkadotnet/akka.net, pull requests merged in 2024-09, with the labels that each got.

#7333 Fix StreamRefSerializer NRE bug
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.Tests/Serialization/StreamRefSerializer.cs
  src/core/Akka.Streams/Serialization/StreamRefSerializer.cs
Labels: serialization, akka-streams

#7335 Persistence.TCK: Add SnapshotStore SaveSnapshot spec
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/SqliteSnapshotStoreSaveSnapshotSpec.cs
  src/core/Akka.Persistence.TCK/Snapshot/SnapshotStoreSaveSnapshotSpec.cs
Labels: akka-persistence

#7337 Remove Hyperion from DData
  src/contrib/cluster/Akka.DistributedData/Akka.DistributedData.csproj
Labels: serialization, akka-ddata

#7338 Streams: Fix SelectAsync race condition bug
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#7341 Add IWithTimers API with sender override
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Actor/Scheduler/ITimerScheduler.cs
  src/core/Akka/Actor/Scheduler/TimerScheduler.cs
Labels: akka-actor, api-change

#7349 Fix DateTimeOffset.DateTime UTC bug
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKit.Net.verified.txt
  src/core/Akka.Persistence/Eventsourced.cs
  src/core/Akka.TestKit/TestScheduler.cs
  src/core/Akka.Tests/Actor/ActorSystemSpec.cs
  src/core/Akka.Tests/Actor/Scheduler/SchedulerShutdownSpec.cs
  src/core/Akka/Actor/Scheduler/DateTimeNowTimeProvider.cs
  src/core/Akka/Actor/Scheduler/HashedWheelTimerScheduler.cs
  src/core/Akka/Actor/Scheduler/ITimeProvider.cs
  src/core/Akka/Actor/Scheduler/SchedulerBase.cs
Labels: akka-persistence, akka-actor, serialization, api-change
