Repository akkadotnet/akka.net, pull requests merged in 2025-08, with the labels that each got.

#7739 Change Delivery CreateWithFuzzing to public for testing
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Delivery/ConsumerController.cs
  src/core/Akka/Delivery/ProducerController.cs
Labels: api-change, akka-delivery

#7745 Fix TestKit startup failures under load with SpinWait
  CLAUDE.md
  src/contrib/testkits/Akka.TestKit.Xunit2/TestKit.cs
  src/core/Akka.TestKit/TestKitBase.cs
Labels: akka-testkit

#7748 Fix race condition in AllEventsSpec by using async/await
  src/core/Akka.Persistence.TCK/Query/AllEventsSpec.cs
Labels: tests, akka-persistence

#7747 Fix excessive exception nesting when cancelling ExpectMsgAsync
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/Base/AkkaSpecWithCollector.cs
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/MetricsCollectorSpec.cs
  src/contrib/cluster/Akka.Cluster.Metrics/Collectors/DefaultCollector.cs
  src/core/Akka.TestKit.Tests/TestKitAsyncCancellationSpec.cs
  src/core/Akka.TestKit/TestKitBase_Receive.cs
Labels: akka-testkit

#7750 Add async overloads to multi-node TestConductor APIs
  MULTINODE_TEST_ASYNC_MIGRATION.md
  check-multinode-migration.sh
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/PublishSubscribe/DistributedPubSubRestartSpec.cs
  src/core/Akka.Cluster.TestKit/MultiNodeClusterSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/ClusterAccrualFailureDetectorSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/LeaderElectionSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/StressSpec.cs
  src/core/Akka.Remote.TestKit/Conductor.cs
  src/core/Akka.Remote.TestKit/MultiNodeSpec.cs
  src/core/Akka.Remote.TestKit/Player.cs
  src/core/Akka.Remote.Tests.MultiNode/RemoteNodeDeathWatchSpec.cs
  src/core/Akka.Remote.Tests.MultiNode/TestConductor/TestConductorSpec.cs
Labels: multi node spec, akka-testkit

#7752 Convert ClusterRoundRobinSpec to async
  src/core/Akka.Cluster.Tests.MultiNode/Routing/ClusterRoundRobinSpec.cs
Labels: tests, multi node spec

#7754 Convert SBR multi-node tests to async
  src/core/Akka.Cluster.Tests.MultiNode/SBR/DownAllIndirectlyConnected5NodeSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/SBR/DownAllUnstable5NodeSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/SBR/IndirectlyConnected3NodeSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/SBR/IndirectlyConnected5NodeSpec.cs
  src/core/Akka.Cluster.Tests.MultiNode/SBR/LeaseMajority5NodeSpec.cs
Labels: tests, multi node spec

#7772 TestKit: synchronous `TestActor` start
  .gitignore
  src/contrib/testkits/Akka.TestKit.Xunit/Internals/Loggers.cs
  src/contrib/testkits/Akka.TestKit.Xunit/TestKit.cs
  src/contrib/testkits/Akka.TestKit.Xunit2/Internals/Loggers.cs
  src/contrib/testkits/Akka.TestKit.Xunit2/TestKit.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.TestKit.Tests/TestActorRefTests/ParallelTestActorDeadlockSpec.cs
  src/core/Akka.TestKit/TestKitBase.cs
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Properties/AssemblyInfo.cs
Labels: perf, akka-testkit
