Repository akkadotnet/akka.net, pull requests merged in 2025-01, with the labels that each got.

#7441 Add `IShardingMessageAdapter`
  src/Directory.Build.props
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardingBufferAdapterSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Sharding/IShardingBufferMessageAdapter.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Shard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardRegion.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
Labels: akka-cluster-sharding, api-change

#7448 Add per-plugin recovery permitter actors
  src/core/Akka.Persistence.Tests/MultipleRecoveryPermitterSpec.cs
  src/core/Akka.Persistence.Tests/RecoveryPermitterSpec.cs
  src/core/Akka.Persistence/Eventsourced.Lifecycle.cs
  src/core/Akka.Persistence/Eventsourced.Recovery.cs
  src/core/Akka.Persistence/Eventsourced.cs
  src/core/Akka.Persistence/Persistence.cs
  src/core/Akka.Persistence/RecoveryPermitter.cs
Labels: akka-persistence

#7446 Safer formatting of Xunit assertion messages
  src/Akka.sln
  src/contrib/testkits/Akka.TestKit.Xunit2.Tests/Akka.TestKit.Xunit2.Tests.csproj
  src/contrib/testkits/Akka.TestKit.Xunit2.Tests/Internals/AkkaEqualExceptionSpec.cs
  src/contrib/testkits/Akka.TestKit.Xunit2.Tests/XunitAssertionsSpec.cs
  src/contrib/testkits/Akka.TestKit.Xunit2/Internals/AkkaEqualException.cs
  src/contrib/testkits/Akka.TestKit.Xunit2/XunitAssertions.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKitXunit2.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveTestKitXunit2.Net.verified.txt
  src/core/Akka.Persistence.TestKit.Tests/JournalInterceptorsSpecs.cs
  src/core/Akka.Persistence.TestKit.Tests/SnapshotStoreInterceptorsSpec.cs
Labels: akka-testkit

#7444 Add support for optional snapshots
  docs/articles/persistence/snapshots.md
  src/core/Akka.Persistence.Tests/SnapshotFailureRobustnessSpec.cs
  src/core/Akka.Persistence/Eventsourced.Recovery.cs
  src/core/Akka.Persistence/Persistence.cs
  src/core/Akka.Persistence/persistence.conf
Labels: akka-persistence, configuration

#7449 Added `ShardingEnvelope` checks for `ShardingMessageAdapter`
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardingBufferAdapterSpec.cs
Labels: tests, akka-cluster-sharding

#7451 Add `Broadcast` message support to `ShardedDaemonProcess`
  src/contrib/cluster/Akka.Cluster.Sharding/ShardedDaemonProcess.cs
Labels: akka-cluster-sharding, api-change

#7453 reorganized dependencies into separate paths for .NET Standard, .NET 6/8+
  src/core/Akka/Akka.csproj
Labels: dependencies

#7459 remove duplicate package reference on Akka.FSharp
  src/core/Akka.FSharp/Akka.FSharp.fsproj
Labels: akka-fsharp, dependencies

#7461 Remove more F# duplicate package warnings
  src/core/Akka.FSharp.Tests/Akka.FSharp.Tests.fsproj
Labels: akka-fsharp, dependencies

#7456 Remove `System.ConfigurationManager` support from .NET 6+
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/BatchingSqlJournal.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Journal/SqlJournal.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Snapshot/SqlSnapshotStore.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.Cluster.Tests/ProviderSelectionSpec.cs
  src/core/Akka.Discovery.Tests/DiscoveryConfigurationSpec.cs
  src/core/Akka.FSharp.Tests/ApiTests.fs
  src/core/Akka.FSharp/FsApi.fs
  src/core/Akka.Streams.Tests/Dsl/StreamRefsSpec.cs
  src/core/Akka/Actor/ActorSystem.cs
  src/core/Akka/Configuration/ConfigurationFactory.cs
  src/core/Akka/Configuration/Hocon/AkkaConfigurationSection.cs
  src/core/Akka/Configuration/Hocon/CDataConfigurationElement.cs
  src/core/Akka/Configuration/Hocon/HoconConfigurationElement.cs
Labels: configuration, api-change, AOT

#7460 upgrade MSFT.EXT and BCL libraries to 8.0+
  src/Directory.Build.props
Labels: dependencies

#7462 DData: Fix BCL update causing DeltaPropagationSelector throwing IndexOutOfBoundException
  src/contrib/cluster/Akka.DistributedData/DeltaPropagationSelector.cs
Labels: akka-ddata

#7408 obsolete AddOrSet
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Util/Internal/Extensions.cs
Labels: api-change

#7473 Added mailing list and youtube links
  docs/toc.yml
Labels: docs

#7475 made `ActorCell` use `nullable`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Actor/ActorCell.DeathWatch.cs
  src/core/Akka/Actor/ActorCell.DefaultMessages.cs
  src/core/Akka/Actor/ActorCell.FaultHandling.cs
  src/core/Akka/Actor/ActorCell.ReceiveTimeout.cs
  src/core/Akka/Actor/ActorCell.cs
  src/core/Akka/Actor/ActorRef.cs
  src/core/Akka/Actor/ChildrenContainer/Internal/ChildrenContainer.cs
  src/core/Akka/Actor/ChildrenContainer/Internal/ChildrenContainerBase.cs
  src/core/Akka/Actor/Internal/InternalCurrentActorCellKeeper.cs
  src/core/Akka/Util/Internal/Extensions.cs
Labels: akka-actor, api-change

#7468 Complete MergeHub Sink gracefully on NormalShutdownException
  src/core/Akka.Streams.Tests/Dsl/HubSpec.cs
  src/core/Akka.Streams/Dsl/Hub.cs
Labels: akka-streams

#7478 made `IActorTelemetry` events nullable
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Actor/ActorCell.DefaultMessages.cs
  src/core/Akka/Actor/ActorCell.FaultHandling.cs
Labels: akka-actor, api-change

#7481 `Resequencer` should always be a child of the journal actor
  src/core/Akka.Persistence/Journal/AsyncWriteJournal.cs
Labels: akka-persistence

#7482 Rollback to using 6.0 MSFT libraries
  src/Directory.Build.props
Labels: dependencies

#7489 Make sure all library projects uses dual targeting
  src/contrib/persistence/Akka.Persistence.Sql.TestKit/Akka.Persistence.Sql.TestKit.csproj
  src/contrib/serializers/Akka.Serialization.TestKit/Akka.Serialization.TestKit.csproj
  src/core/Akka.Cluster.TestKit/Akka.Cluster.TestKit.csproj
  src/core/Akka.Persistence.TestKit.Xunit2/Akka.Persistence.TestKit.Xunit2.csproj
  src/core/Akka.Remote.TestKit/Akka.Remote.TestKit.csproj
  src/core/Akka.Streams.TestKit/Akka.Streams.TestKit.csproj
Labels: build system
