Repository akkadotnet/akka.net, pull requests merged in 2025-02, with the labels that each got.

#7494 Update ClusterSharding.Node example to use shared SQLite store
  src/examples/Cluster/ClusterSharding/ClusterSharding.Node/Dockerfile
  src/examples/Cluster/ClusterSharding/ClusterSharding.Node/app.conf
  src/examples/Cluster/ClusterSharding/ClusterSharding.Node/docker-compose.yaml
  src/examples/Cluster/ClusterSharding/ClusterSharding.Node/start.cmd
Labels: samples

#7497 [Streams] Fix null exceptions being propagated on downstream completion
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams/Implementation/Fusing/DownstreamCompletedWithNoCauseException.cs
  src/core/Akka.Streams/Stage/GraphStage.cs
Labels: akka-streams

#7502 Akka.Actor: `Context.Watch` on `FutureActorRef<T>` creates memory leaks
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Actor/AskSpec.cs
  src/core/Akka.Tests/Actor/Bugfix7501Specs.cs
  src/core/Akka/Actor/ActorRef.cs
Labels: akka-actor

#7504 [Docs] Add AK1008 documentation
  docs/articles/debugging/rules/AK1008.md
  docs/articles/debugging/rules/toc.yml
  docs/images/debugging/rules/AK1008-Right-path.png
  docs/images/debugging/rules/AK1008-Wrong-path.png
Labels: docs, rosyln-analyzer

#7474 Have `ShardingAdapter` recursively call the underlying `IMessageExtractor`
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/AutomaticallyHandledExtractorMessagesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardedDaemonProcess.cs
Labels: akka-cluster-sharding, NO MERGE
