Repository akkadotnet/akka.net, pull requests merged in 2025-03, with the labels that each got.

#7511 Added "Why Learn Akka.NET?" video to homepage
  docs/index.md
Labels: docs

#7515 Add SelectAsync regression test for Akka.Persistence.Sql
  src/core/Akka.Streams.Tests/Dsl/FlowSelectAsyncSpec.cs
  src/core/Akka.Streams.Tests/TestHelpers/FailingTaskData.cs
Labels: tests, akka-streams

#7516 Update persistence-testing.md docs
  docs/articles/persistence/persistence-testing.md
Labels: docs

#7520 Akka.Util: improve `Result<T>`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/Util/ResultSpec.cs
  src/core/Akka/Util/Result.cs
Labels: akka-actor

#7521 Fixed race conditions + unsafe struct assignment in `SelectAsync`
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams.Tests/Dsl/FlowAskSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowSelectAsyncSpec.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#7523 chore: [Samples] Update target frameworks from net7.0/netcoreapp3.1 to net8.0
  src/benchmark/Akka.Cluster.Cpu.Benchmark/Akka.Cluster.Cpu.Benchmark.csproj
  src/benchmark/SerializationBenchmarks/SerializationBenchmarks.csproj
  src/examples/AspNetCore/Akka.AspNetCore/Akka.AspNetCore.csproj
  src/examples/Cluster/DData/DDataStressTest/DDataStressTest.csproj
  src/examples/Cluster/PublishSubscribe/SampleDestination/SampleDestination.csproj
  src/examples/Cluster/PublishSubscribe/SamplePublishSubscribe/SampleSubscriber.csproj
  src/examples/Cluster/PublishSubscribe/SamplePublisher/SamplePublisher.csproj
  src/examples/Cluster/PublishSubscribe/SampleSender/SampleSender.csproj
  src/examples/HeadlessService/AkkaHeadlesssService/AkkaHeadlesssService.csproj
  src/examples/HelloAkka/HelloWorld/HelloWorld.csproj
  src/examples/WindowsService/AkkaWindowsService/AkkaWindowsService.csproj
Labels: samples

#7527 Akka.Analyzer: Add AK2002 documentation
  docs/articles/debugging/akka-analyzers.md
  docs/articles/debugging/rules/AK2002.md
  docs/articles/debugging/rules/toc.yml
Labels: docs, akka-streams

#7524 Akka.Remote: `Endpoint` actor cleanup
  src/core/Akka.Remote/Endpoint.cs
Labels: akka-remote, perf

#7496 Implement nullability in streams Buffer
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveStreams.Net.verified.txt
  src/core/Akka.Streams/Attributes.cs
  src/core/Akka.Streams/Implementation/ActorRefSourceActor.cs
  src/core/Akka.Streams/Implementation/Buffers.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
  src/core/Akka.Streams/Implementation/Fusing/StreamOfStreams.cs
  src/core/Akka.Streams/Implementation/Sinks.cs
  src/core/Akka.Streams/Implementation/Sources.cs
  src/core/Akka.Streams/Implementation/StreamRef/SourceRefImpl.cs
Labels: akka-streams

#7522 chore: clean up build warnings
  src/Directory.Build.props
  src/GlobalSuppressions.cs
  src/contrib/testkits/Akka.TestKit.Xunit/XunitAssertions.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCoordination.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCoordination.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.Net.verified.txt
  src/core/Akka.Coordination/LeaseTimeoutException.cs
  src/core/Akka.Persistence.Tests/AtLeastOnceDeliverySpec.cs
  src/core/Akka.Persistence.Tests/PersistentActorSpec.Actors.cs
  src/core/Akka.Persistence.Tests/PersistentActorSpecAsyncAwait.Actors.cs
  src/core/Akka.Persistence/Journal/EventSequences.cs
  src/core/Akka.Remote.Tests/AckedDeliverySpec.cs
  src/core/Akka.Streams.Tests/Akka.Streams.Tests.csproj
  src/core/Akka.Streams.Tests/Dsl/LazySinkSpec.cs
  src/core/Akka.Streams.Tests/ScriptedTest.cs
  src/core/Akka.Tests.Shared.Internals/Helpers/XAssert.cs
  src/core/Akka/Actor/ActorCell.Children.cs
  src/core/Akka/Actor/ChildrenContainer/Internal/ChildrenContainer.cs
  src/core/Akka/Actor/ChildrenContainer/Internal/ChildrenContainerBase.cs
  src/core/Akka/Actor/ChildrenContainer/Internal/NormalChildrenContainer.cs
  src/core/Akka/Actor/ChildrenContainer/Internal/TerminatingChildrenContainer.cs
  src/core/Akka/Dispatch/Mailbox.cs
  src/core/Akka/Pattern/BackoffSupervisor.cs
  src/core/Akka/Routing/RouterConfig.cs
Labels: tests, akka-testkit

#7531 Akka.Streams: Have `SelectAsyncUnordered` use local `async` function instead of `ContinueWith`
  src/core/Akka.Streams.Tests/Dsl/FlowSelectAsyncSpec.cs
  src/core/Akka.Streams.Tests/Dsl/FlowSelectAsyncUnorderedSpec.cs
  src/core/Akka.Streams/Dsl/FlowOperations.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: akka-streams

#7539 `TcpSpec`: harden `ChainOfEchoes` spec
  src/core/Akka.Streams.Tests/IO/TcpSpec.cs
Labels: tests, akka-io, akka-streams

#7540 Akka.Persistence.TestKt.Tests: fix `JournalInterceptorSpec`
  src/core/Akka.Persistence.TestKit.Tests/JournalInterceptorsSpecs.cs
Labels: tests, akka-persistence, akka-testkit

#7542 CodeQL: fix `net48` breakage
  src/core/Akka.Streams.Tests/IO/TcpSpec.cs
  src/core/Akka.Tests/IO/TcpIntegrationSpec.cs
Labels: build system

#7544 Akka.Persistence.Query.InMemory.Tests: standardize `refresh-interval`
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryAllEventsSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryCurrentAllEventsSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryCurrentEventsByPersistenceIdSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryCurrentEventsByTagSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryCurrentPersistenceIdsSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryEventsByPersistenceIdSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryEventsByTagSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryPersistenceIdsSpec.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory.Tests/InMemoryPersistenceSpecConfig.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory/EventsByPersistenceIdPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory/InMemoryReadJournal.cs
  src/core/Akka.Persistence/Journal/MemoryJournal.cs
Labels: tests, akka-persistence-query

#7545 Fix racy `PersistentFsmSpec`s
  src/core/Akka.Persistence.Tests/Fsm/PersistentFSMSpec.cs
Labels: tests, akka-persistence

#7543 `SelectAsync`: check equality by reference on placeholder, rather than by value on `struct`
  src/core/Akka.Streams.Tests/Dsl/FlowSelectAsyncSpec.cs
  src/core/Akka.Streams/Dsl/Internal/InternalFlowOperations.cs
  src/core/Akka.Streams/Dsl/SourceOperations.cs
  src/core/Akka.Streams/Implementation/Fusing/Ops.cs
Labels: confirmed bug, akka-streams

#7547 Chore: remove unused `IMemoryJournal` API
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.Net.verified.txt
  src/core/Akka.Persistence.Tests/Journal/ChaosJournal.cs
  src/core/Akka.Persistence/Journal/MemoryJournal.cs
Labels: tests, akka-persistence

#7548 Akka.Peristence.Query.InMemory: properly unwrap `Tagged` messages in all queries
  src/contrib/persistence/Akka.Persistence.Query.InMemory/AllEventsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory/EventsByPersistenceIdPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory/EventsByTagPublisher.cs
  src/contrib/persistence/Akka.Persistence.Query.InMemory/MemoryQueryJournalHelpers.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.Net.verified.txt
  src/core/Akka.Persistence.Query/EventEnvelope.cs
  src/core/Akka.Persistence/Journal/MemoryJournal.cs
Labels: akka-persistence-query

#7553 Akka.Persistence.TestKit.Tests: fix `SnapshotStoreInterceptors` race condition
  src/core/Akka.Persistence.TestKit.Tests/SnapshotStoreInterceptorsSpec.cs
Labels: confirmed bug, tests

#7538 Resolve Akka.Delivery and Akka.Cluster.Sharding.Delivery issues
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Delivery/ReliableDeliveryShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Delivery/Internal/ShardingProducerControllerImpl.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Delivery/ShardingProducerController.cs
  src/core/Akka/Delivery/Internal/ConsumerControllerImpl.cs
Labels: akka-cluster-sharding, akka-delivery

#7554 Akka.Streams.Test: harden `FlowThrottleSpecs`
  src/core/Akka.Streams.Tests/Dsl/FlowThrottleSpec.cs
Labels: tests, akka-streams

#7551 Remove Akka.Persistence.Sql.Common and Akka.Persistence.Query.Sql
  docs/articles/persistence/persistence-query.md
  src/Akka.sln
  src/contrib/persistence/Akka.Persistence.Query.Sql/Akka.Persistence.Query.Sql.csproj
  src/contrib/persistence/Akka.Persistence.Query.Sql/Properties/AssemblyInfo.cs
  src/contrib/persistence/Akka.Persistence.Sql.Common/Akka.Persistence.Sql.Common.csproj
  src/contrib/persistence/Akka.Persistence.Sql.TestKit/Akka.Persistence.Sql.TestKit.csproj
  src/contrib/persistence/Akka.Persistence.Sql.TestKit/Properties/AssemblyInfo.cs
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Akka.Persistence.Sqlite.Tests.csproj
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/AssemblyVersioning/BackwardsCompatSqliteJournalSpec.cs
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Infrastructure/DefaultConfigSpec.cs
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Infrastructure/SqlJournalConnectionFailureSpec.cs
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Infrastructure/SqlSnapshotConnectionFailureSpec.cs
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/Infrastructure/TestActor.cs
  src/contrib/persistence/Akka.Persistence.Sqlite.Tests/SqliteConfigSpec.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Akka.Persistence.Sqlite.csproj
  src/contrib/persistence/Akka.Persistence.Sqlite/Extensions/DbConnectionExtensions.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Extensions/IsolationLevelExtensions.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Journal/BatchingSqlJournal.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Journal/BatchingSqliteJournal.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Journal/ITimestampProvider.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Journal/Messages.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Journal/MultiValueDictionaryExtensions.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Journal/QueryApi.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Journal/QueryExecutor.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Journal/SqlJournal.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Properties/AssemblyInfo.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Query/AllEventsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Query/AllPersistenceIdsPublisher.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Query/DeliveryBuffer.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Query/EventsByPersistenceIdPublisher.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Query/EventsByTagPublisher.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Query/QueryThrottler.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Query/SqlReadJournal.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Query/SqlReadJournalProvider.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Settings.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Snapshot/QueryExecutor.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/Snapshot/SqlSnapshotStore.cs
  src/contrib/persistence/Akka.Persistence.Sqlite/query.conf
  src/contrib/persistence/Akka.Persistence.Sqlite/sqlite.conf
  src/core/Akka.API.Tests/Akka.API.Tests.csproj
  src/core/Akka.API.Tests/CoreAPISpec.cs
Labels: akka-persistence-sql-common

#7561 Akka.Streams.TestKit: remove all `ConfigureAwait(false)`
  src/core/Akka.Streams.TestKit/PublisherFluentBuilder.cs
  src/core/Akka.Streams.TestKit/StreamTestKit.cs
  src/core/Akka.Streams.TestKit/SubscriberFluentBuilder.cs
  src/core/Akka.Streams.TestKit/TestPublisher.cs
  src/core/Akka.Streams.TestKit/TestPublisher_Fluent.cs
  src/core/Akka.Streams.TestKit/TestSubscriber.cs
  src/core/Akka.Streams.TestKit/TestSubscriber_Fluent.cs
  src/core/Akka.Streams.TestKit/TestSubscriber_Shared.cs
  src/core/Akka.Streams.TestKit/Utils.cs
  src/core/Akka.Streams.Tests/Dsl/FlowSelectAsyncSpec.cs
Labels: akka-streams, akka-testkit

#7563 Add logging to `DistributedPubSubRestartSpecs`
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/PublishSubscribe/DistributedPubSubRestartSpec.cs
Labels: multi node spec, logging, akka-cluster-tools

#7566 harden `QueueSinkSpec`
  src/core/Akka.Streams.Tests/Dsl/QueueSinkSpec.cs
Labels: tests, akka-streams

#7569 Akka.Tests: fixed build warnings
  src/core/Akka.Tests/Actor/ActorLookupSpec.cs
  src/core/Akka.Tests/Actor/ActorRefSpec.cs
  src/core/Akka.Tests/Actor/ActorSystemSpec.cs
  src/core/Akka.Tests/Actor/DeathWatchSpec.cs
  src/core/Akka.Tests/Actor/Dispatch/ActorModelSpec.cs
  src/core/Akka.Tests/Configuration/ConfigurationSpec.cs
  src/core/Akka.Tests/Dispatch/AsyncAwaitSpec.cs
  src/core/Akka.Tests/IO/TcpIntegrationSpec.cs
  src/core/Akka.Tests/IO/UdpConnectedIntegrationSpec.cs
  src/core/Akka.Tests/Pattern/BackoffOnRestartSupervisorSpec.cs
  src/core/Akka.Tests/Pattern/CircuitBreakerSpec.cs
  src/core/Akka.Tests/Routing/ListenerSpec.cs
  src/core/Akka.Tests/Routing/SmallestMailboxSpec.cs
Labels: tests, akka-actor

#7279 Akka.Cluster: Fix AK1004 warnings
  src/core/Akka.Cluster/ClusterDaemon.cs
  src/core/Akka.Cluster/ClusterHeartbeat.cs
Labels: akka-cluster, rosyln-analyzer

#7567 Akka.Remote: fixed all build warnings
  src/core/Akka.Remote/Endpoint.cs
  src/core/Akka.Remote/EndpointManager.cs
  src/core/Akka.Remote/RemoteWatcher.cs
  src/core/Akka.Remote/Transport/AkkaPduCodec.cs
  src/core/Akka.Remote/Transport/DotNetty/BatchWriter.cs
  src/core/Akka.Remote/Transport/DotNetty/DotNettyTransportSettings.cs
Labels: akka-remote

#7570 Akka.DistributedData.Tests: resolved all build warnings
  src/contrib/cluster/Akka.DistributedData.Tests/ORDictionarySpec.cs
Labels: tests, akka-ddata

#7571 fixed all `ClusterSingletonManager.DefaultConfig()` build warnings
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/MultiNodeClusterShardingConfig.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/ShardedDaemonProcessSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingInternalsSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingMessageSerializerSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ClusterShardingSettingsSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/CoordinatedShutdownShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/EntityTerminationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/External/ExternalShardAllocationStrategySpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/GetShardTypeNamesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/InactiveEntityPassivationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Internal/RememberEntitiesShardStoreSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Internal/RememberEntitiesStarterSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/PersistentShardingMigrationSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/PersistentStartEntitySpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ProxyShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/RememberEntitiesBatchedUpdatesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/RememberEntitiesShardIdExtractorChangeSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardEntityFailureSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardRegionQueriesHashCodeSpecs.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardRegionQueriesSpecs.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardRegionSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardWithLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardingQueriesSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/StartEntitySpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterSharding.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerChaosSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerDownedSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerLeaseSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerLeave2Spec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerLeaveSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests.MultiNode/Singleton/ClusterSingletonManagerStartupSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools.Tests/Singleton/ClusterSingletonMessageSerializerSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonManagerSettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonProxySettings.cs
  src/contrib/cluster/Akka.Cluster.Tools/Singleton/ClusterSingletonSettings.cs
Labels: tests

#7572 fixed Akka.TestKit build warnings
  src/core/Akka.Streams/ActorMaterializer.cs
  src/core/Akka.TestKit/CallingThreadDispatcher.cs
Labels: akka-testkit
