Repository akkadotnet/akka.net, pull requests merged in 2025-07, with the labels that each got.

#7720 Stop failing remembered entity if supervisor strategy failed
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/RememberEntitiesSupervisionStrategyDecisionSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/ShardEntityFailureSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ClusterShardingSettings.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Shard.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardSupervisionStrategy.cs
  src/contrib/cluster/Akka.Cluster.Sharding/ShardingMessages.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveClusterSharding.Net.verified.txt
Labels: akka-cluster-sharding

#7725 docs: added Akka.Cluster SBR video to docs
  docs/articles/clustering/split-brain-resolver.md
Labels: akka-cluster, docs

#7727 DnsExt: Resolve ManagerClass Type from IDnsProvider
  src/core/Akka/IO/Dns.cs
Labels: akka-io
