Repository akkadotnet/akka.net, pull requests merged in 2025-05, with the labels that each got.

#7613 remove redundant catch
  src/core/Akka.Persistence.TestKit/Journal/TestJournal.cs
Labels: tests, akka-persistence

#7616 Improve ExpectNextNAsync error message clarity
  src/core/Akka.Streams.TestKit/TestSubscriber_Shared.cs
Labels: tests, akka-streams

#7618 Akka.Benchmarks: categorize and cleanup core `Akka` benchmarks
  src/benchmark/Akka.Benchmarks/Actor/ActorMemoryFootprintBenchmark.cs
  src/benchmark/Akka.Benchmarks/Actor/ActorMessagingMemoryPressureBenchmark.cs
  src/benchmark/Akka.Benchmarks/Actor/ActorPathBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Actor/ActorRefBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Actor/ActorSelectionBenchmark.cs
  src/benchmark/Akka.Benchmarks/Actor/AddressBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Actor/FsmBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Actor/GetChildBenchmark.cs
  src/benchmark/Akka.Benchmarks/Actor/PingPongBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Actor/SpawnActorBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Configurations/BenchmarkCategories.cs
  src/benchmark/Akka.Benchmarks/Configurations/Configs.cs
  src/benchmark/Akka.Benchmarks/EventStream/EventStreamBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Hocon/HoconBenchmarks.cs
  src/benchmark/Akka.Benchmarks/IO/ByteStringBenchmarks.cs
  src/benchmark/Akka.Benchmarks/IO/TcpOperationsBenchmarks.cs
  src/benchmark/Akka.Benchmarks/Logging/LoggingBenchmarks.cs
Labels: perf

#7620 Akka.Benchmark: harden `TcpOperationsBenchmark`
  src/benchmark/Akka.Benchmarks/Configurations/Configs.cs
  src/benchmark/Akka.Benchmarks/IO/TcpOperationsBenchmarks.cs
Labels: akka-io, perf

#7621 Akka.IO.Tcp: cleaning up `TBD`s and API junk
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/IO/TcpListenerSpec.cs
  src/core/Akka/IO/Tcp.cs
  src/core/Akka/IO/TcpManager.cs
Labels: akka-io, perf

#7623 Akka.IO: fix `TcpListener` connection queue problem
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Tests/IO/TcpListenerSpec.cs
  src/core/Akka.Tests/IO/TcpSettingsSpec.cs
  src/core/Akka/Configuration/akka.conf
  src/core/Akka/IO/Tcp.cs
  src/core/Akka/IO/TcpListener.cs
  src/core/Akka/IO/TcpManager.cs
  src/core/Akka/IO/TcpSettings.cs
Labels: akka-io

#7595 Feature/7582
  docs/articles/persistence/custom-persistence-provider.md
  docs/articles/persistence/storage-plugins.md
  src/core/Akka.Persistence.Tests/PersistenceConfigSpec.cs
  src/core/Akka.Persistence/Journal/AsyncWriteJournal.cs
  src/core/Akka.Persistence/Journal/WriteJournal.cs
  src/core/Akka.Persistence/Persistence.cs
  src/core/Akka.Persistence/persistence.conf
  src/core/Akka/Actor/SupervisorStrategy.cs
Labels: akka-persistence

#7625 Convert flaky SelectAsync test to [Fact] for CI validation
  src/core/Akka.Streams.Tests/Dsl/FlowSelectAsyncSpec.cs
Labels: tests, akka-streams

#7624 Introduce CancellationToken to `WithCircuitBreaker`
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/AsyncWriteProxyEx.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests.MultiNode/SnapshotStoreProxy.cs
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Bugfix7399Specs.cs
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApprovePersistence.Net.verified.txt
  src/core/Akka.Docs.Tests/Utilities/CircuitBreakerDocSpec.cs
  src/core/Akka.Persistence.TestKit/Journal/TestJournal.cs
  src/core/Akka.Persistence.TestKit/SnapshotStore/TestSnapshotStore.cs
  src/core/Akka.Persistence.Tests/Journal/ChaosJournal.cs
  src/core/Akka.Persistence.Tests/Journal/SteppingMemoryJournal.cs
  src/core/Akka.Persistence.Tests/PersistentActorDeleteFailureSpec.cs
  src/core/Akka.Persistence.Tests/PersistentActorFailureSpec.cs
  src/core/Akka.Persistence.Tests/SnapshotFailureRobustnessSpec.cs
  src/core/Akka.Persistence/Journal/AsyncRecovery.cs
  src/core/Akka.Persistence/Journal/AsyncWriteJournal.cs
  src/core/Akka.Persistence/Journal/AsyncWriteProxy.cs
  src/core/Akka.Persistence/Journal/MemoryJournal.cs
  src/core/Akka.Persistence/Snapshot/LocalSnapshotStore.cs
  src/core/Akka.Persistence/Snapshot/MemorySnapshotStore.cs
  src/core/Akka.Persistence/Snapshot/NoSnapshotStore.cs
  src/core/Akka.Persistence/Snapshot/SnapshotStore.cs
  src/core/Akka.Tests/Pattern/CircuitBreakerSpec.cs
  src/core/Akka.Tests/Pattern/CircuitBreakerStressSpec.cs
  src/core/Akka/Pattern/CircuitBreaker.cs
  src/core/Akka/Pattern/CircuitBreakerState.cs
  src/core/Akka/Util/Internal/AtomicState.cs
  src/examples/Akka.Persistence.Custom/Journal/SqliteJournal.cs
  src/examples/Akka.Persistence.Custom/Snapshot/SqliteSnapshotStore.cs
Labels: akka-persistence, api-change

#7635 Try Incrementalist 1.1.0-beta1
  .config/dotnet-tools.json
Labels: build system

#7636 Remove unused `Build` stage from `REAME.md`
  README.md
Labels: build system

#7638 Akka.IO Benchmarks: cache outbound `Tcp.Write`
  src/benchmark/Akka.Benchmarks/IO/TcpOperationsBenchmarks.cs
Labels: akka-io, perf

#7641 docs: add real `Akka.Discovery` and `Akka.Management` documentation to the website
  .gitignore
  docs/articles/discovery/akka-management.md
  docs/articles/discovery/index.md
  docs/articles/discovery/toc.yml
  docs/images/cluster/akka-management/discovery-pinging.png
  docs/images/cluster/akka-management/discovery-startup.png
  docs/images/cluster/akka-management/forming-cluster.png
  docs/images/cluster/akka-management/fully-formed-cluster.png
  docs/images/cluster/akka-management/seed-nodes-1.png
  docs/images/cluster/akka-management/seed-nodes-2.png
Labels: akka-cluster, docs, akka-discovery

#7643 Akka.Actor: remove `TBD`s
  .gitignore
  src/core/Akka/Actor/ActorRefProvider.cs
  src/core/Akka/Actor/ActorSelection.cs
  src/core/Akka/Actor/ChildrenContainer/Internal/ChildStats.cs
  src/core/Akka/Actor/Inbox.cs
  src/core/Akka/Actor/RepointableActorRef.cs
  src/core/Akka/ActorState.cs
  src/core/Akka/Dispatch/CachingConfig.cs
  src/core/Akka/Dispatch/SysMsg/ISystemMessage.cs
  src/core/Akka/Event/DefaultLogger.cs
  src/core/Akka/Event/EventBusUnsubscriber.cs
  src/core/Akka/Helios.Concurrency.DedicatedThreadPool.cs
  src/core/Akka/IO/Dns.cs
  src/core/Akka/IO/SimpleDnsCache.cs
  src/core/Akka/IO/SimpleDnsManager.cs
  src/core/Akka/IO/Udp.cs
  src/core/Akka/IO/UdpConnected.cs
  src/core/Akka/Pattern/CircuitBreaker.cs
  src/core/Akka/Pattern/CircuitBreakerState.cs
  src/core/Akka/Serialization/Serializer.cs
  src/core/Akka/Util/AtomicReference.cs
  src/core/Akka/Util/Base64Encoding.cs
  src/core/Akka/Util/ConcurrentSet.cs
  src/core/Akka/Util/Either.cs
  src/core/Akka/Util/ISurrogate.cs
  src/core/Akka/Util/Index.cs
  src/core/Akka/Util/ListPriorityQueue.cs
  src/core/Akka/Util/MatchHandler/CachedMatchCompiler.cs
  src/core/Akka/Util/MatchHandler/HandlerKind.cs
  src/core/Akka/Util/MonotonicClock.cs
  src/core/Akka/Util/MurmurHash.cs
  src/core/Akka/Util/Option.cs
  src/core/Akka/Util/StringFormat.cs
  src/core/Akka/Util/StringLike.cs
  src/core/Akka/Util/Switch.cs
  src/core/Akka/Util/TokenBucket.cs
  src/core/Akka/Util/Vector.cs
  src/core/Akka/Util/WildcardTree.cs
Labels: akka-actor, docs

#7645 Akka.Benchmarks: adding `ActorPath.GetHashCode` benchmarks
  src/benchmark/Akka.Benchmarks/Actor/ActorPathBenchmarks.cs
Labels: akka-actor, perf

#7642 Optimize DistributedPubSub memory allocation
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSubMediator.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/Internal/Topics.cs
Labels: akka-cluster-tools, perf

#7646 `DistributedPubSub`: clearer logging when `DeadLetter` publishing due to no subscribers
  AGENT.md
  src/contrib/cluster/Akka.Cluster.Tools.Tests/PublishSubscribe/DistributedPubSubDeadLetterSpec.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DeadLetterWithNoSubscribers.cs
  src/contrib/cluster/Akka.Cluster.Tools/PublishSubscribe/DistributedPubSubMediator.cs
  src/core/Akka/Event/DeadLetterListener.cs
Labels: logging, akka-cluster-tools

#7651 Akka.Benchmarks: run real duplex messaging over Akka.IO.Tcp
  src/benchmark/Akka.Benchmarks/IO/TcpOperationsBenchmarks.cs
  src/core/Akka/IO/TcpConnection.cs
Labels: akka-io, perf

#7648 Akka.IO: validate we don't lose data when processing `Tcp.Received`
  src/core/Akka.Tests/IO/TcpIntegrationSpec.cs
Labels: tests, akka-io

#7653 remove TestValue output
  Directory.Build.props
Labels: build system

#7665 Add PublishWithAck documentation
  docs/articles/clustering/distributed-publish-subscribe.md
  src/examples/Cluster/PublishSubscribe/SamplePublisher/PublisherWithAck.cs
Labels: docs, akka-cluster-tools

#7670 Allow sharding delivery consumer to passivate self
  src/contrib/cluster/Akka.Cluster.Sharding.Tests/Delivery/DurableRememberEntitiesShardingSpec.cs
  src/contrib/cluster/Akka.Cluster.Sharding/Delivery/Internal/ShardingConsumerControllerImpl.cs
Labels: akka-cluster-sharding, akka-delivery
