Repository akkadotnet/akka.net, pull requests merged in 2025-09, with the labels that each got.

#7798 Fix metrics specs race conditions
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/Base/AkkaSpecWithCollector.cs
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/MetricSpec.cs
  src/contrib/cluster/Akka.Cluster.Metrics.Tests/MetricsCollectorSpec.cs
Labels: tests, akka-cluster-metrics

#7806 fix `Replicator.ReceiveUnsubscribe` boolean logic
  src/contrib/cluster/Akka.DistributedData/Replicator.cs
Labels: akka-ddata

#7810 Fix IIS/Windows Service console race condition (#7691) (#7793) [porting from v1.5 to dev]
  src/core/Akka.Tests/Loggers/StandardOutWriterSpec.cs
  src/core/Akka/Event/DefaultLogger.cs
  src/core/Akka/Util/StandardOutWriter.cs
Labels: logging, akka.net v1.6

#7812 Update incrementalist version to 1.1.0
  .config/dotnet-tools.json
Labels: build system

#7796 Fix `StreamOfStreams` with atomic CompareExchange
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.DotNet.verified.txt
  src/core/Akka.API.Tests/verify/CoreAPISpec.ApproveCore.Net.verified.txt
  src/core/Akka.Streams.Tests/Dsl/FlowIdleInjectSpec.cs
  src/core/Akka.Streams/Implementation/Fusing/StreamOfStreams.cs
  src/core/Akka/Util/AtomicReference.cs
Labels: akka-actor, akka-streams

#7824 Propagate error from DotNetty TLS handshake failure to Akka.Remote
  src/core/Akka.Remote.Tests/Transport/DotNettyTlsHandshakeFailureSpec.cs
  src/core/Akka.Remote/Transport/DotNetty/TcpTransport.cs
Labels: akka-remote, dotnetty

#7826 Harden Akka.Streams.Tests.FlowLogSpec
  src/core/Akka.Streams.Tests/Dsl/FlowLogSpec.cs
Labels: tests, logging, akka-streams

#7831 Fix race condition in ClusterLogSpec tests
  src/core/Akka.Cluster.Tests/ClusterLogSpec.cs
Labels: tests, akka-cluster

#7832 Fix race condition in SubSource double materialization error handling
  src/core/Akka.Streams/Implementation/Fusing/StreamOfStreams.cs
Labels: tests, akka-streams

#7833 Fix race condition in KeepAliveConcatSpec test
  src/core/Akka.Streams.Tests/Dsl/KeepAliveConcatSpec.cs
Labels: tests, akka-streams

#7830 Akka.Streams: Fix `Source.Failed` race condition by implementing as `GraphStage`
  src/core/Akka.Streams/Dsl/Hub.cs
  src/core/Akka.Streams/Dsl/Source.cs
  src/core/Akka.Streams/Implementation/FailedSource.cs
Labels: akka-streams

#7836 Harden Akka.Streams.Tests.Dsl.FlowPrefixAndTailSpec.PrefixAndTail_must_throw_if_tail_is_attempted_to_be_materialized_twice
  src/core/Akka.Streams.Tests/Dsl/FlowPrefixAndTailSpec.cs
Labels: tests, akka-streams

#7839 Fix TLS handshake error handling
  src/core/Akka.Remote.Tests/Transport/DotNettyTlsHandshakeFailureSpec.cs
  src/core/Akka.Remote/Configuration/Remote.conf
  src/core/Akka.Remote/Endpoint.cs
  src/core/Akka.Remote/EndpointManager.cs
  src/core/Akka.Remote/Transport/DotNetty/TcpTransport.cs
Labels: akka-remote, dotnetty
